[2015-01-31 03:38] freiguy1 opened #2 "A problem with regex_macros"
At runtime, I'm getting an error:

`error while loading shared libraries: libregex_macros-[...].so`

after adding a reference to this library.  After asking about this on irc, burntsushi said

He then added why:

Could you fix this or get back to me on how I can continue on without it? Thanks!

[2015-01-31 20:06] freiguy1 opened #4 "Triple stash excaping potential bug"
I'm sending a string of html in the model.  Say it looks something like this:

`{ body : "<h1>hello</h1>\n<p>world</p>" }`

`{{{body}}}` would get rendered like this:

in the browser.  The '\n" actually shows up when the page is rendered.  Instead, I think \n's should just be new lines in html, not \\n in the html string.

Thanks!

[2015-01-31 21:00] freiguy1 commented on #4
It looks like it's escaping other things it shouldn't like apostrophes.  I have html that shows up like

` <h3 id=\"hello-world!\" class='section-header'>` when using triple stash

[2015-02-04 03:40] sunng87 commented on #2
Thanks for the information and patch.

[2015-02-04 03:42] #2 closed

[2015-02-04 03:48] sunng87 commented on #4
Thanks for reporting. I will make a test case for this and look into it later today. Seems to be a bug.

[2015-02-04 07:04] freiguy1 commented on #4
Thanks for checking into these!  I think the issue is around [here](https://github.com/sunng87/handlebars-rust/blob/f53e4b16cdd62f1988235c73a45607333e6643d1/src/context.rs#L110).  You may want to somehow replace all \\n, \\r, \\", \\\\, \\t strings with the escaped version.  Maybe you have a fancier way of trying it out.  I guess this is just how the json lib formats strings: [http://is.gd/GFqmML]

[2015-02-04 07:31] sunng87 commented on #4
I'm using the fmt function to render Json values. And it did something more for `Json::String. Perhaps I will just add a special case for `Json::String` and get the content instead of using `fmt` directly, see http://is.gd/avzd6o

[2015-02-04 15:59] freiguy1 commented on #4
That looks great!

[2015-02-05 06:01] sunng87 commented on #4
This issue should be fixed. Please run `cargo update` to get latest build.

Also I'm quite interested in your project. If you meet any issue with handlebars, please let me know.

[2015-02-05 14:29] #4 closed

[2015-02-05 14:35] sunng87 opened #5 "Change render function to work with a writer"
The current implementation is totally string based, that means we need to store everything in memory. A writer oriented impl would compatible with current one, but also be flexible to larger data.

[2015-02-06 16:19] freiguy1 commented on #4
Thanks a lot! I'm working on a project that will generate a static website using an arbitrarily complex structure of nested markdown files and directories. Mainly for taking notes and being able to deploy/keep a history via git.  It's similar to the jekyll idea but less blog-like.  For the time being, a working version is at [notes.ethanfrei.com](http://notes.ethanfrei.com).

[2015-02-12 05:44] sunng87 opened #7 "handlebars 3.0"
Seems there are a lot of new features in handlebars 3.0:
https://github.com/wycats/handlebars.js/blob/master/release-notes.md#v300---february-10th-2015

I will pick those applicable for handlebars-rust and implement.

[2015-02-12 07:37] sunng87 opened #8 "Subexpression support as param and partial include"
Support syntax like:

[code]

and

[code]

[2015-02-12 07:41] sunng87 opened #9 "expression as hash value,"
support syntax like

[code]

[2015-02-12 07:44] sunng87 opened #10 "Support ~ for eliminating whitespaces between nodes"
Syntax

[code]

`~` is to remove whitespaces before or after helpers

[2015-02-12 07:47] sunng87 opened #11 "^ as else"
Support

[code]

[2015-02-12 07:53] sunng87 opened #12 "Chained else expression"
Support syntax

[code]

https://github.com/wycats/handlebars.js/pull/892

[2015-02-12 08:22] sunng87 commented on #7
Enhancement will be introduced in #8 , #9, #10, #11, #12

Features won't be supported currently:

* block params (https://github.com/wycats/handlebars.js/pull/906)
* named helper variable references (https://github.com/wycats/handlebars.js/issues/907)

[2015-03-15 01:57] #11 closed

[2015-03-15 01:58] sunng87 commented on #10
The current parser should have issue when dealing with `{{{~ xxx ~}}}`. The current workaround is to write in this way: `{{~{ xxx }~}}`.

[2015-03-15 01:58] #7 closed

[2015-04-12 13:08] hugoduncan opened #18 "RenderError should impl std::error::Error"
To aid in error conversions and reporting, `RenderError` should implement the `std::error::Error` trait.

[2015-04-12 13:19] hugoduncan opened #19 "Consider using rustc_serialize::json::encode to obtain json"
Rather than force every structure to implement the `ToJson` trait, it might be preferable to allow users to just add a `#[derive(RustcEncodable)]` on their structs, and handlebars can obtain a JSON value via the `rustc_serialize::json::encode` function.

[2015-04-13 01:33] Vayn commented on #19
+1

And according to this post: [What's the difference between the “serialize” and “rustc-serialize” crates?][1], I recommend to use [Serde][2] and its macros to serialize/deserialize a struct to/from JSON instead of _rustc-serialize_.

  [1]: http://stackoverflow.com/questions/28456813/whats-the-difference-between-the-serialize-and-rustc-serialize-crates/28457675#28457675
  [2]: https://github.co

[2015-04-13 01:50] hugoduncan commented on #19
I can second the recommendation for Serde, although it does require rust nightly to use it.

[2015-04-13 03:07] sunng87 commented on #19
Note that we don't actually serialize data to JSON. We just use the `ToJson` trait as a type system. Because handlebars is designed against JavaScript, whose type system isn't fully compatible with Rust. Currently, `ToJson` is a good way to convert Rust types into JavaScript types.

Yes, we need a macro for users to generate their `ToJson` impl easily.

[2015-04-13 05:33] Vayn commented on #19
Thanks, I understand why you use `Json` enum and `ToJson` trait for transforming Rust type and JavaScript type. It is little twisted for the purpose though... Macro is a better and clearer way.

[2015-04-13 05:46] sunng87 commented on #19
@Vayn patches are always welcomed :-)

[2015-04-15 02:51] hugoduncan commented on #19
Another possibility, when using serde at least, would be to write your own `Serializer` implementation that returned a `BTreeMap` of values.  This would remove the need to implement `ToJson` and the need for a custom macro.

[2015-04-15 14:48] sunng87 commented on #19
@hugoduncan I didn't look into Serde, is it easier to implement Serializer of Serde than ToJson of rustc-serialize?

Because most `ToJson` implementation will be: create a map, put every field into it. Perhaps we can find some meta-programming techniques to deal with this. Not sure if Rust has something for that.

[2015-04-15 15:19] hugoduncan commented on #19
@sunng87 The `Serializer` would be something that rust-handlebars would implement.  Users would then just mark structs with `#[derive(Serialize)]`.

[2015-04-16 11:03] sunng87 commented on #19
@hugoduncan Iooked at Serde, I would like to implement a  custom derive for handlebars that generates `ToJson` implementation. It would be compatible with current type system, but also reduce repeated `ToJson` impl.

[2015-04-19 12:26] sunng87 commented on #19
@hugoduncan @Vayn check out [tojson_macros](https://github.com/sunng87/tojson_macros) I just made for generating default `ToJson` imp.

[2015-04-19 13:10] Vayn commented on #19
I'm still learning how to make a procedural macro for custom struct.

@sunng87 You're amazing! :+1:

[2015-04-21 05:29] sunng87 commented on #19
@Vayn :)

I'll close this for now. Feel free to reopen if there's any question.

[2015-04-21 05:29] #19 closed

[2015-05-09 15:34] #18 closed

[2015-06-10 22:06] sitnin opened #23 "Doesn't allow dynamic partials"
Handlebars has a "dynamically named partials". It looks like ```{{> (partialTplName) }}```

```partialTplName``` is a context variable which hbs should interpolate and use proper partial.

I took handlebars-iron's example, extracted partial and passed it's name to the Template's context. If I use partial's filename directly or just printing partialTplName with ```{{partialTplName}}``` it looks lik

[2015-06-11 02:15] sunng87 commented on #23
Yes, the `{{> (...)}}` expression is not supported by handlebar-rust currently. I will find some time to add this feature.

[2015-06-11 08:33] sitnin commented on #23
It would be great! :)

[2015-06-14 07:24] #8 closed

[2015-06-14 07:25] sunng87 commented on #23
@sitnin This should be supported now. Please `cargo update` and check if it works for you.

[2015-07-03 15:53] #5 closed

[2015-07-23 11:37] SkylerLipthay opened #28 "Support for partial context/parameters"
[Partial context](http://handlebarsjs.com/partials.html#partial-context) and [partial parameters](http://handlebarsjs.com/partials.html#partial-parameters) seem to be unsupported by `IncludeHelper`. How much work would it take to implement these features? With some direction, I would be happy to contribute.

[2015-07-23 14:32] sunng87 commented on #28
Thanks for reporting.

In order to support partial context and partial parameters, we need to get informations from `IncludeHelper`'s parameter and hash, and update the context `c` we use to [render](https://github.com/sunng87/handlebars-rust/blob/master/src/helpers/helper_partial.rs#L27).

[2015-07-23 14:34] sunng87 commented on #28
If you are going to take this feature, please kindly let me know. Otherwise I will start to work on it this weekend. :smiley:

[2015-07-23 23:39] SkylerLipthay commented on #28
Thanks for the help!

I tried to implement partial contexts with SkylerLipthay/handlebars-rust@e615afe. The test passes, but only if you provide a path as the context parameter. Apparently the official handlebars.js supports passing string values as context as well, but I'm not sure how to best support this.

[2015-07-26 11:12] sunng87 commented on #28
@SkylerLipthay currently handlebars-rust doesn't support (at least not tested) string values as context.
Could you please make a PR with current code? And I will look into what to change in feature.

Thanks!

[2015-07-31 14:47] sunng87 commented on #28
@SkylerLipthay is it OK for me to cherry-pick your commit into my feature branch?  I'm planning to work on this.

[2015-07-31 14:53] #10 closed

[2015-07-31 14:53] #23 closed

[2015-07-31 14:53] sunng87 opened #30 "Improve error reporting"

[2015-07-31 21:17] SkylerLipthay commented on #28
My apologies! I did not get your prior message until just now. Please feel free to accept the PR or cherrypick the commit, whatever is easier.

Thank you for working on this.

[2015-08-01 02:10] sunng87 commented on #28
Never mind! Thanks for the PR. I will merge it into mainline.

[2015-08-01 11:16] azerupi opened #32 "subexpression problem"
Hi, I have been using handlebars-rust in my project: [mdBook](https://github.com/azerupi/mdBook) and before I bother you with my problem I want to thank you for your work on this crate :+1:

So it's my first time using handlebars, so maybe i am doing something wrong but I have this code:

[code]
And basically what I am trying to do is hide the block if the `previous` helper returns `""`.
But it wa

[2015-08-02 03:06] sunng87 commented on #32
Thanks for using handlebars-rust.

Here the `(previous)` subexpression returns an empty string `""`, then `if` will treat it as path instead of value. That means `if` will check to current context.

I think a better solution is to make `previous` a block helper. Your template will be like:

[code]

And in the previous helper, you need to check if the previous is existed.

If true,

Extending the c

[2015-08-02 03:25] sunng87 commented on #32
Just release 0.9.3 with `context.extend`. Don't be hesitate to contact me if you have any other questions. It's great for me to see more and more use case of this library.

[2015-08-02 11:26] azerupi commented on #32
Thanks a lot :)

I am really not familiar with handlebars, but I will try what you said and if I have a problem I will come back ;) Do you have a doc for handlebars-rust?

Could you explain why that happens? Because when used like `{{#previous}}{{/previous}}` it does return something.

[2015-08-03 20:04] azerupi commented on #32
Hey @sunng87,

I have tried what you said, it mostly works but I can't extend the context correctly.

So I have this bit of code

[code]

And in my template I used

[code]

But for whatever reason `{{link}}` is `null`

Do you know why?

[2015-08-04 02:49] sunng87 commented on #32
You should take the return value as new context:

[code]

Check the test case for example: https://github.com/sunng87/handlebars-rust/blob/master/src/context.rs#L269

To answer your previous question, the first argument of `if` is a path instead of a value. Handlebars will look up the context with your subexpression result, so it will always return nil and never enter `if` block.

[2015-08-04 10:06] azerupi commented on #32
Works like a charm!
Thank you very much for your help and keep up the good work :+1:

[2015-08-04 10:06] #32 closed

[2015-08-11 17:59] gsingh93 commented on #30
@sunng87 Can you start this off by adding the name of the template that wasn't found to the "Template not found" `RenderError` description?

[2015-08-12 20:12] gsingh93 opened #33 "Support array indexing"
It would be nice if templates could support the array indexing syntax described [here](https://stackoverflow.com/questions/8044219/handlebars-access-array-item).

Also, can the `{{lookup}}` helper be used with integer literals as the indices? It seems like the answer is no, this would also be nice to have.

[2015-08-12 20:19] gsingh93 commented on #33
More info on this syntax here: http://handlebarsjs.com/expressions.html

[2015-08-25 09:50] sunng87 commented on #33
Will look into this later. Currently I'm pretty busy so if you get a pull request for this, it's welcomed.

[2015-08-25 09:51] #28 closed

[2015-09-15 19:41] ihrwein opened #35 "support iterating over the `Registry`"
It'd be nice to be able to iterate over the registry like on a `BTreeMap`.

[2015-09-15 19:45] ihrwein commented on #35
ah I see we have a `get_templates()` method :) Sorry for disturbing you. And thanks for this great library :smile:

[2015-09-15 19:45] #35 closed

[2015-09-16 03:04] sunng87 commented on #33
expression like `a.b.[1]` and `a.b.[#comments]` are fully supported now.

I will look into `{{lookup}}` helper later.

[2015-09-16 04:36] ihrwein opened #36 "support "mass" rendering"
If I have a lot of templates and I want to render all of them with the same context It may be useful to convert the parameter into JSON once and use it on every templates. That would spare a `to_string()` in `renderw()`.

If you are open for this feature I think I can contribute it.

[2015-09-16 05:34] sunng87 commented on #36
If I understood correctly, you can convert your parameter to JSON once, because JSON itself is `ToJson`.

[2015-09-16 06:35] ihrwein commented on #36
I'd like to spare the multiple `to_json()` calls on the context. For example, if I have a `Registry` with `1000` templates and I'd like to render every one of them with the same context with the current API there is no way to reduce that thousang `to_json()` calls into one.

[2015-09-16 06:51] sunng87 commented on #36
Although the [ToJson implementation](https://github.com/rust-lang/rustc-serialize/blob/master/src/json.rs#L2371) for Json is just a clone, it's reasonable to avoid this waste. What will your API look like?

[2015-09-16 06:53] sunng87 commented on #36
Perhaps we can just change the `render` function (or add another one) to accept a `Json` instead of `ToJson`

[2015-09-16 07:11] ihrwein commented on #36
Here it is: https://github.com/sunng87/handlebars-rust/pull/37

[2015-09-16 07:36] ihrwein commented on #36
You can check the new `render_iter()` method. It can spare the multiple `to_json()` calls and even some `to_strings()`.

Maybe that new `render_*()` function would stand on it's own as a good idea as well.

[2015-09-17 13:26] tailhook commented on #30
+1, I don't think the template engine is usable without even tiny bit of error reporting.

[2015-09-17 15:14] sunng87 commented on #30
I understand. Just need some time for this. Pull requests are always welcomed.

[2015-09-19 14:12] sunng87 commented on #36
Supported in #39

[2015-09-19 14:12] #36 closed

[2015-09-19 16:17] sunng87 opened #40 "Serde-json to replace rustc-serialize?"
It seems [serde json](https://github.com/serde-rs/json) has been widely loved and used in rust community. Also it has a `Value`enum that quite similar to current `JSON` and can be used as our type system.

[2015-09-19 16:22] sunng87 commented on #40
Another idea is to support both of them, with or without feature option.

[2015-09-19 16:28] sunng87 commented on #40
In order to support both, we need to make `Context` a trait and implement with `RustcSerializeContext` and `SerdeContext`.

[2015-09-20 05:04] sunng87 commented on #40
Made some early attempt to this:

[code]

The key issue for this is it makes helpers development very complex. Our context is not only a path navigator, but also should allow helper developers to access data and type. If we have multiple type systems, helper developers has to implement for both/all of them. That doesn't work.

Closing this for now. And will wait to see if serde will continue grow

[2015-09-20 05:04] #40 closed

[2015-09-20 09:09] sunng87 commented on #33
implemented be2f163

[2015-09-20 09:09] #33 closed

[2015-10-01 03:54] sunng87 commented on #30
Error report and line_no has been added to 0.11.0 and released to crates.io. I will close this.

[2015-10-01 03:54] #30 closed

[2015-10-02 05:33] wycats opened #42 "Block Params"
Any plans to add support for Handlebars block params?

[2015-10-02 11:42] sunng87 commented on #42
Wow, @wycats, thanks for analyzing this library.
I didn't know this block param feature before. I will add support in future releases.

https://github.com/emberjs/rfcs/blob/master/text/0003-block-params.md

[2015-10-09 19:28] gyscos opened #43 "Get Array Length"
Handlebars support accessing an array length:
[code]

(For instance see http://stackoverflow.com/questions/15428584/how-to-find-array-length-inside-the-handlebar-templates)

It seems this is currently not supported in handlebars-rust.

The workaround I used was to add a `length` custom helper (candidate for built-in helpers?), but maybe following the original syntax would also be a good idea?

[2015-10-09 23:33] Gyscos commented on #43
Considering `context::navigate` returns a `&Json`, it'll be hard to have it return the length. I guess changing the function to return a `Cow` would be a solution, but I'm not sure it's super convenient...

[2015-10-10 03:17] sunng87 commented on #43
In rust we only have a JavaScript type system, but no expression support built-in. Currently you can use a helper like this (not tested):

[code]
Supporting these **special** properties in `context.navigate` is also a good idea. But we may need to implement all javascript native properties. Currently I have no idea about how much work it needs.

[2015-10-24 17:48] untitaker opened #44 "Template inheriting itself creates stack overflow"

[2015-10-25 10:49] sunng87 commented on #44
hi @untitaker , could you please provide me a sample template to reproduce this? And what's the expected behavior for self-inheritance?

[2015-10-25 11:25] untitaker commented on #44
E.g. a template `base.hbs` that contains `{{> base}}`.

I'd prefer any behavior that doesn't shut down the server. Even panic would be fine as hyper workers restart automatically.

[2015-10-25 14:59] sunng87 commented on #44
Understood, I will throw a RenderError on that situation

[2015-11-05 19:10] untitaker opened #46 "Feature: Macros"
https://stackoverflow.com/questions/17934477/macros-in-handlebars

Perhaps I'm missing something, but registering a helper seems a little "too flexible" for my usecase. In particular, I would like to write the content of my helper/macro/don't-care in handlebars itself, and avoid having to take care of HTML escaping myself.

[2015-11-08 14:45] sunng87 commented on #46
This quite similar to our current partial system, check this test for the inline partial: https://github.com/sunng87/handlebars-rust/blob/master/src/helpers/helper_partial.rs#L151

Of course, currently parameters are not supported on `block` helper.

[2015-11-09 14:54] untitaker commented on #46
I see, this is close to what I want except for the lack of parameters. I suppose I could combine `block` with `with` to emulate "passing" a single argument.

[2015-11-09 14:54] #46 closed

[2015-11-23 22:47] mikedilger opened #50 "serde vs rustc_serialize"
I've been told by Nick Cameron and James Miller that the `rustc_serialize` crate is long past expired and that serde should be used instead.

It should probably be setup as feature options (choose either rustc_serialize or serde) so downstream users aren't forced to move over to serde immediately.

If I get a chance I'll give it a try and submit a PR, but don't expect anything for at least a few d

[2015-11-24 02:49] sunng87 commented on #50
I did have the same idea (#40) to make the `Context` works for both serde and rustc-serialize. I found serde has [similar type system](https://github.com/serde-rs/json/blob/master/json/src/value.rs) so we can surely port our `Context` to serde. The issue is I hope we can keep backward compatibility for current API and especially for existed helpers. Feature option is a good idea, we will deprecate

[2015-12-03 15:10] sunng87 commented on #44
Fixed by #45

[2015-12-03 15:10] #44 closed

[2015-12-04 12:17] untitaker opened #52 "0.12 is on crates.io but not in master"

[2015-12-04 15:54] sunng87 commented on #52
Sorry I forgot to push the last commit. Should be fixed now. Please verify.

[2015-12-04 15:55] untitaker commented on #52
Could you also update handlebars-iron such that I don't get version splits?

On Fri, Dec 04, 2015 at 07:54:18AM -0800, Ning Sun wrote:

[2015-12-05 01:19] sunng87 commented on #52
I will release handlebars-iron soon but for now you can use version `^0.11.0` in your Cargo.toml

[2015-12-13 10:29] #52 closed

[2015-12-13 10:30] sunng87 commented on #50
@mikedilger Any updates on this? I'm planning to add a feature to use serde json types. If you have already been working on that, please kindly let me know.

[2015-12-13 19:09] mikedilger commented on #50
No I haven't done anything yet

[2015-12-14 15:03] sunng87 commented on #50
I created a branch and had some early work:
https://github.com/sunng87/handlebars-rust/tree/feature/serde-feature

[2015-12-20 23:16] sorenhoyer commented on #50
Cool, thanks - Looking forward for serde_json support in handlebars-iron in the near future as well. :-)

[2016-01-08 23:26] cmr opened #55 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-08 23:34] tailhook commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option

[2016-01-09 00:28] chris-morgan commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

*(Full stop! The sentence needs a full stop at the end of it!)*

[2016-01-09 01:05] untitaker commented on #55
I give permission to Ning Sun (sunng87) to license my contributions to
handlebars-rust or handlebars-iron under any OSI-approved license.

On Fri, Jan 08, 2016 at 04:28:11PM -0800, Chris Morgan wrote:

[2016-01-09 13:58] sunng87 commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-09 14:02] ihrwein commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-09 14:04] TimNN commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option

[2016-01-09 14:33] BurntSushi commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-09 15:53] freiguy1 commented on #55
I license past and future contributions under the dual MIT/Apache-2.0
license, allowing licensees to choose either at their option.

On Sat, Jan 9, 2016 at 8:33 AM Andrew Gallant <notifications@github.com>
wrote:

[2016-01-09 20:43] blaenk commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 03:23] SkylerLipthay commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-14 16:09] #50 closed

[2016-01-27 02:05] mikedilger opened #56 "Performance when compiled under debug"
Registering (in debug) a template through register_template_string() which has an embedded 700-line SVG (xml tags) takes something like 3 minutes on my fairly modern computer.  That's orders of magnitude slower than I would expect.

In release mode it happens in less than 2 seconds.

Normally I wouldn't care about debug mode, but my website rebuilds all templates on every page load during debug mo

[2016-01-27 02:52] sunng87 commented on #56
Could you please show me the template so I can reproduce this issue?

Does it have complex nested handlebars structure? Handlebars doesn't try to understand xml tags and it treats all these xml as plain text.

[2016-01-27 02:58] mikedilger commented on #56
This was the file.  It actually has no handlebars substitutions/commands in it:
[pi.zip](https://github.com/sunng87/handlebars-rust/files/106004/pi.zip)

This is quite low priority, just a curiosity.  I've changed my code to (1) substitute the SVG via handlebars, rather than have it in the template, and (2) re-register templates only if their mtime has changed.  So I'm not affected by this any mor

[2016-01-27 03:22] sunng87 commented on #56
Thanks for reporting this issue. I will look into this later, maybe in the weekend.

Perhaps I will need to find some tool to profile rust code. That will be pretty interesting.

[2016-01-28 18:50] bfrog opened #57 "List of differences between this and the JS implementation"
It would be nice to see a list of differences between this and the JS implementation, if any

[2016-01-29 03:28] sunng87 commented on #57
Currently there is a section in the README:
https://github.com/sunng87/handlebars-rust#handlebars-js-features-supported-in-handlebars-rust

I will make it more detailed if necessary.

[2016-01-29 10:06] TimNN commented on #56
I did a bit of profiling and found the culprit:

`Template::compile` is at least `O(n^2)` (`n` is the input length) with a large constant factor: It repeatedly indexes the template string by **character** which is an `O(n)` operation.

<img width="730" alt="screen shot 2016-01-29 at 11 05 55" src="https://cloud.githubusercontent.com/assets/1178249/12672712/5583281a-c678-11e5-9566-d9de415fc2c1.png"

[2016-01-29 10:49] sunng87 commented on #56
I can see while I have a counter scanning over the template string, I use several `slice_char_alt` which will scan the string from the start. That will lead to O(n^2).

Perhaps I can use some vector API over the chars array.

[2016-01-29 10:57] TimNN commented on #56
It may be possible to do most of the parsing based on the bytes in the string, using `b"byte literals"` and counting bytes, because indexing a string by byte is `O(1)`.

[2016-01-29 11:14] sunng87 commented on #56
According to my profiling result:

[code]

Most time are spent on string operations.  Let me look into this issue later.

[2016-01-30 15:04] #56 closed

[2016-01-30 15:09] sunng87 commented on #56
@mikedilger the performance issue should have been fixed in 0.13.2

[2016-02-03 03:41] svenstaro opened #59 "Provide a way to load templates from files"
I know there is a function in the examples to do exactly this but I'm certain most people using this library will want to load files from the filesystem at some point. It's probably useful to provide this functionality directly in the library for convenience.

[2016-02-03 03:47] sunng87 commented on #59
I agree. I will add something like `register_file` to `Registry`.

[2016-02-03 04:00] svenstaro opened #60 "Provide a way to directly render files"
This one might be controversial given your design. My idea here is that currently rendering something is more verbose than it needs to be. I would like something like this:

`handlebars.render("templates/index.hbs", &data);`

as opposed to having to manually register the template first. I don't think the registry adds any benefit here. In fact, I think, I think it is an unnecessary layer of indire

[2016-02-03 05:32] sunng87 commented on #60
In this library, every template should have a name so they can be referenced in `include` and `partial` helpers. This is why we have a `Registry` that maintains all templates.

Follow the rust philosophy, this library just focuses on template parsing and rendering. I want to keep the base API monolithic for its function. So the `render` method won't do template parsing for convenience.

Perhaps yo

[2016-02-06 04:36] euclio opened #61 "Problem with partials and #each?"
Minimal test case:

# base.hbs
[code]

# index.hbs
[code]

# posts.hbs
[code]

The log prints my context as `{ "posts": { "title": "test", "content": "test" } }`, but the rendering fails with `DEBUG:handlebars::helpers::helper_each: each value Null`. Am I doing something wrong? I'm using handlebars-iron if that helps.

[2016-02-06 08:10] sunng87 commented on #59
This is resolved on master.

[2016-02-06 08:10] #59 closed

[2016-02-06 08:11] sunng87 commented on #60
I will close this for now. Feel free to reopen if you still have any question about this. Thanks!

[2016-02-06 08:11] #60 closed

[2016-02-06 08:33] sunng87 commented on #61
Hi @euclio, I cannot reproduce this issue from my code base.

Could you please should me the code about your data? It seems you are trying a render a Json string. In handlebars-rust you don't have to serialize your data into Json string. Just put the struct or map as template data will work.

And one more issue with current implementation, you cannot used quoted name in `block` and `partial`. So y

[2016-02-06 16:46] ihrwein opened #62 "Template compile fails to notice an invalid template"
First of all, thanks for this library :)

I noticed that this unit test would panic as Template successfully compiles `source`:

[code]
Is this the intended behavior?

I'm in the middle of writing unit tests for my library and I wanted to include one when the template cannot be compiled. I tried this one first but the compilation was successful, so I came here.

Update: `{invalid}}` cannot be comp

[2016-02-06 17:23] euclio commented on #61
Ah, I was passing a string instead of `Json`. Thanks for the help!

[2016-02-06 17:23] #61 closed

[2016-02-07 02:56] sunng87 commented on #62
@ihrwein Thanks for reporting. This is actually an issue that unclosed expression is not reported. I will fix it asap.

[2016-02-07 02:58] sunng87 commented on #62
and `{{log}}` without parameter will raise a `RenderError` when you render something.

[2016-02-09 04:22] sunng87 commented on #62
@ihrwein this has been fixed in 0.14.0, please update and verify it.

[2016-02-09 04:22] #62 closed

[2016-02-17 04:04] sunng87 opened #63 "Rewrite README"
The current README is not quite friendly to those users who are new to handlebars templating language. So I'm going to rewrite it from scratch. Also we need to emphasis on the difference between this library and the original js one.

related to #57

[2016-02-23 16:04] sunng87 opened #65 "Raw block"
Handlebars v4 introduced a new syntax for raw blocks:

[code]

And the helper `some-helper` could access its content as raw text instead of template.

http://handlebarsjs.com/block_helpers.html#raw-blocks

[2016-03-07 09:20] dbrgn opened #67 "Pub use JSON crate"
Could you maybe "pub use" the rustc-serialize / serde JSON library that you're using? Otherwise I have to add `serde_json` as an explicit dependency to my `Cargo.toml` which might not be the same version as the one used by `handlebars`.

[2016-03-07 10:50] sunng87 commented on #67
Thanks @dbrgn ! Is this a best practice/pattern for dealing with multiple version of dependencies? I haven't used this technique in my projects. Is there any drawback for publish these crates? Is it possible to find me an example that I can follow? Thanks!

[2016-03-07 13:31] dbrgn commented on #67
I'm not sure, but I think that's what the "pub use" feature is made for :)

I opened a similar issue in the `iron` project which was implemented: https://github.com/iron/iron/issues/406

One of the advantages is also that a `use handlebars::Json` will refer to either rustc-serialize or serde, depending on the compile flags.

[2016-03-09 04:45] sunng87 opened #69 "Render a template without register it"
Provide a way to render some template without register it into registry, while still be able to access helpers/registered templates.

[2016-03-10 13:15] sunng87 commented on #60
I just implemented this in 507a3c4

[2016-03-10 15:03] #65 closed

[2016-03-12 06:33] #69 closed

[2016-03-25 15:46] #57 closed

[2016-03-25 15:47] #63 closed

[2016-04-29 02:13] ghotiphud opened #72 "Enum handling"
If I had an enum like:

[code]

How would I render something like:

[code]

[2016-04-29 10:50] sunng87 commented on #72
I suggest you to write a helper for this.  You may check example/render.rs or src/helpers/ for sample.

[2016-04-29 17:49] ghotiphud commented on #72
In case anyone else has a similar question I came up with this:

[code]

where `exists` is a helper equal to the If helper but instead of is_truthy() uses != &Json::Null.

[2016-04-29 17:53] ghotiphud commented on #72
Also, `exists` seems like a generally useful helper.  And something like a `match` would match up well with Rust's typical idioms (excuse the pun).

[2016-05-15 10:36] sunng87 opened #75 "String literals as helper params"
Improve support for string literals as helper params.

[2016-05-15 10:40] sunng87 commented on #72
@ghotiphud I suggest you to make a library that implements some useful helpers in you project and publish them to crates.io. I will add a link to your library and hopefully we can curate a list like awesome handlebars helpers.

[2016-05-17 01:03] ghotiphud commented on #72
@sunng87 Definitely like the idea, if I continue much further with this project I'll do just that. :+1:

[2016-05-17 06:36] sunng87 commented on #72
:+1:  I will close this for now. Feel free to reopen if you have any question.

[2016-05-17 06:36] #72 closed

[2016-05-20 16:25] SirVer opened #76 "Hex_helper example in readme is broken + JsonRender is a private trait."
I think this are 2 bugs, one in the documentation and one in the library.

Compiling the hex_helper from the readme yields:

[code]

Messing around with the code finally yields

[code]

The trait referred to here is JsonRender. The same error can be get by copy & pasting `https://github.com/sunng87/handlebars-rust/blob/master/examples/render.rs#L19`, i.e. the format_helper into a binary that is no

[2016-05-21 09:15] sunng87 commented on #76
Thank you. As you said, this is a copy & paste error. I will fix it soon.

Also it's a good  idea to publicize `JsonRender` since it's helpful for custom helper.

[2016-05-21 09:32] sunng87 commented on #76
Just checked `JsonRender` is reexported as `handlebars::JsonRender`. You can find example from render.rs.

[2016-05-22 11:13] SirVer commented on #76
Awesome, thanks for the documentation fix!

Turns out i was wrong about the error message, it was not complaining about JsonRender, but about `write`. I needed to  `use io::Write` which made the message go away, so no bug in handlebars-rust.

[2016-05-22 11:13] #76 closed

[2016-06-01 13:59] sunng87 opened #78 "Improve RenderError reporting"
We need to have better render error reporting on line/col number, data context and template context

[2016-06-01 14:01] #75 closed

[2016-06-04 07:27] #78 closed

[2016-06-04 08:12] sunng87 opened #80 "Zero param helper expression"
Currently a helper expression with zero argument will be treated as expression. We need to treat them same at parser level and detect whether it's an expression or helper at render time.

[2016-06-04 10:15] sunng87 commented on #80
Close for now

[2016-06-09 11:54] sunng87 opened #81 "Port the template parser Pest"
The current custom parser is difficult to maintain, and still contains some issue (for example, Json array literal as parameter). [Pest](https://github.com/dragostis/pest) is a PEG parser looks promising. I will investigate the possibility to port the parser to PEG and Pest.

[2016-06-23 06:02] sunng87 commented on #9
Implemented in #82

[2016-06-23 06:02] #9 closed

[2016-06-25 01:17] #81 closed

[2016-06-27 19:43] nfmelendez opened #83 "Running code using handlebars with template > 2.4K gives me stackoverflow"
Something strange is happening to me with rust, cargo and handlebars.

When i register a template with > 2.4k and use **cargo run** it FAILS with stackoverflow

When i register a template with < 2.4k and use **cargo run** it works OK.

When i register a template with > 2.4k and use **cargo run --release** it works perfectly

When i register a template with > 2.4k, mark a method as test and use **c

[2016-06-28 01:19] sunng87 commented on #83
Thanks for reporting! I will make a template to reproduce this issue.

[2016-06-28 14:33] sunng87 commented on #83
I can reproduce this issue. Now investigating.

[2016-06-28 14:40] sunng87 commented on #83
Confirmed it's `line_col` causing stack overflow, without optimization.

cc @dragostis

[2016-06-28 14:44] nfmelendez commented on #83
Yes, come to the same point with the gdb debugger, and then couldn't progress as my rust and pest experience is not very good :S

[2016-06-28 14:45] sunng87 commented on #83
@nfmelendez you can downgrade to 0.17.0 at the moment for development, which has same API but with my own parser.

[2016-06-28 19:35] dragostis commented on #83
@sunng87 It should be good now with pest `0.3.2`.

[2016-06-29 02:30] sunng87 commented on #83
I confirm it's fixed in pest 0.3.2. @nfmelendez please run `cargo update` and test again.

[2016-06-29 02:30] #83 closed

[2016-06-29 12:16] nfmelendez commented on #83
Works perfect! thanks!

[2016-07-03 03:05] ghotiphud opened #84 "Partial names cannot contain hyphens after update"
Pretty sure this is related to the parser updates.  Partial names could previously be of the form "pre-content" or "page-scripts", but now I've had to replace hyphens with underscores to make things work.

[2016-07-03 03:09] ghotiphud commented on #72
Update:

[code]

had to replace array indexing with dot indexing.

[2016-07-04 09:23] sunng87 opened #85 "Update partials"
Handlebars seems to have a lot of updates on partials.

http://handlebarsjs.com/partials.html

- [ ] Partial block
- [ ] Inline partials

[2016-07-04 09:25] sunng87 commented on #84
Thank you for reporting @ghotiphud , it must be the parser update now the check is more strict. I checked handlebarsjs and found it's allowed to have `-` in partial name. So it should be supported by handlebars-rust. I will fix this later.

[2016-07-04 14:16] sunng87 commented on #84
Fixed and released in 0.18.1

[2016-07-04 14:16] #84 closed

[2016-07-17 22:51] casey opened #87 "register_template_file() should take the template path as an `AsRef<std::path::Path>`"
If register_template_file took its path argument as an `AsRef<std::path::Path>`, then passing in a string would also work.

The new signature would be:

`fn register_template_file<P: AsRef<std::path::Path>>(&mut self, name: &str, tpl_path: P) -> Result<(), TemplateFileError>`

[2016-07-18 01:58] sunng87 commented on #87
Good idea. I will change to `AsRef<Path>`. Thank you!

[2016-07-18 06:54] casey commented on #87
You're welcome! Thanks for the great library, by the way ^__^

[2016-07-23 09:44] #87 closed

[2016-07-26 09:41] tailhook opened #91 "Examples crash"
I'm trying to run examples in the library and `partials` work fine, but `render` and `render_file` do crash with the following backtrace:
[code]

[2016-07-26 09:48] sunng87 commented on #91
Thank you @tailhook , this is due to a recent update on path visitor. I have updated the template and it works now. Please update the repo.

[2016-07-26 10:21] tailhook commented on #91
It works now. Thanks!

[2016-07-26 10:22] #91 closed

[2016-07-26 10:51] tailhook opened #93 "Parent scope seems to be wrong"
The template is:
[code]
And the json:
[code]

In http://tryhandlebarsjs.com/ I get the following output:
[code]

But with this library I get the following output:
[code]

As far as I can observe it skips one scope. I.e. I can access `../departments` from the internal `{{#each employees}}` loop (but I would expect it to be `../../departments`). And I can't access the scope of the `{{#each departmen

[2016-07-26 12:04] metadave commented on #93
@tailhook I had ta similar issue in https://github.com/sunng87/handlebars-rust/pull/89.

[2016-07-26 12:23] sunng87 commented on #93
This should be a different issue introduced in 0.19. I'm working on a fix.

[2016-07-26 13:48] sunng87 commented on #93
This should be fixed in baf077b . I just added a test case for this.

[2016-07-27 03:51] sunng87 commented on #93
Thank you @tailhook @metadave , I'm closing this and feel free to reopen if there's any question.

[2016-07-27 03:51] #93 closed

[2016-08-07 06:17] sunng87 opened #96 "Align with handlebars spec"
https://github.com/handlebars-lang/spec

[2016-08-09 19:14] mmun commented on #96
Hi @sunng87! If we do our job correctly shouldn't need to do any aligning :) The purpose of the spec is to decouple the language from the JavaScript implementation and allow other implementations to have a say in the evolution of the language through an RC process.

We also plan to standardize how language extensions of Handlebars like https://github.com/tildeio/glimmer/ should behave.

Feel free

[2016-08-09 19:18] mmun commented on #42
I would encourage anyone who is interested and has the time to attempt to implement this feature. Block params an important part of the handlebars language! Let me know if you need details on the semantics beyond what is described in the document linked above.

[2016-08-10 02:58] sunng87 commented on #96
Thank you @mmun ! Currently there's still several incompatible things in this library with handlebars-js and the spec. It would be great if we can have an open process to evolve the handlebars language. I'm watching the spec repo and will be love to join discussions for new features.

[2016-08-19 16:48] untitaker opened #98 ""Use template name directly" points to wrong template file"
Steps to reproduce:
1. Modify `examples/base0.hbs` such that the block name is incorrectly quoted. See https://gist.github.com/untitaker/87311dc36dd42f1791542b7dc61a968f
2. Run `cargo run --example partials`

The example panics as expected. However, when modifying `partials.rs` such that the error message is printed, the following is printed:

[code]

There are two thing wrong with this:
- "page"

[2016-08-22 03:34] sunng87 commented on #98
Thank you @untitaker . Currently the error report mechanism cannot trace into included templates. I will leave it for future fix.

[2016-08-24 19:14] Kerosene2000 opened #99 "Is `each else` working ?"
<img width="714" alt="capture d ecran 2016-08-24 a 21 06 27" src="https://cloud.githubusercontent.com/assets/3610253/17944139/c01c7a72-6a3e-11e6-9ddf-86fb5e03828a.png">

[2016-08-25 02:40] sunng87 commented on #99
No, this is not supported at the moment.

[2016-08-27 12:32] sunng87 commented on #99
This should be fixed in 0.20.4, via 877f303

[2016-08-27 12:32] #99 closed

[2016-08-27 12:42] azerupi opened #100 "Helper not defined: \"this.\""
So I'm trying to access `this.[0].issue_number` in a partial but I get the following render error:

[code]

The thing is that I can access that value with log: `{{log this.[0].issue_number}}` but not with `{{this.[0].issue_number}}`.

I don't know handlebars enough but this seems like a bug, no?

[2016-08-27 12:54] Kerosene2000 commented on #99
That's really great ! thx 😸

[2016-08-29 14:36] sunng87 commented on #100
It seems to be a parser issue. Let me check.

[2016-08-31 03:33] sunng87 commented on #100
hi @azerupi , this should be fixed in 0.20.5.

[2016-08-31 03:33] #100 closed

[2016-08-31 09:36] azerupi commented on #100
Thanks! :)

On Aug 31, 2016 5:33 AM, "Ning Sun" <notifications@github.com> wrote:

[2016-09-10 02:48] #42 closed

[2016-09-10 02:49] sunng87 commented on #42
This has landed to master via #101

[2016-09-11 04:01] #43 closed

[2016-09-12 02:48] sunng87 opened #102 "handlebars decorator"
Need to take a look at handlebars 4.0 decorators.

https://www.sitepoint.com/using-inline-partials-and-decorators-with-handlebars-4-0/#Decorators

- [x] Ability to modify data in decorator: move `Context` into `RenderContext` so it's mutable during render (e1abdf7). **This change introduces a break update to `HelperDef` trait: `Context` is removed from arguments.**
- [x] Ability to override helper

[2016-09-13 15:58] hoodie opened #104 "local_path_root is not reset"
Hi there,
it seems to me that after a `{{/each}}`, `{{/with}}` or `{{/if}}` the `local_path_root` should be reset to what it was before entering the block, instead it remains the same path as inside the block ([as demonstrated here](https://github.com/hoodie/handlebars-rust/tree/bug/local_path_root), `cargo run --example render`).

Is this expected behavior?

[2016-09-14 00:25] sunng87 commented on #104
Good catch! I will fix this asap.

[2016-09-14 13:49] sunng87 commented on #104
The current `local_path_root` mechanism may not work well with nested `each` when referencing value like `../../a`. I decide to drop it for a new implementation in next release.

[2016-09-28 13:39] sunng87 commented on #104
This should be fixed in 0.21

[2016-09-28 13:39] #104 closed

[2016-09-28 13:39] #85 closed

[2016-10-02 06:40] wezm commented on #80
I just ran into this behaviour. I created [an example case](https://gist.github.com/wezm/59202698c1f50c33d258adde87871e79) (before finding this issue) where there is a helper with the same name as a property. I expect the helper to be called but it isn't. What's your stance/suggested workaround for this?

It seems that you can force the helper to be called by supplying a param or of course just re

[2016-10-02 06:48] sunng87 commented on #80
@wezm Currently I think you can add a dummy parameter like `{{name _}}` to the helper so the parser will treat it as a helper instead of expression. I will improve the lookup process for fix this in future release.

[2016-10-05 10:31] andete opened #106 "json object members with this in their name don't work"
changing the name e.g. from this_week_days to current_week_days in the json object fixes it.
Using handlebars 0.21.0.

[2016-10-08 03:14] sunng87 commented on #106
Thank you for reporting. This should be a bug in recent path parser change.

[2016-10-08 15:15] sunng87 commented on #106
This should be fixed in 233d895

[2016-10-08 19:22] tiffany352 opened #107 "Hash parameters in partials don't seem to work"
[code]

[code]

Doesn't work for me (using handlebars-iron, in case that's important). It looks like this is supposed to work, and it looks like the examples for the JS version use it. I might be wrong about how these are supposed to work - the documentation on handlebars in general is kind of unhelpful.

[2016-10-08 19:25] tiffany352 opened #108 "Bad error messages"
In general, it seems like every malformed template results in an error message containing only "TemplateError" or "RenderError", and never any actually useful information. There are fields in the error messages for this stuff, but it doesn't look like they are used.

[2016-10-09 02:30] sunng87 commented on #108
TemplateError contains some detailed information with line number and error type. You may call description() on `TemplateError` and `RenderError` to get information.

https://github.com/sunng87/handlebars-rust/blob/master/src/error.rs

[2016-10-09 03:55] sunng87 commented on #106
Released in 0.21.1

[2016-10-09 03:55] #106 closed

[2016-10-09 14:34] sunng87 commented on #107
The handlebars 4.0 partial should work with `partial4` feature turned on. I just added a test case for this scenario: 6602aef

The issue is handlebars-iron doesn't have feature option to turn it on.

[2016-10-11 14:16] tiffany352 commented on #108
It looks like my issue is actually with handlebars-iron's error structs. No matter what I do, including calling description(), the SourceError returned by reload() always gives me only the vague "TemplateError". I also have the same problem with the RenderError that gets returned by the HandlebarsEngine middleware. I do not understand why .description() and Display on SourceError behave this way,

[2016-10-17 11:40] Razican opened #109 "Use a faster HTML escape"
After the study by @lise-henry in her [article](https://lise-henry.github.io/articles/optimising_strings.html), I think it would be wise to implement it instead of the [current method](https://github.com/sunng87/handlebars-rust/blob/8c0102f9edf7c38e248cc5a335532bb9c9737c21/src/registry.rs#L28). I did some studies myself to try to do it in XML file escaping (not sure if that's for this case, though

[2016-10-17 13:46] sunng87 commented on #109
@Razican Thank you for this link! Current implementation is pretty straight forward. Would you like to make a pull request for this?

[2016-10-17 13:57] sunng87 commented on #108
@tiffany352 Have you tried to print the error via debug formatter `{:?}` ? It should prints inner error as in my updated example: https://github.com/sunng87/handlebars-iron/blob/master/examples/error.rs

[2016-10-17 13:58] sunng87 commented on #107
Please use the latest handlebars-iron with features `partial4` turned on.

[2016-10-17 14:00] tiffany352 commented on #108
That does work.

[2016-10-17 14:30] Razican commented on #109
Sure!

[2016-10-21 02:45] #108 closed

[2016-10-22 06:12] mrLSD opened #111 "Dangerous decisions for Helpers"
For Helpers examples (everywhere at handlebars examples and documentations) you suggest dangerous decision. For example:

https://github.com/sunng87/handlebars-rust/blob/master/examples/render.rs#L32-L48

What is it if no any parameters or less?
What if wrong parameters type?
What if `try!` invoked, what our **end user** seeing?

It is dangerous for real world projects.

My suggestion:
to emphasiz

[2016-10-24 13:45] sunng87 commented on #111
Hi @mrLSD , first I agree with you that this piece of code can be dangerous to real projects. It's not recommend to use `unwrap` without fallback. I just updated example in 88f9536.

[2016-10-24 13:45] #111 closed

[2016-10-24 14:19] sunng87 opened #112 "Improve error reporting"
- [x] Including template name in TemplateError
- [x] Including line/col in user generated RenderError

[2016-10-27 13:16] Aaronepower opened #113 "Remove whitespace helper destroys if statement."
When the whitespace remover is applied to an else block, the conditional will change, executing neither if the condition is `false`, and both if the condition is `true`.

## Example case
**Handlebars:**
[code]

**JSON:**
[code]

## Output
[code]

[2016-10-27 13:37] sunng87 commented on #113
Oh, this is a parser bug. Will fix it later.

[2016-10-27 14:34] #112 closed

[2016-10-29 04:25] #113 closed

[2016-10-29 04:25] sunng87 commented on #113
Released in 0.22

[2016-11-03 14:17] sunng87 opened #114 "WebAssembly conmpatibility"
WebAssembly makes it really fun to bring Rust to browser. It would be interesting to have this library running in Firefox/Chrome, comparing performance with the JavaScript native implementation.

[2016-11-14 23:00] mrLSD opened #115 "Subexpressions not working"
I got your example and template for it:
https://github.com/sunng87/handlebars-rust/blob/master/examples/render/template.hbs

And I trying add to end of file:
[code]

and got error:
`Error rendering "table" line 20, col 1: subexpression generates invalid value`

Documentation:
http://handlebarsjs.com/expressions.html#subexpressions

[2016-11-15 11:57] sunng87 commented on #115
this is because `format` generated text `Text pts` will be treated as a variable instead of a JSON string literal.

If you change `format` to generate `"{} pts"`, it will work.

[2016-11-16 10:57] mrLSD commented on #115
Let's imagine situation:
helpers:
* helper1 param1
* helper2 param1

Handlebars template:
[code]

Rendered:

It's an idiomatic way for Handlebars subexpression.

I need the example for rust-handlebars code for that.

[2016-11-17 15:40] golddranks opened #116 "Nice to have: A macro to include the templates in the binary during compile-time"
To be sure, I'm NOT speaking about having templates as macros, or something like that, as this crate is emphatically classifies that as a non-goal in it's README.

However, I think it'd be nice to have a macro that embeds the templates into the resulting binary. Diesel has a similar macro for embedding the SQL migration files used to setup the database: http://docs.diesel.rs/diesel/macro.embed_mig

[2016-11-18 02:18] sunng87 commented on #116
I guess `include_str` in rust stdlib might work for you?
https://doc.rust-lang.org/std/macro.include_str.html

[2016-11-18 02:20] sunng87 commented on #115
OK. I verified handlebarsjs and handlebars-java implementation. It seems they treat subexpression results as string literal directly.

Then I will change the behaviour in handlebars-rust.

[2016-11-18 12:07] golddranks commented on #116
Ah, that indeed works. Thank you.

[2016-11-18 12:07] #116 closed

[2016-11-21 17:06] dragostis opened #117 "Update to pest 1.0. (once it's out)"
I've updated pest some time ago with [non-atomic rules](http://dragostis.github.io/pest/pest/macro.grammar.html#non-atomic-rules-). This should make the implementation easier without needing to alter the token stream. Let me know if you need any help.

[2016-11-22 14:26] sunng87 commented on #117
Thank you @dragostis . Updating pest has been in my mind for a while. I will start upgrade once I find time.

[2016-11-22 14:46] dragostis commented on #117
@sunng87 I took a look at the project with the idea of doing a PR but got a little tangled up in the details. Provided it wasn't a hard thing to accomplish, I could follow some simple directions, but I guess it probably involves changing the grammar to some degree which I wouldn't want to screw up.

[2016-12-04 08:37] sunng87 commented on #109
Implemented in #118

[2016-12-04 08:37] #109 closed

[2016-12-08 12:01] dragostis commented on #117
I guess it's better to wait until pest 1.0 comes out in a fews weeks or so. (pending macros 1.1, but there's also some work left to do)

[2016-12-08 13:08] sunng87 commented on #117
Nice! BTW, will macros 1.1 work on stable channel?

[2016-12-08 14:56] dragostis commented on #117
They are going to be stabilized soon. :)

[2016-12-10 12:30] sunng87 opened #120 "Better string writer"
Init `StringWriter` with a buffer size to reduce allocation.

[2016-12-12 13:25] #115 closed

[2016-12-12 13:25] #120 closed

[2016-12-12 13:26] sunng87 commented on #98
This is fixed in #121 , both string and ref is supported in `include`

[2016-12-12 13:28] #98 closed

[2016-12-12 13:29] sunng87 commented on #107
Will close this since `partial4` becomes default in 0.23

[2016-12-12 13:29] #107 closed

[2016-12-13 21:19] golddranks commented on #12
Is there any workaround currently? I'd like to use this, but unfortunately I'm currently too busy to contribute.

[2016-12-13 21:30] golddranks commented on #12
Oops the obvious workaround works. I had an unrelated syntax error because of a typo, which made me thing that nesting wouldn't work.

    {{#if var1}}
        ...
    {{ else }}{{#if var2}}
        ...
    {{ else }}
        ...
    {{/if}}{{/if}}

[2016-12-14 02:24] sunng87 commented on #12
Yes.

To support chained else, we may need an update in current parser and helper definition because `{{else if ...}}` is incompatible with current model.

[2016-12-19 13:55] sunng87 opened #125 "Update docs"
The README and rustdoc is a little out of date. Need to update before next release.

[2016-12-20 13:24] #102 closed

[2016-12-22 06:37] sunng87 opened #126 "Extended helper module"
I'm going to provide a set of helpers that will be useful to daily development. These helpers will be enabled via a feature called `ext-helpers`. Developers can pick up some of these helpers in their application.

## Number comparison

- [x] `if-eq`
- [x] `if-neq`
- [x] `if-gt`
- [x] `if-lt`
- [x] `if-gte`
- [x] `if-lte`
- [x] `if-even`
- [x] `if-odd`

## String transform

- [ ] `prefix`
- [ ] `su

[2016-12-27 13:45] sunng87 commented on #114
Seems 0.23 is broken on js platform while 0.22 works great.

[2016-12-27 15:07] sunng87 commented on #114
It's an issue of regex: https://github.com/rust-lang-nursery/regex/issues/307

[2016-12-29 06:40] sunng87 commented on #114
Here is [a fork of rust-todomvc](https://github.com/sunng87/rust-todomvc), use handlebars as template engine.

[2016-12-30 14:33] #125 closed

[2016-12-30 14:34] #96 closed

[2017-01-01 16:02] sunng87 opened #128 "Error reporting for partials"
Currently `RenderError` in partials is not properly reported, the template name and line/col number is pointed to root template, which is not helpful if your included partial is a larger one.

[2017-01-01 16:26] #128 closed

[2017-01-01 16:42] sunng87 commented on #114
Fixed in 0.24.1. Handlebars-rust is all ready for WebAssembly.

[2017-01-01 16:42] #114 closed

[2017-01-16 07:03] sunng87 opened #131 "@partial-block support"
Partials can access its block by local reference `@partial-block`

[2017-01-20 15:50] Razican opened #132 "Error building serde_types feature"
I'm getting issues building with `--no-default-features --features=serde_type`:

[code]

Couldn't look on how to fix it, but for the future I think it would be useful to include better build tests. The issue happens with 0.24.1/0.24.2-pre but not with 0.22.

[2017-01-21 02:07] sunng87 commented on #132
Just remove `--no-default-features` and try again, :-)
This option is no longer needed in recent version.

[2017-01-21 14:43] Razican commented on #132
True, but why are there default features if they are required for building?

[2017-01-22 02:28] sunng87 commented on #132
It's because there is another required feature in default feature set. Once you turn off it doesn't compile.

I will try to improve this feature management because I found it introduced some issues for testing.

[2017-01-22 10:32] Razican commented on #132
I see that by default, it uses features `rustc_ser_type` and `partial4`. The thing is that if somebody does not want rustc_serialize type, it will be built in any case, that's why `--no-default-features` exists. Features should be optional always. You could probably ad `#[cfg(not(feature = "whatever"))]` in places where something should always be built except in the case of that feature, and in th

[2017-01-26 12:41] sunng87 commented on #132
Thanks. I'm working on that.

[2017-01-27 18:24] dtolnay opened #134 "Update to serde 0.9.0"
Rocket is using this crate and would like to use serde 0.9.0 :pray:

Here are the release notes: https://github.com/serde-rs/serde/releases/tag/v0.9.0

[2017-01-28 03:10] sunng87 commented on #134
Yes I'm working on that. Serde JSON 0.9 has some breaking API changes so it will take some time.

[2017-01-28 07:26] #134 closed

[2017-01-28 08:05] sunng87 commented on #134
@dtolnay Released in 0.25.0

[2017-01-28 08:05] sunng87 commented on #132
This should have been fixed in master.

[2017-01-28 08:05] #132 closed

[2017-01-28 08:06] sunng87 commented on #131
Fixed and released 0.24.2

[2017-01-28 08:06] #131 closed

[2017-01-28 10:16] sunng87 opened #136 "Drop rustc_serialize support"
Rustc_serialize support will sunset. There will be a 0.x version that use serde as default type system and allow rustc_serialize via feature flag. And in 1.0 release there will be no rustc_serialize for this library.

[2017-02-17 07:52] SergioBenitez opened #138 "Escape Braces"
Handlebars.js allows me to escape braces with the syntax `\{{ var }}`, that is, a single backslash before the braces. It would be much appreciated if such syntax would be accepted by this implementation!

[2017-02-17 08:07] sunng87 commented on #138
Sure. I will look into that. Thank you for reporting.

[2017-02-21 06:15] #138 closed

[2017-02-21 06:37] sunng87 commented on #138
Released in 0.25.1

[2017-03-02 13:57] sunng87 commented on #136
Cargo is using handlebars with rustc_serialize so we probably won't drop it in near future.

[2017-03-02 14:32] sunng87 commented on #126
We will pick some helpers from:
https://github.com/helpers/handlebars-helpers#helpers

[2017-03-02 16:54] dtolnay commented on #136
@sunng87 I would encourage you to reconsider this. Cargo is very interested in moving to Serde-based handlebars. Quoting from https://github.com/rust-lang/cargo/pull/3682:

Also according to the [Rust release milestone predictions](https://internals.rust-lang.org/t/rust-release-milestone-predictions/4591?u=dtolnay), rustc-serialize is scheduled to be deprecated in next month's beta release.

[2017-03-03 02:41] sunng87 commented on #136
@dtolnay Thank you for pointing out this. Then I will definitely sunset rustc_serialize support in next release.

[2017-03-21 20:13] hobofan opened #143 "Error when using same partial twice in a row"
I get the following erro when using the same partial two times in a row:
[code]

reduced code:
[code]

`main.hbs`:
[code]

`two.partial.hbs`:
[code]

------

I am not 100% sure, but I think that should be valid Handlebars. When I use another partial between the two uses of `{{> two }}`, everything works fine.

I'm happy to provide any further information if that helps.

[2017-03-22 02:19] sunng87 commented on #143
Thank you for reporting. It seems to be a bug for checking template name. I will look into it soon.

[2017-03-22 07:58] #143 closed

[2017-03-22 08:04] sunng87 commented on #143
Released in 0.25.2

[2017-03-22 10:46] hobofan commented on #143
Thanks for the quick fix! :+1:

[2017-04-07 18:52] LLBlumire opened #145 "Nested each issue"
I'm attempting to write a C++ code generator, and have encountered an issue where this, which works fine in handlebars.js does not work in handlebars-rust

[code]

[code]

I'd expect this to output

[code]

as it does if run in handlebars.js, instead I am getting out

[code]

[2017-04-07 21:48] LLBlumire commented on #145
at the moment I am doing a workaround of replacing `{{this}}` with `{{lookup ../typearg @index}}`

[2017-04-12 17:37] euclio opened #146 "Partial is rendered twice"
Not sure if this is an issue with the library or my syntax. I'm updating a project that I wrote from the legacy partial syntax to the new syntax.
I have three (simplified) templates like this:

[code]

[code]

[code]
The problem is that the `otherHelper` helper gets rendered (and output) twice, and I cannot figure out why.

[2017-04-13 14:43] sunng87 commented on #146
The syntax for

[code]
is: if `content` partial not found, render the inner template. It seems my implementation rendered `{{> otherHelper}}` even when `content` is defined. This should be a bug. I will try to fix it this weekend.

[2017-04-13 14:48] sunng87 commented on #145
Thank you for reporting. I just confirmed this behaviour on handlebarsjs. This should be a bug when resolving `this` in nested context. I will look into this issue this weekend.

[2017-04-14 00:39] sunng87 commented on #146
@euclio could you please verify if current `master` branch works for you?

[2017-04-14 01:17] euclio commented on #146
Sure, I'm currently out of town but I can check when I'm back at my
computer.

On Thu, Apr 13, 2017, 5:39 PM Ning Sun <notifications@github.com> wrote:

[2017-04-16 11:40] #145 closed

[2017-04-18 14:29] euclio commented on #146
Hm, having trouble testing this because I think that I'm getting a mismatch between `handlebars-iron` and `handlebars-rust`.

[code]

[2017-04-19 02:17] sunng87 commented on #146
Ops, this happens when you have different version of handlebars library. Could you please also checkout handlebars-iron and change it's depended handlebars to the master branch?

[2017-04-19 04:59] euclio commented on #146
Ah. Just confirmed that it works on master, thanks! As a side note, why does `handlebars-iron` not expose `handlebars` as a `pub crate` if they're so tightly coupled?

[2017-04-19 05:11] sunng87 commented on #146
It seems I should. I'm not quite familiar with re-export at the moment.

I'll close this for now.

[2017-04-19 05:11] #146 closed

[2017-04-19 05:17] sunng87 commented on #146
@euclio by the way do you have any links about re-export? I googled it only found a reddit thread says it's an undocumented technique. There was #67 about exporting JSON related crate. Maybe I can make decision for both.

[2017-04-19 06:06] euclio commented on #146
I think there's an old issue where `pub extern crate` didn't work as expected, and you had to simulate the behavior by `pub use`ing the item imported by `extern crate`. However, these days it seems to work as expected. Not aware of any links beyond the [first edition of the rust book](https://doc.rust-lang.org/book/crates-and-modules.html#re-exporting-with-pub-use).

While I think that re-exportin

[2017-04-19 09:53] sunng87 commented on #146
Thank you @euclio , the patch is welcomed!

[2017-04-20 18:44] SergioBenitez opened #149 "Upgrade to Serde 1.0"
This is blocking https://github.com/SergioBenitez/Rocket/pull/272.

[2017-04-20 18:58] skariel commented on #149
@SergioBenitez just made a PR

[2017-04-22 08:04] #136 closed

[2017-04-22 14:57] winding-lines commented on #149
This is so cool, I was also working on this :) Gotta love OSS.

[2017-04-22 15:26] sunng87 commented on #149
@winding-lines Thank you! Next time you can leave a message here to pick the feature. Patches are always welcomed in this project.

[2017-04-23 09:24] #149 closed

[2017-04-26 22:26] softprops opened #152 "`each` helper does not work with objects with keys that contain slashes"
I was trying use this library for a hackathon to build some tooling around code generation with open api documents. open api documents have an object "paths" that has keys that present paths "/foo" that map to values which represent information about that paths api.

I ran into a problem with `each` helper where the binding of "this" was incorrect, defaulting to the top level context

I tested a s

[2017-04-26 22:31] softprops commented on #152
glancing through the code, [this](https://github.com/sunng87/handlebars-rust/blob/76a06dde969bb9a3d5cbef8c60bae4d0dd5a7d71/src/render.rs#L296) may also be part of the problem.

if the path it set to the string "foo/bar.[/baz]" and you're later splitting that string on either `.` or `/`, I could see how that would be problematic!

[2017-04-27 01:37] sunng87 commented on #152
Good catch! I'll look into this issue later.

[2017-04-27 02:02] softprops commented on #152
Thanks so much. I have one more day for the hackathon so I can maybe teach myself to fish.

[2017-04-27 03:06] sunng87 commented on #152
I can only look into this issue during weekends. So if you are in hurry, feel free to correct it in your way. Patches are always welcomed.

[2017-05-01 07:47] #152 closed

[2017-05-01 11:28] sunng87 commented on #152
This has been fixed in 0.26.2 release.

[2017-05-01 17:50] softprops commented on #152
Oh snap! Thanks for the fast turn around @sunng87. I learned a bit about how this lib works by looking at that fix. Good stuff!

[2017-05-02 06:46] FractalMatt opened #154 "the trait bound `rustc_serialize::json::Json: serde::ser::Serialize` is not satisfied."
So, I'm still in the process of going through the many error messages left from upgrading all my libraries to support the gzip help you so kindly made for me. (Thanks again!)

And encoutering many errors that look like this:
error[E0277]: the trait bound `rustc_serialize::json::Json: serde::ser::Serialize` is not satisfied
   --> src/public.rs:431:41
    |
431 |                     let _ = res.set

[2017-05-02 06:53] sunng87 commented on #154
Hi @FractalMatt, first of all handlebars 0.26.* and handlebars-iron 0.24.* does no longer support rustc_serialize. Could you please use serde or downgrade to handlebars-iron 0.23.* and verify again?

[2017-05-02 07:27] FractalMatt commented on #154
Sorry it's late.. that was stupid.  Upgraded to serde_json and those errors are melting away.  Luckily the majority of the ones left and easy to fix :)

Now, what about this one:
error[E0281]: type mismatch: the type fn(&handlebars::context::Context, &handlebars::render::Helper<'_>, &handlebars::registry::Registry, &mut handlebars::render::RenderContext<'_>) -> std::result::Result<(), handlebars::

[2017-05-02 07:30] sunng87 commented on #154
This can be caused by imcompatible version of handlebars and handlebars-iron. Consider remove handlebars remove your Cargo.toml and use `handlebars-iron::handlebars::...`  instead, just like this: https://github.com/sunng87/handlebars-iron/blob/master/examples/server.rs#L16

[2017-05-04 05:54] FractalMatt commented on #154
Hey, been working through other errors, no.. that didn't seem to do it :(

After that change, here's what I have that is handlebars related:
In toml:
handlebars = "^0.26"
handlebars-iron = "^0.24"
iron-error-router = "^0.3"
handlebars-markdown-helper = "^0.5"

In main.rs:
extern crate handlebars;
extern crate handlebars_markdown_helper;
extern crate handlebars_iron as hbs;

use handlebars_markdown

[2017-05-04 13:54] sunng87 commented on #154
`Registry` is just the internal name of `Handlebars`. I guess to root cause is `handlebars-markdown-helper` relies on an incompatible version of handlebars. There was a breaking change in the helper api and `handlebars-markdown-helper` didn't catch up.

[2017-05-04 14:30] sunng87 commented on #67
Since serde is widely used in user applications, and requires custom derive macro to generate code. I think we cannot do this for handlebars.

[2017-05-04 14:30] #67 closed

[2017-05-04 16:17] FractalMatt commented on #154
Thanks again!

[2017-05-18 08:23] sunng87 opened #157 "Async helper"
What if we want some asynchronous tasks in handler helpers? With current API you might be able to do that but there is no guarantee on the order of writes on template string buffer.

Perhaps we will need a `future-rs` based API for this task? Will it be in the core library or as an extension?

[2017-05-18 08:24] #154 closed

[2017-05-20 16:34] TerraX-net opened #158 "How to do precompilation / on-the-fly precompilation?"
If one has a "Content-Security-Policy: default-src 'self'", you have to use precompiled templates, otherwise one has to allow unsafe-eval which isn't security wise.

So I came to http://handlebarsjs.com/precompilation.html and handlebars-rust and thought: "hey, I would like to use on-the-fly precompilation for development and into-a-file precompilation for production behind hyper with tokio-rustls

[2017-05-21 13:23] sunng87 commented on #158
Hi @TerraX-net ,

Internally, this library compiles template when you caall `register_template_string". The template will be parsed and transformed into an internal data structure. All the render tasks for registered templates will benefit from this process, because there will be no parse cost any more. For a typical web application, this is done during server startup. At the moment there is no "i

[2017-05-21 15:42] TerraX-net commented on #158
Thank you, @sunng87.
So if I unterstand it right, handlebars-rust can output a rendered page, made from a template and json object.
I wanted to do rendering in the browser with handlebars.runtime-latest.js to save bandwith by having a precompiled template in the browser cache. It has to be precompiled for performance reasons and to prevent an "unsafe-eval" in the Content-Security-Policy (HTTP resp

[2017-05-21 15:42] #158 closed

[2017-05-22 05:31] sunng87 commented on #158
Yes, currently handlebars-rust is mostly for server-side render. If you compile rust to WebAssembly then you may use it in browser.

[2017-06-07 03:54] kkartaltepe opened #161 "Unserializable data presents no errors"
You can happily pass a template something that cannot be serialized (at runtime), and no errors will be thrown even if data is attempted to be accessed.

Example code is as follows
[code]

This should propagate an error as the requirement that your data be serde serializable is violated. Its Exceedingly tricky to debug due to the lack of errors and in the case of potentially partially serializable

[2017-06-09 14:12] sunng87 commented on #161
Currently we treat unserializable data as `Json::Null`, which renders nothing to result.

[code]

Let me think about whether we need to change to this or not.

[2017-06-09 16:34] kkartaltepe commented on #161
I think that would work if it were slightly "smarter". Currently that will take a struct like the follow as a whole to just `Json::Null`.
[code]

 if it were possible to push down that `Json::Null` to an element level so that it returned something like
[code]

I'm not sure if thats possible in serde but it would at least make more sense to the user (me). Instead of converting all data to null and

[2017-06-11 07:07] sunng87 commented on #161
I'm afraid this is not possible with serde_json's to_value. However, if the struct is in your hand, perhaps you can serialize to `Json::Null` instead of throwing an error.

I'm going to refactor `Context::wrap` to return `RenderError` when `serde_json::error::Error` caught, instead of eating the error quietly.

[2017-06-15 16:09] #161 closed

[2017-06-15 16:26] kkartaltepe commented on #161
Awesome work, thanks!

[2017-07-06 11:16] ignatenkobrain opened #165 "some tests are failing"
[code]

Not sure which information I can give more..

[2017-07-06 11:20] ignatenkobrain commented on #165
hmm, looks like it is broken due to #164

[2017-07-06 11:28] sunng87 commented on #165
Yes. Currently we cannot update to pest 0.4. More information is tracked in #117

[2017-07-06 11:28] #165 closed

[2017-07-06 17:42] bruceg opened #166 "Template rendering is very slow for large data"
When rendering a template over a large vec (say, more than 1,000 items), handlebars-rust takes a very large amount of CPU time. Worse, extra data within the result (that may not be rendered) increases the time taken.

This sample program demonstrates the problem: https://gist.github.com/bruceg/410deb60468940c0b40a52814c2a2896 (run with two parameters, first is number of real rows, second is number

[2017-07-07 02:08] sunng87 commented on #166
Thank you for reporting @bruceg , I will look into this issue this weekend.
Which version of handlebars-rust you were using?

[2017-07-07 02:29] bruceg commented on #166
It happens with both 0.27.0 and git master

[2017-07-09 03:59] sunng87 commented on #166
Just confirm this performance issue is introduced in 0.27, which clone `Context` for each helper execution:

Based on bench code in b2354be

0.27
test large_loop_helper ... bench: 496,376,347 ns/iter (+/- 148,433,745)

0.26.2
test large_loop_helper ... bench:   3,148,455 ns/iter (+/- 72,797)

@bruceg you can use handlebars 0.26.2 for now. And I'll find a solution to improve while keeping the new f

[2017-07-15 08:26] sunng87 commented on #166
Fixed in 0.28.0

[2017-07-15 08:26] #166 closed

[2017-07-29 19:44] softprops opened #169 "escaped delimters yield escape characters in output"
I just ran into a use case where I needed my handle bars templates to yield `{{foo}}` in their output. This seems to be a feature in [handlebars js](https://github.com/wycats/handlebars.js/commit/c79c761460f7d08e3862c0c9992f65a799771851) and it does seem to be part of the [grammar here](https://github.com/sunng87/handlebars-rust/blob/6010f6a76b7cd8a7ee87136d7fc364c54c75e53a/src/grammar.rs#L48) How

[2017-07-30 13:36] sunng87 commented on #169
At the moment `\\` escape is not implemented. Let me find some time to work on it.

[2017-07-30 16:32] softprops commented on #169
It looks like it's implemented in terms of avoid evaling tags but there's just a little bit more to strip off the escape pattern from the raw text tokens. I'm not sure if you can do that directly in pest but one example place where it may be possible is where the pest output is being unpacked. Looking around [this area](https://github.com/sunng87/handlebars-rust/blob/6010f6a76b7cd8a7ee87136d7fc364

[2017-07-31 00:18] sunng87 commented on #169
Nice. For now we have escape check in pest grammar and `\\{{` will be treated as `RawText`. It seems we just need to replace `\\{{` with `{{` in `RawText`.

[2017-07-31 00:54] softprops commented on #169
Would you be open to a pr if I can getting sooner than you? Context: I'm doing some prep work for a company hackathon by setting up some project templates with https://github.com/softprops/porteurbars which uses this lib as the underlying template engine. I ran into a problem with the escaped delimiter when I realized that one of these templates needed to emit {{foo}} in its output. The hackathon

[2017-07-31 02:12] sunng87 commented on #169
Sure! Please make your PR for this. Thank you @softprops

[2017-07-31 04:48] softprops commented on #169
Submitted hopefully a sane pr over here https://github.com/sunng87/handlebars-rust/pull/170

[2017-08-01 14:53] sunng87 commented on #169
Released in 0.28.2

[2017-08-01 14:53] #169 closed

[2017-08-01 22:17] softprops commented on #169
Awesome thanks!

[2017-08-02 03:37] softprops opened #171 "escape tag follow up"
After integrating the latest tag escaping changes with porteurbars I noticed something. a template in a separate file that contained `\\{{foo}}` was not technically what the current replace `\\{{` with `{{` does. `\` is an escape character in string literals in rust so this was more like replacing `\{{` with `{` leaving behind `\{{foo}}` which wasn't the intended effect. I wanted to report here. I

[2017-08-02 03:50] softprops commented on #171
I think this [playground link](https://play.rust-lang.org/?gist=6ef530cc02f2b45748c21e303f9ceae2&version=stable) describes it best

[2017-08-05 01:57] sunng87 commented on #171
Released in 0.28.3

[2017-08-05 01:57] #171 closed

[2017-08-11 21:27] hucal opened #173 "Iterate through JSON Object that has keys with unusual characters"
Hello!
First off, thanks for all the great work!

I'm trying to render a Handlebars template that needs to iterate through a JSON object with keys that contain dots and spaces. This causes Handlebars to return a `RenderError` with description **`Invalid JSON path`**.

## Minimal Example

It fails in the same way if I replace `"strange key"` with `"strange.key"`. I tried this using handlebars-rust

[2017-08-12 08:32] sunng87 commented on #173
Correct. Currently string with spaces is not treated as valid JSON `path`.
I'll rethink about the `path_ident`, it seems we shouldn't have any restriction on the object key.

[2017-08-12 17:30] hucal commented on #173
Thank you!
I think we can fix my issue without changing `path_ident`. The `each` helper shouldn't use the `path_ident` parser because the element will only be referred to using `@key` or `this`. I'd like to contribute to the project, so I'll look at the `{{#each}}` helper more closely soon.

I can make a separate issue for adjusting `path_ident`.

[2017-08-12 17:37] hucal opened #174 "Can't access properties that are not valid identifiers"
It is impossible for a template to access a property that is not a valid identifier. For example, Handlebars-rust can't access any of the properties in the following JSON object:

[code]

[2017-08-12 17:37] hucal commented on #174
## Proposed Solution

Handlebars.js uses the delimiters `"p"`, `'p'`, and `[p]` to allow access to properties with unusual names.

This is from the [Handlebars.js expressions manual](http://handlebarsjs.com/expressions.html):

...

JavaScript-style strings, " and ', may also be used vs. [ pairs.

[2017-08-13 01:59] sunng87 commented on #173
Internally `#each` uses this path to find its local context (`this`) in the whole JSON object. I think we can fix this by adding support for `'p'`, `"p"` and `[p]` in path_ident. Then we will always use `[p]` for visiting JSON object.

[2017-08-13 02:01] sunng87 commented on #174
Yes, we need to support `"p"`, `'p'`, and `[p]` in path_ident. A little work needs to be done in pest grammar.

[2017-08-13 02:03] hucal commented on #173
I completely agree. I've been working a solution that only uses `[p]`. I have it working with this code:

[code]

I'd like a moment to clean up my solution, then I'll submit a pull request.

It also fixes the other issue I created.

[2017-08-13 02:19] sunng87 commented on #173
@hucal Thank you! Remember to make your test code a test case in your pull request so we can track this feature in future.

[2017-08-13 02:21] hucal commented on #173
I read this after submitting my pull request, I apologize. I'll submit an updated pull request with my test case.

Thank you for the great library!

[2017-08-13 02:30] hucal commented on #173
Actually, I'd rather work on a few more test cases and on `helper_with.rs` before submitting another pull request.

[2017-08-13 02:35] sunng87 commented on #173
Nice, thank you @hucal

[2017-08-13 02:47] hucal commented on #173
When you write,

Does this mean the tests on lines 305 and 311 in `src/context.rs` don't apply? They allow accessing property `q.p` by using `q.["p"]` or `q.['p']`. It seems my PR would override this part of the grammar.

[2017-08-13 03:33] sunng87 commented on #173
Just tested on handlebars.js

It seems the valid expression are:
`a/[b c]` or `a.[b c]`

for data
[code]

None of `a.["b c"]`, `a["b c"]`, `a['b c']` will work. No additional quote is allowed in `[]`. I think we can align with handlebars and drop these legacy cases.

[2017-08-22 15:04] #173 closed

[2017-08-22 15:06] sunng87 commented on #174
Fixed in #176

[2017-08-22 15:06] #174 closed

[2017-08-24 19:39] hammett opened #178 "@root support?"
Howdy,
Is this something easy to add? https://stackoverflow.com/questions/17364897/access-to-root-context-in-handlebar-js-template

In essence, using ``@root`` from any depth should return a reference to the root RenderContext variables.

Also, is it really necessary to clone the variables when invoking a partial? Cloning the map is causing some major performance issues here, it's taking ~5 min to

[2017-08-25 05:22] sunng87 commented on #178
Hi @hammett @root is not supported for now and I will definitely support it.

Currently I'm working on pest upgrade #177, which involves lots of changes so I will be working on this right after #177 is done.

For the second question I will look into it and come back to you this weekend.

[2017-08-25 14:49] hammett commented on #178
Thanks @sunng87 I looked at the code, and thought that to implement both root and no clone, the RenderContext would have to have an Option<Rc<RenderContext>> back to the parent RC, but it touches way more than that, so I refrained from trying it for now.

[2017-08-28 10:17] matthiasbeyer opened #179 "Segfault in Handlebars"
I just experienced a segfault which seems to be originated in the handlebars code.

As there are ~6000 stack levels, it seems that I ended up crashing into the heap by recursing too deep. The recursion seems to happen in handlebars, as only a few (as in below 10) stack levels are from my code.

The corrosponding code [is here](https://github.com/matthiasbeyer/imag/pull/1023), [here is the causing

[2017-08-28 15:32] sunng87 commented on #179
Hi @matthiasbeyer , from what I can see in the dump, it might be your data structure has recursive reference so when serde_json tries to convert it to `Value`, it causes stack overflow.

#1  0x00007fcb46489f72 in abort () from /usr/lib/libc.so.6
#2  0x0000002e24b9b98b in std::sys::imp::abort_internal () at /checkout/src/libstd/sys/unix/mod.rs:155
#3  std::sys_common::util::abort () at /checkout/sr

[2017-08-28 15:33] sunng87 commented on #179
By the way, I was using `coredumpctl gdb pid`, then type `bt` for backtrace in gdb

[2017-08-28 19:37] matthiasbeyer commented on #179
Can you point out where my code seems to have a recursive reference?

[2017-08-29 15:26] sunng87 commented on #179
@matthiasbeyer Just added some debug print to your `log` function I saw it's all about handlebars:

------
{"file": "/home/nsun/.cargo/registry/src/github.com-1ecc6299db9ec823/handlebars-0.29.0/src/render.rs", "level": "DEBUG", "line": "641", "message": "rendering RawString(\"[imag][\"), partials: {}, path: \".\", local_variables: {}, current_template: Some(\"DEBUG\"), root_template: Some(\"DEBUG\

[2017-08-29 15:28] sunng87 commented on #179
Let me know if you can fix it from your code. Otherwise I will publish an update with the debug log removed.

[2017-08-29 15:30] matthiasbeyer commented on #179
Thanks for your investigation.

I do not see, though, where the error is. Can you explain, please?

[2017-08-29 15:33] sunng87 commented on #179
It seems your logger is logging `debug!` logs from handlebars. Just add some `println!` to your `data` and you can see it.

[2017-08-29 15:36] matthiasbeyer commented on #179
Ah, you mean that handlebars uses logging and because of that my logger recurses. Now I understand the problem.

Well, then it'd be good if handlebars could add a compiletime feature to disable logging, I guess. Feel free to [borrow my solution on this problem from the toml-query crate](https://github.com/matthiasbeyer/toml-query/blob/master/src/log.rs) where I create macros if logging is disabled

[2017-08-29 15:37] matthiasbeyer commented on #179
Maybe we could even author a new crate for exactly this use-case... if there isn't one already!

[2017-08-30 13:52] sunng87 commented on #179
@matthiasbeyer by designing the logging API a macro, I believe the author is to eliminate runtime overhead for logging at all if you didn't enable it. So it seems redundant to add another feature toggle for it.

I think you should fix it from your codebase or use your own logging macros as you said.

[2017-08-30 16:00] matthiasbeyer commented on #179
Sorry, but I don't understand this statement at all.

Then I would need to fork handlebars and maintain a patch on top of my own fork, using my own fork in my imag codebase. Having it upstream in handlebars would eliminate this "maintain overhead" and others can profit from it, too, by disable logging in handlebars at compiletime.

[2017-08-31 05:06] sunng87 commented on #179
Ok I'll remove the debug log and release a new version tonight

[2017-08-31 08:59] matthiasbeyer commented on #179
I added a workaround to my codebase [here](https://github.com/matthiasbeyer/imag/pull/1023/commits/0bf0ac7af300dda1d1405913e3bf18dba07a26c3) but that's not a thing one should need to do when using the handlebars crate in a logger.

Thanks for your efforts! :+1:

[2017-08-31 16:38] sunng87 commented on #179
Fix released in 0.29.1

[2017-08-31 16:38] #179 closed

[2017-09-04 00:15] #117 closed

[2017-09-04 18:40] killercup commented on #126
I tried writing a more generic kind of helper, `gt` (basically `let gt = |x, y| x > y;`), to be used as a subexpression. Having helpers like that would allow you to write much more complex ifs.

Is that currently possibly? How can a helper return a value other than writing to the context?

This is what I have currently:

[code]

[2017-09-05 08:00] sunng87 commented on #126
I can understand you want simple and lightweight helper like a javascript function. Handlebars takes subexpression render result as json literal or variable name. To have simple helper like `let gt = |x, y| x > y;`, we just need a wrapper to do two things:

1. Extract x,y from helper params, check type or report error
2. Write the return value to writer

Perhaps we can wrap it in a macro like `hel

[2017-09-05 08:36] killercup commented on #126
Oh, I see! There's always a JSON serialization in between, even when calling helpers. That's pretty clever, actually!

So, the problem with my code above was just the line with the writer, as you can't transform a `bool` to a `&[u8]` with knowing the encoding. It compiles and seems to work with this:

[code]

Or, using serde_json's conveniences:

[code]

I'll try to write a small lib with that mac

[2017-09-05 10:34] killercup commented on #126
Okay, I started a repo here: https://github.com/killercup/handlebars-helpers-rust

It's very bare-bones right now, but has a macro to easily define helpers and already defines a few simple ones.

Sadly, I still have some issues getting the correct data type from a subexpression. Apparently, the param that contains the result from the subexpression (gt 5 3) is of type String("true") instead of Bool

[2017-09-05 14:01] sunng87 opened #181 "Subexpression to return JSON values"
Currently our helper can only write string/bytes into writer. But if we want to compose subexpressions, like `(not (gt 3 2))`, we'd better have them return typed JSON values.

This may require change on helper trait.

[2017-09-11 14:35] sunng87 opened #183 "Review clone scenarios"
There are a few cases in render.rs where we clone json data to feed `ContextJson`. The main reason is our data may have different lifetime (from render call, from template, etc). We need to carefully review these cases and to see if we can replace it with `Rc`s.

[2017-09-12 15:30] #181 closed

[2017-09-14 07:02] yinyanlv opened #184 "我想实现在模板中定义变量的helper，但发现TemplateElement没有对外部导出，请问怎么解决？"
#### 我想实现在模板中定义变量的helper

[code]
---
#### 实现的代码
[code]

[2017-09-14 13:52] sunng87 commented on #184
这里可以直接把 helper 的 template render 成 string

[code]

另外这里推荐用 raw helper，里面的内容不会被解析为模板：

[code]

[2017-09-15 05:05] yinyanlv commented on #184
helper.template 和 StringWriter都是私有的，对外部并没有公开。不好意思，可能是我没有明白你的意思

[2017-09-15 06:15] sunng87 commented on #184
helper.template() 可以获取到 template，StringWriter 确实是私有的，晚些时候我可以发布一个版本支持一下。

[2017-09-15 06:31] yinyanlv commented on #184
好的，谢谢啊

[2017-09-15 14:44] sunng87 commented on #184
StringWriter exposed in 8d103041

现在 master 上改动比较多，暂时不准备发版了。可以先用 git 依赖。有问题随时反馈

[2017-09-15 15:15] yinyanlv commented on #184
好的

[2017-09-15 15:15] #184 closed

[2017-09-19 14:42] #178 closed

[2017-09-28 23:46] mkawia opened #189 "Struct fields that start with "ass" makes render() panic"
Think I've encountered a bug. If you have a `Struct` and want to Serialize to render a template and it has a field with a name starting with "ass" eg "ass" or "asset_account" it panics . To illustrate:

`extern crate handlebars;
extern crate serde_json;

#[macro_use]
extern crate serde_derive;

use handlebars::Handlebars;

fn main() {
    let source = "{{#each asset_accounts }} {{name}} {{/each~}}

[2017-09-29 04:17] dikaiosune commented on #189
😅

I'm not a contributor, but I took a second to look into this on the latest version. I think there may be a bug here, but it's not in render and it's not a problem with "ass" in the variable name AFAICT. `as` as the start will produce a panic in `register_template_string`:

[code]

[code]

IIRC, handlebars loops allow aliasing a loop variable like `{{#each account as a}}...{{/each}}`, maybe ther

[2017-09-30 11:38] sunng87 commented on #189
Yes, it seems pest will won't match any token starts with "as" with my rule. I just added a quick fix that change `"as"` to `"as "`.

[2017-10-04 19:57] Harleqin commented on #189
I'm not sure about the intent here, but wouldn't this then fail if the "as" is followed by a TAB instead of a SPACE, for example if someone is trying to align parts vertically?

I wonder whether the path to more obvious correctness might be first to tokenize, then parse the tokens.

[2017-10-05 13:18] hashtagfoundation commented on #189
The framework I built also uses the "as" syntax everywhere for contexts... it looks for any whitespace before and after the "as", including vertical whitespace.

[2017-10-05 15:06] sunng87 commented on #189
I understand. I'm looking for better solution to unmatch `as` from `reference` in pest. For now I'm not sure how to exclude some keywords from it.

[2017-10-07 04:17] sunng87 commented on #189
This should be fixed in 571a1483. Pest rule is added to filter keywords out. It works for various whitespaces.

[2017-10-07 04:17] #189 closed

[2017-10-18 12:07] quadrupleslap opened #190 "Why does renderw take an &mut Write instead of using static dispatch?"
Also, I also don't know why `StringWriter` is needed.

[2017-10-18 12:09] sunng87 commented on #190
Because we want a generic API that can write to any target like file, string or TCP connection.

[2017-10-18 12:16] quadrupleslap commented on #190
Currently the signature is:

[code]

But I'm wondering why it isn't:

[code]

Which would be just as generic.

[2017-10-18 19:55] lfairy commented on #190
Have you benchmarked it with static dispatch?

Handlebars is a pretty heavy library, and doesn't seem like the kind of thing that would benefit from monomorphization.

[2017-10-20 05:47] quadrupleslap commented on #190
It's not the speed, it's just that I've never seen the use of trait objects as input parameters in idiomatic Rust, and using a type parameter would let you use the trait object version if you ever needed to, as well.

[2017-10-21 09:09] sunng87 commented on #190
@quadrupleslap I'm pretty open to this to make it idiomatic Rust. Could you please make a pull request for this? As we are preparing for the 0.30 and 1.0 release, a break change is OK for me.

[2017-11-14 16:05] ignatenkobrain opened #193 "Helper not defined: \"this\"" when using serde_json + handlebars-rust"
[code]

Ref: https://github.com/Aaronepower/tokei/issues/157

[2017-11-14 16:05] ignatenkobrain commented on #193
Relevant code:

[code]

[2017-11-14 16:06] ignatenkobrain commented on #193
This worked fine with 0.28, but not with 0.29.. I have very small amount of knowledge about handlebars, so help is highly appreciated.

[2017-11-14 16:51] sunng87 commented on #193
hi @ignatenkobrain , from the code I didn't see a helper named `this` registered. Could you please show me the template? `src/language/language_type.hbs.rs`

[2017-11-14 16:56] sunng87 commented on #193
Found in your repo. I will look into this issue.

[2017-11-14 17:12] sunng87 commented on #193
@ignatenkobrain it's a parser issue. 0.29 handlebars has updated the JSON path expression parser. Please change [your template line 250](https://github.com/Aaronepower/tokei/blob/master/src/language/language_type.hbs.rs#L250) to `{{this.extensions.[0]}}` and I think it will work.

[2017-11-14 17:33] ignatenkobrain commented on #193
@sunng87 cool! thanks a lot! do you think it would be possible to print line where it is happening? it was not obvious to find for me.

[2017-11-15 15:42] sunng87 commented on #193
At the moment, `template_renderw2` won't generate template mapping. I will change this behaviour in 0.30

[2017-11-15 16:10] #193 closed

[2017-11-18 08:35] lo48576 opened #194 "Require `Sync` for `cause` of `RenderError`"
Rust's std library provides type conversions for `Box<Error>` and `Box<Error + Send + Sync>`, but not for `Box<Error + Send>`.
So, definition of `cause: Option<Box<Error + Send>>` (without `Sync` bound) in `RenderError` decreases interoperability between various error types.
For example:

* [`std::io::Error` requires the cause to be `Error + Sync + Send`](https://doc.rust-lang.org/std/io/struct.Er

[2017-11-20 14:29] sunng87 commented on #194
This is not designed. I will add `Sync` for `cause`

[2017-11-20 14:41] sunng87 commented on #194
Released in 0.30.0-beta4

[2017-11-20 14:41] #194 closed

[2018-01-01 01:05] sstangl opened #195 "{{#each}} is very slow"
In a Rocket application, I have a `Vec(Entry,Length)` of size 1030, where `Entry` is a struct with 28 fields, and where `Length` is a struct with 4 fields.

Passing that `Vec` into the `Template` context, I attempted to render it into a table using `{{#each}}`:

[code]

Rendering this template with a `--release` build takes 8.5 seconds.

If instead I render the table as a String in Rust (but still

[2018-01-02 14:39] sunng87 commented on #195
I haven't look into the exact cause of the slowness. But currently we have a lot of data clone during rendering, which is known as key factor of this kind issues. I'm still attempting to rewrite some internal parts to avoid these clones.

For this issue, is it possible to provide me a JSON dump of your sample data?

[2018-01-02 20:12] sstangl commented on #195
I uploaded a JSON dump here: https://gist.github.com/sstangl/bcc7455493276b6360fd523a623698d5/raw/d1a16d34eb049585d282d24981ef5d080d58026d/sample-data.json

That is the contents of the `entries` vector for that one page that takes 8.5 seconds to load.

[2018-01-03 15:23] sunng87 commented on #195
Thank you for providing me the dump!

[2018-01-13 14:14] sunng87 commented on #195
@sstangl sorry for late. If you were using Rocket contrib 0.3.6, which uses handlebars 0.27, it should be a fixed issue with each loop #166 .

Update to rocket master you should be able to see improvements.

[2018-01-18 20:11] steveklabnik commented on #194
I'd love to see this get released! That makes this crate work seamlessly with `Failure`.

[2018-01-18 20:16] steveklabnik opened #197 "master fails to compile"
[code]

I havne't investigated further, but am willing to if it's not obvious.

[2018-01-18 20:18] steveklabnik commented on #197
Okay, so I had an idea suddenly: https://crates.io/crates/pest

 1.0.0-rc.1 Jan 18, 2018
1.0.0-rc.0 Jan 18, 2018
1.0.0-beta.17 Dec 19, 2017

i bet this is a change between beta and rc.

[2018-01-18 20:21] steveklabnik commented on #197
Nope, fails with 17, 16, and even 1.

@sunng87 what version is in your local `Cargo.lock`?

[2018-01-18 21:49] steveklabnik commented on #197
https://github.com/pest-parser/pest/commit/791e93001faee00d87dd92afcafb0c157554343f

[2018-01-18 22:04] steveklabnik commented on #197
Yup; `beta.17` works, it's the `rc`s that dont.

[2018-01-19 01:36] sunng87 commented on #194
I'll release this once pest 1.0 stable is out.

[2018-01-19 01:39] sunng87 commented on #197
Yes, there is a break change got merged in pest last night. I will align with it later today.

[2018-01-19 02:18] steveklabnik commented on #194
Seems good 👍

[2018-01-19 13:41] sunng87 commented on #197
beta 5 is out with everything sorted.

[2018-01-19 13:41] #197 closed

[2018-01-19 13:43] sunng87 commented on #195
I will close this one for now. Feel free to reopen if you still have trouble with 0.28+ versions.

[2018-01-19 13:43] #195 closed

[2018-01-19 14:24] steveklabnik commented on #197
🎊 ❤️

[2018-01-19 21:03] dragostis commented on #117
I've released an RC for pest 1.0. The only thing blocking the 1.0 release is making sure it works great with Handlebars. 😄

[2018-01-20 06:05] sunng87 commented on #117
@dragostis I've had master branch updated to latest pest RC. I confirm it works perfect with handlebars. Looking forward to the 1.0 release!

[2018-01-22 02:08] thelearnerofcode opened #198 "Docs badge is invalid."
The badge points to [https://docs.rs/handlebars/](https://docs.rs/handlebars/), but that 404s. ("The requested resource does not exist")

[2018-01-22 03:01] sunng87 commented on #198
oh, seems docs.rs has changed their url pattern. I will fix this later today.

[2018-01-22 15:20] sunng87 commented on #198
Fixed in a17d5bc . Currently docs.rs's rustc is a little dated and it has trouble building pest, the parser library we use. So the docs isn't up to date at the moment.

[2018-01-22 15:20] #198 closed

[2018-01-30 22:13] steveklabnik opened #199 "any chance of `Handlebars` implementing `Debug`?"
I'd like to put an instance of `Handlebars` in a struct that implements `Debug`. Would you be interested in taking a patch that adds this impl? It's generally considered a good practice for all public types to implement: https://rust-lang-nursery.github.io/api-guidelines/debuggability.html#all-public-types-implement-debug-c-debug

Thanks!

[2018-01-31 06:29] sunng87 commented on #199
No problem @steveklabnik , I will add Debug to all public types, later.

[2018-01-31 14:22] sunng87 commented on #199
Implemented in 0.30.1

[2018-01-31 14:22] #199 closed

[2018-01-31 15:46] steveklabnik commented on #199
Oh thank you! Quite fast 😄

[2018-01-31 17:53] csirkeee commented on #43
It's still true that `length` doesn't work in Rust Handlebars, and works in the original JS Handlebars. The helper that was posted here by @sunng87 only worked with earlier versions of the library. Since then, the helper method signature changed, and Handlebars switched to Serde, so I had to make some modifications.

Here is a version of the helper that works with current Rust/Handlebars/Serde, in

[2018-02-03 02:27] sunng87 opened #200 "Output API"
I am going introduce a break change to the helper API, that takes the `writer` from `RenderContext`, and make a `Output` trait for the writer.

The idea is:

1. Simplify `RenderContext` API. When expanding subexpression, we always use a `StringWriter` to hold the result. In that case, `RenderContext` needs to be created for a new writer.
2. `std::io::Write` is just one kind of output. When we use

[2018-02-08 16:48] steveklabnik opened #202 "strange parsing of comments"
I have this:

[code]

this prints out

[code]

in my output.

I *think* the issue is, `nest-count` has a `-`, `base-url` has a `-`, then `}}` comes, so it tries to end the comment. Not 100% sure though!

[2018-02-08 16:54] sunng87 commented on #202
I see. This looks weird. Let me add a test case to reproduce this.

[2018-02-09 14:28] sunng87 commented on #202
Checked the grammer, `{{!-- --}}` is not supported for now.
I will add a quick implementation for that.

[2018-02-09 15:11] sunng87 commented on #202
Released in 0.31.0

[2018-02-09 15:11] #202 closed

[2018-02-13 13:54] pftbest opened #203 "How can I get error when some field is missing in the data model?"
I want to get an error message when I forgot to add some field in my data struct.

Example code:
[code]

[2018-02-13 14:51] sunng87 commented on #203
You will need a helper like this (not tested, may contains error):

[code]

[2018-02-13 14:54] pftbest commented on #203
So there is no way to enable such behavior globally? Using a helper everywhere in the code will be very inconvenient.

[2018-02-13 15:10] sunng87 commented on #203
The handlebars language was based on JavaScript, it renders empty string for this situation.

I think I can add a strict switch on handlebars registry to control this behaviour.

[2018-02-13 15:14] pftbest commented on #203
That would be great, thank you!

[2018-02-15 11:45] sunng87 commented on #203
@pftbest the feature impl is almost ready in #204. Could you please use this branch and verify if it works for your case?

[2018-02-15 19:57] pftbest commented on #203
@sunng87 It works great, thank you! I was a bit worried that it might handle `Option<String>` different, but it did just fine.

[2018-02-16 03:49] sunng87 commented on #203
Nice! Thank you @pftbest , a new release is coming.

[2018-02-16 03:54] #203 closed

[2018-02-19 01:08] sstangl commented on #195
I had not tried for a while, but with current Handlebars, the same page renders in ~4.6 seconds. Better than the 8.5 seconds originally, but still not usable.

Serde serialization of the whole data structure to a JSON string is extremely quick (~15ms), so I can work around it by just rendering into a big HTML string outside of the template.

[2018-03-17 15:22] sunng87 opened #206 "Json lifetime issue causing too many clones"
Currently we have received report that handlebars-rust doesn't scale well on large dataset (#195) . The reason is we have too many clones in helper render.

In handlebars render process, we have value from several different sources, which have their own lifetime individually. In order to provide values for helper API, currently we use `clone` to bypass the lifetime issue. Of course, it is quite ex

[2018-03-17 15:40] sunng87 opened #207 "Register template folder"
Provide a handy method on `Registry` that register all templates in a folder.

This is already implemented in [handlebars-iron](https://github.com/sunng87/handlebars-iron/blob/master/src/sources/directory.rs) as `DirectorySource` . We just need port it into handlebars and deal with error properly.

[2018-03-22 14:51] sunng87 opened #208 "WebAssembly API for JavaScript"
Finally we have (wasm-bindgen)[https://github.com/alexcrichton/wasm-bindgen] to expose Rust struct to JavaScript, so we should be able to create `Handlebars` instance from JavaScript, and call any API from it.

This has made it possible to create a JavaScript interface for handlebars-rust. The next step will be allowing JavaScript implemented helpers and directives being registered in handlebars-r

[2018-03-28 02:46] dginev commented on #206
:+1: from me, I would love to use handlebars for rendering my 3,300 row HTML table (~ 2 MB of HTML).

[2018-03-30 22:38] torkleyy opened #209 "Build fails on latest nightly"
Not sure if it's `pest_derive` or this crate, but the build fails on the latest nightly (`2018-03-29`):

https://travis-ci.org/slide-rs/specs/jobs/360451251#L749

[code]

[2018-03-31 14:11] sunng87 commented on #209
Thanks for reporting. I can reproduce it with latest rustc. It seems to be a break change for macro system.

https://github.com/pest-parser/pest/issues/218 is tracking this.

[2018-04-01 14:33] sunng87 commented on #209
This is fixed in latest pest. `cargo update` should help.

[2018-04-01 14:33] #209 closed

[2018-04-01 19:52] mutlusun opened #210 "Access TemplateElement enum"
Hello,
thanks for your awesome project!

I am trying to write a small CLI tool for managing LaTeX templates with dynamic expression replacement. So I want handlebars to scan a template file for expressions and then ask the user how to replace them. For example `{{title}}` could be `A LaTeX document` and on another day it could be `Another LaTeX document`. Somehow I need access to the found express

[2018-04-02 15:24] sunng87 commented on #210
The `TemplateElement` is for internal use only.

Based on you case, I suggest you to write a helper, say `prompt`. When rendering `{{prompt title}}`, it asks user to type something.

[2018-04-05 05:00] jaroslaw-weber commented on #209
my Travis builds are failing because of this.
I'm using `handlebars = "0.32.0"`, and `cargo update` is not changing a version.

What would be the workflow for this? Do I need to manually update version of handlebars in all of my crates depending on handlebars to the new 1.0-beta version of hb?

[2018-04-05 14:29] sunng87 commented on #209
hi @jaroslaw-weber , running `cargo update` should update `pest` to 1.0.7. And if your project is an app, you'd better add `Cargo.lock` to source management.

This update has nothing to do with 1.0-beta.

[2018-04-12 21:14] mutlusun commented on #210
Hello @sunng87 ,
thanks for your help and sorry for my late reply!

Now I have seen in the docs that I can even build conditional helpers. This is perfect for my use case!

Best
mutlusun

[2018-04-12 21:14] #210 closed

[2018-04-20 19:36] jonathanmorley opened #214 "Comments are present in the output"
According to https://handlebarsjs.com/#comments the following handlebars template should have no content:

[code]

However, with handlebars-rust we get the following:

[code]

This can cause issues if the template is not XML-based

[2018-04-25 15:57] jonathanmorley commented on #214
I think that might be a misreading of the JS docs.

It looks like it is recommending to use `` if you want the comment to show up in the output.

[code]

Is just to allow `{{` and `}}` within the comment block

[2018-05-02 05:17] sunng87 commented on #214
@jonathanmorley there is section on handlebarsjs.com for this.

https://handlebarsjs.com/#comments

[2018-05-08 02:38] sunng87 commented on #214
Just verified from tryhandlebarsjs.com @joerixaop @jonathanmorley you are right. I will release a fix later today.

[2018-05-09 16:42] sunng87 commented on #214
released in 0.32.2

[2018-05-09 16:42] #214 closed

[2018-05-16 04:14] shadowmint opened #216 "Incorrectly parses \\ in templates."
The template:

    {{FOO}} {{BAR}} {{FOO}}{{BAR}} {{FOO}}#{{BAR}} {{FOO}}//{{BAR}} {{FOO}}\\{{FOO}} {{FOO}}\\\\{{FOO}}\\\\{{FOO}}

Renders:

    foo bar foobar foo#bar foo//bar foo\\{{FOO}} foo{{FOO}}{{FOO}}

I have been looking through the handlebars spec regarding `\`, but I can't see anything specific about this in it; it seems like a bug.

Note that other various character variations, eg. "{{F

[2018-05-17 14:40] sunng87 commented on #216
There is escaping rules for handlebars:

when `{"foo": "bar"}` we will have
[code]

The current implementation in handlebars-rust has issue with handling `\\`. I'm looking into the parser to see how to support that.

[2018-05-21 13:59] #216 closed

[2018-05-21 14:01] sunng87 commented on #216
@shadowmint this should have been fixed in #217. I'll create a release soon

[2018-05-23 03:54] KeenS opened #218 "handlebars 0.32.3 breaks compatibility"
Because it has started to [use `impl Trait`](https://github.com/sunng87/handlebars-rust/blob/master/src/template.rs#L146), it breaks compatibility under rustc < 1.26.0, which should not occur in non-major update.
I suggest to [yank](https://doc.rust-lang.org/cargo/reference/publishing.html#cargo-yank) 0.32.3 and re-release it as 0.33.0.

[2018-05-23 03:56] sunng87 commented on #218
Thanks for reporting. I will switch to generics as `impl Trait` are all on parameter types.

[2018-05-23 14:58] sunng87 commented on #218
0.32.4 released for this.

[2018-05-23 14:58] #218 closed

[2018-05-24 04:32] KeenS commented on #218
Thank you for your quick fix.

[2018-06-07 06:00] shadowmint commented on #216
Hm... the issue I was having before is indeed fixed, but I'm still seeing strange results in various edge cases:

Cargo.toml:
[code]

main.rs:
[code]

Output:
[code]

[2018-06-09 03:59] sunng87 commented on #216
@shadowmint could you please point out which output is incorrect? I just verified against http://tryhandlebarsjs.com/ it seems the behaviour has been consistent with handlebars.js

[2018-06-09 05:05] sunng87 commented on #216
![image](https://user-images.githubusercontent.com/221942/41187855-ce5f8728-6be5-11e8-8062-0a60e7bf0e94.png)

I have `{{foo}}\hello\{{bar}}\` rendered `foo\hello\{{bar}}\` on tryhandlebarsjs.com. Did I miss anything?

The backslash after `hello` escapes `{{bar}}` so it's not rendered.

[2018-06-09 06:31] shadowmint commented on #216
Ah, my mistake, I was looking at the rendered output from mustache, not handlebars when it renders that output.

I guess you can leave this closed then... I'll just leave this here for anyone else who finds this issue later:

If you want to render `\foo` from a template, the template form your require is `\\{{prop}}`; this isn't documented anywhere meaningfully, but `\{{...}}' is a handlebars inli

[2018-06-14 05:50] ignatenkobrain opened #219 "0.32.4 fails to compile"
[code]

[2018-06-14 06:47] sunng87 commented on #219
hi @ignatenkobrain what rustc version you were using?

[2018-06-14 07:12] ignatenkobrain commented on #219
@sunng87 that's the 1.26.2 version.

[2018-06-14 07:17] sunng87 commented on #219
It seems to be something with our dependency on pest. I will look into this issue later today

[2018-06-14 07:48] ignatenkobrain commented on #219
@sunng87 I've sent #220. Thanks for hint!

[2018-06-14 14:37] #219 closed

[2018-06-27 00:44] gamebox commented on #207
I'm a new Rust developer, but would like to tackle this.

[2018-06-27 03:07] sunng87 commented on #207
@gamebox Thanks! You are welcomed to join and work on this. Please create a branch from master.

Let me know if you have any question with this feature.

[2018-06-27 23:58] gamebox commented on #207
One thing I want to clarify: When we register a directory, is the assumption that we want to use the filename (minus the extension) as the name for the template?

[2018-06-28 02:48] sunng87 commented on #207
@gamebox Yes. By register folder we assume the relative path name is the template name. In handlebars-iron you will specify path prefix(template root path) and suffix(template file extension), the path between prefix and suffix and treated as template name

[2018-06-28 03:09] gamebox commented on #207
Cool, I actually got the answer myself by reading the source in `handlebars-iron`.  Now I have a _working_ implementation(verified in the render-cli example), the only thing left to be decided is error behavior.  Do we want to bail if any file fails to load?  Or only if it cannot render?

[2018-06-28 13:28] sunng87 commented on #207
I think we should return an error on that case. But that may leaves some of templates registered in Registry. It would be great if we can "rollback" when error occurs.

[2018-06-30 07:17] gamebox commented on #207
For those tracking this, my PR is in review. #223

[2018-07-03 02:50] sunng87 commented on #207
Implemented in #223

[2018-07-03 02:50] #207 closed

[2018-07-03 16:11] sunng87 commented on #206
Fixed in #224

[2018-07-03 16:12] #206 closed

[2018-07-09 20:22] rflaperuta opened #225 "Expose Template Elements"
I'm devising a helper that calls an API, the API individual calls are metered.

I though it would be nice to scan the template returned by `get_template`, iterate and accumulate all related helper usage, and call the API once, passing all the parameters using this helper. (This batch API call can optimize speed and escape metering to an extent)

My dificulty starts with not being able to iterate v

[2018-07-10 06:37] sunng87 commented on #225
No problem. I just made template mod public, please check if the master branch work for you.

Also could you please show me your helper implementation? I'd like to see if anything I can do to improve the helper API for your case.

[2018-07-12 20:19] dathinab commented on #55
What is the current state of this?

Expect @hugoduncan, @Eric-Guo and  @AlexTalker every agreed.
(Through by now there should be more people, which have to agree).

So I wonder if:
1. it makes sense to get this agreement with any new pull request
2. [maybe] if @hugoduncan, @Eric-Guo and  @AlexTalker _can't_ be reached
    to retrospectively remove their contribution (which sounds a bit
    extreme

[2018-07-13 15:10] #200 closed

[2018-07-13 15:10] sunng87 commented on #183
Done in 1.0 branch

[2018-07-13 15:10] #183 closed

[2018-07-13 15:10] #190 closed

[2018-07-13 23:43] tailhook commented on #55
MIT license allows sublicensing, which means you can use this work under a different license, just retain the copyright. So permission from all contributor isn't strictly required (as I think it's implied that they were licensing their work under MIT too). Am I misunderstanding the license?

[2018-07-14 00:11] cmr commented on #55
Yes, that's not what sublicensing means.

On Fri, Jul 13, 2018, at 16:43, Paul Colomiets wrote:

--
cmr
http://octayn.net/
+16038524272

[2018-07-15 22:03] rflaperuta commented on #225
Just tested and now I can access all elements that I need.

The helper isnt finished yet, but you can take a look at the progress in:
https://github.com/rflaperuta/ssm_helper

I suppose it will convey the needs better than explaining it here...

[2018-07-16 06:12] sunng87 commented on #225
Nice. I think you were using the API for debug purpose right? It looks good to me. Thanks!

[2018-07-16 06:13] #225 closed

[2018-07-18 08:11] sunng87 commented on #55
Added new contributors to the table.

Name | Status
--- | ---
sunng87 | Agreed
@softprops | Pending
blaenk | Agreed
@gamebox | Pending
tailhook | Agreed
untitaker | Agreed
@killercup | Pending
@FauxFaux | Pending
@robinst | Pending
@ignatenkobrain | Pending
@azerupi | Pending
@SirVer | Pending
dathinab | Agreed
@frewsxcv | Pending
@GuillaumeGomez | Pending
@mschmo | Pending
@rofrol | Pending
@Serg

[2018-07-18 08:12] killercup commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 08:13] GuillaumeGomez commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 08:18] ignatenkobrain commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 09:09] sunng87 commented on #126
Helper macro is now a part of handlebars-rust. And some helpers were added:

* gt
* gte
* lt
* lte
* eq
* ne
* not
* or
* and

It is recommended to use them as subexpression with `if`.

[code]

It should be easier to develop helpers. Let me close this.

[2018-07-18 09:09] #126 closed

[2018-07-18 09:43] robinst commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 09:44] azerupi commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 12:30] frewsxcv commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 12:31] ghotiphud commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 13:30] bbigras commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 13:31] shepmaster commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 15:21] gamebox commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 21:35] SirVer commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-18 23:46] SergioBenitez commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-07-19 15:29] sunng87 opened #229 "Only set @index/@first/@last in each helper when used"
Based on our profiling result, setting local variables like `@index`/`@first`/`@last` takes about 1/7 time when rendering each helper. This can be skipped when inner template doesn't use these variables.

[2018-08-16 06:35] sunng87 opened #230 "Filter hidden and temp files from register_templates_directory"
We need to exclude emacs temp files whose filename starts with `#` and hidden files with filename starts with `.`.

[2018-08-16 12:48] sunng87 commented on #230
Fixed in a000220

[2018-08-16 12:48] #230 closed

[2018-09-06 19:23] devinus opened #232 "Single quotes not supported in sub expressions using a helper"
[code]

[2018-09-07 14:18] sunng87 commented on #232
Thanks for reporting. Single quotes is not supported at the moment. Please use double quotes for now and I'll look into the parser this weekend.

[2018-09-11 16:02] sinhpham opened #233 "Error compiling on wasm"
Due to `fn filter_file(entry: &DirEntry, suffix: &str) -> bool` in registry.rs missing a `#[cfg(not(feature = "no_dir_source"))]`

[2018-09-12 13:03] sunng87 commented on #233
Thanks! This is fixed in 68daca1. I will create a release later with other minor fixes.

[2018-09-12 13:03] #233 closed

[2018-09-21 03:19] sunng87 commented on #232
Fixed in 39bd58d

[2018-09-21 03:19] #232 closed

[2018-10-02 12:32] ignatenkobrain opened #237 "pest 2.x"
Would be cool if you could switch to new pest which was released not so long time ago ;)

[2018-10-02 12:46] sunng87 commented on #237
Cool! Didn't noticed the version were released. It's definitely on my TODO. I will start to work on it when I'm back from vocation.

[2018-10-04 20:32] novakov-alexey commented on #43
@csirkeee is RenderContext from rocket_contrib crate?
if I use RenderContext directly from extern crate handlebars, I am missing `writer` field in it. I am wondering if this struct is evolved since then.

[code]

[2018-10-05 02:42] sunng87 commented on #43
@nnovakov-alexey it says handlebars not available from rocket_contrib, did you have handlebars feature turned on when importing rocket_contrib?

[2018-10-05 06:45] novakov-alexey commented on #43
@sunng87 yes, exactly.

[code]
`rocket_contrib = {version="0.3.16", features = ["handlebars_templates"]}`
I am also using **hanlebars** explicitly for my project in toml file:
`handlebars = "1.0.4"`

[2018-10-05 07:59] sunng87 commented on #43
@novakov-alexey as of 1.0, there is no `writer` in `RenderContext` any more. Use the `Output` to write bytes.

Rocket contrib 0.3.16 was using handlebars 0.x version, and it will conflict with 1.0. I suggest you to use git version, or remote explicit `handlebars = 1.0.4` to see if it would work.

[2018-10-05 11:58] novakov-alexey commented on #43
@sunng87 thanks for advice. Yes, I am using remote explicit `handlebars = 1.0.4`.
Actually, I am trying to make @csirkeee example above working with standalone handlebars. @sunng87 which Output do you mean please? :-) I am quite new to Rust ecosystem.

[2018-10-05 20:02] novakov-alexey commented on #43
Answering my question as for helper to get array length:

`
extern crate handlebars;
use handlebars::*;

pub fn array_length_helper(
    h: &Helper,
    _: &Handlebars,
    _: &Context,
    _: &mut RenderContext,
    out: &mut Output,
) -> Result<(), RenderError> {
    let length = h
        .param(0)
        .as_ref()
        .and_then(|v| v.value().as_array())
        .map(|arr| arr.len())

[2018-10-09 15:46] steveklabnik opened #238 "register_templates_directory includes a period"
I have a basic application that does this:

[code]

This would panic, with output like this:

[code]

I decided to add a short loop right after the `register_templates_directory` call:

[code]

and it printed this:

[code]

Note the extra `.`. If I change my render call to be

[code]

it now works. This feels like a bug!

[2018-10-11 06:41] sunng87 commented on #238
hi @steveklabnik . May I know you handlebars version?

I cannot reproduce this issue in master. Also from your code you are rendering `hello.`

[code]

But the error report says `hello`:

[code]

Could you please confirm ?

[2018-10-11 06:45] sunng87 commented on #237
Currently upgrade is blocked by a request for accessing line/column number from `Error`.
https://github.com/pest-parser/pest/issues/307

[2018-10-11 12:42] steveklabnik commented on #238
I was using 1.0.5. However, I cannot reproduce now either; I must have had something wrong on my side somewhere. Sorry for the noise!

[2018-10-11 12:42] #238 closed

[2018-10-11 14:07] sunng87 commented on #238
Never mind. Feel free to ask any question during handlebars development.

[2018-10-13 17:25] Phrohdoh opened #239 "Request: Add missing value's name/ident to error message"
https://github.com/sunng87/handlebars-rust/blob/b75541c192434d971006e17f8e01fdea787afab1/src/render.rs#L136

[2018-10-17 00:18] mraof opened #240 "includeZero flag is missing"
This code
[code]
should treat `previous` as true when `previous` is `Some(0)` because of the includeZero flag.
The way around this currently is to use an `Option<String>` instead of an `Option<i32>`

https://github.com/wycats/handlebars.js/issues/608 Relevant handlebars.js issue

[2018-10-17 03:41] sunng87 commented on #240
Thanks! Didn't know the option on `if` helper, this will be supported soon.

[2018-10-17 03:42] sunng87 commented on #239
Accepted

[2018-10-17 10:39] Keruspe opened #241 "Problem writing a custom boolean helper"
Hi,

I'm trying to write a custom boolean helper and I'm hitting a behaviour I don't understand.
I'm not using the handlebars_helper macro because I'm using some complex structure as input, not just a number or such.

Here is a minimal reproducer of my problem, this version works, but if I drop the `out.write` line from the helper and use the one from below instead, it doesn't work. This seems to

[2018-10-17 13:59] sunng87 commented on #239
Implemented in 7f12815

[2018-10-17 13:59] #239 closed

[2018-10-17 15:38] sunng87 commented on #241
Hi @Keruspe, when using helper in subexpression, the output is treated as json string, so any non-empty value is considered as true.

If your helper is mainly used for subexpression, I suggest you to implement the [the typed helper function, `call_inner`](https://github.com/sunng87/handlebars-rust/blob/master/src/helpers/mod.rs#L77) (the one used by `handlebars_helper!` macro).

A code sample is l

[2018-10-18 14:05] sunng87 opened #244 "level option for log helper"
Handlebarsjs has an option of `level` on the built-in helper `log` to control the log level.

[2018-10-20 12:05] #240 closed

[2018-10-20 12:06] #244 closed

[2018-10-22 09:35] Keruspe commented on #241
Thanks for the clarification

[2018-10-22 09:35] #241 closed

[2018-10-23 14:24] sunng87 commented on #237
Handlebars with Pest 2.0 is ready to merge (#242 ) except it will break support for Rust 1.23, which is required by [Criterion](https://github.com/japaric/criterion.rs).

I am going to release this as handlebars 2.0 and drop support for earlier versions of Rust.

[2018-10-24 14:32] #237 closed

[2018-11-10 11:17] ignatenkobrain commented on #237
Could you release new version of handlebars?

[2018-12-08 19:59] RalfJung opened #246 "Array access expressions fails: invalid digit found in string"
With handlebars 0.28.3, I used `{{this[0].field}}` to access a field of the first element of an array in a loop iteration. Since the upgrade to handlebars 1.1.0, this fails, saying `invalid digit found in string`.  Using just `{{this[0]}}` says `Helper not defined: "this"`.  With `{{this}}`, it renders `[[object], [object], ]`, showing that indeed I have an array.

So far, I found no way to access

[2018-12-09 12:11] iirelu opened #247 "No way to query if a variable exists in strict mode"
Leaving strict mode on all the time worked well for me until now. I want to do something simple, like change the page's title if the variable "title" is set, but I can't do that because `{{#if title}}` throws up an error when title isn't defined. This is pretty counterintuitive, there should probably be an exception to the strict rules for if/unless blocks, or at least a helper that could be used

[2018-12-10 09:22] sunng87 commented on #246
there was a json path visitor revamp after 0.28, the array access expression has been aligned with handlebarsjs. Now you should be able to use `{{this.[0].field}}` for the `field` of array's first element.

[2018-12-10 09:38] sunng87 commented on #247
So I think a better approach for strict mode is to restrict access on `{{title}}` only and allow subexpression/helper access.

[2018-12-10 11:58] RalfJung commented on #246
Thanks, that works!

As someone slightly familiar with JS and not at all familiar with handlebars, this is really surprising.  Not sure if it is possible to at least give better diagnostics in this case?

[2018-12-10 15:02] sunng87 commented on #246
Good suggestion. Neither handlebars-rust nor the original javascript version has detailed documentation about the expression, which is slightly different from what we general thought to be. So in earlier versions I made a mistake on the implementation.

I think it's better to add meaningful error messages or warnings when such expression detected.

[2018-12-13 01:00] #247 closed

[2018-12-14 18:40] ehuss opened #249 "1.2 has backwards-incompatible API changes"
The 1.2 release has broken compiling of mdBook.  It looks like the API changed in a backwards-incompatible fashion.  I get the following errors:

[code]

[2018-12-15 01:08] sunng87 commented on #249
Sorry, I will yank this release

[2018-12-15 01:14] sunng87 commented on #249
1.2.0 yanked. It should be back to normal.

[2018-12-15 01:14] #249 closed

[2018-12-29 23:21] bheisler opened #251 "Improve Error Messages in Strict Mode"
When a template is rendered in strict mode, if a value is not found Handlebars just gives this generic error message:

It would be helpful if it included which value was not found and the path through the context that it was looking for. It can sometimes be difficult to track or understand what `this` refers to in the context (especially when using the `{{ each ... as |name|}}` syntax).

[2018-12-29 23:24] #251 closed, assigned to nobody

[2018-12-29 23:54] fabienjuif commented on #208
First things I saw that block this process is this issue from `same-file`, a dependency used by `walkdir`: https://github.com/BurntSushi/same-file/issues/42

[2018-12-30 11:06] sunng87 commented on #208
Yes, this is known and I have a feature `no_dir_source` that disable `walkdir`

[2018-12-30 11:10] fabienjuif commented on #208
Ha nice 👍
Sorry then

[2018-12-30 11:44] sunng87 commented on #208
Never mind. By the way, if you are interested in a WebAssembly/JavaScript API for handlebars, feel free to discuss here.  Things I have been thinking about:

* a JavaScript wrapper API for `Handlebars`
* Defining helpers in JavaScript
* `document` implement for handlebars `Output` API

[2019-01-03 09:28] sunng87 opened #252 "Output API 2.0"
The original idea of `Output` API over `Write` based one, is to support for use case like generating rust code , instead of writing data to buffer directly.

However, current `Output` API is still based on `Write` and can hardly deal with scenario like looping over a data structure at render time. So it's still impossible to use handlebars in procedure macro to generate rust function.

In the new

[2019-01-04 18:42] carllerche opened #253 "Publish minimum Rust version policy"
tower-web depends on handlebars. It attempts to support Rust 1.29. However, handlebars updated to pest 2.0 in a minor release, which does not compile on Rust 1.29. This broke the tower-web build:

https://travis-ci.org/carllerche/tower-web/jobs/475416554

[2019-01-05 03:19] ao-rix opened #254 "Incorrect documentation for {{{raw}}} helper"
Looks like documentation for `{{{{raw}}}}` helper is wrong. From the current docs (https://docs.rs/handlebars/1.2.0/handlebars/):
[code]

From #68 test:
[code]

`{{{{#raw}}}}` vs `{{{{raw}}}}`, excess hash sign.

[2019-01-05 09:06] sunng87 commented on #253
Hi @carllerche , I have been confusing about minimum Rust version policy, is there any tooling support for it, or best practices with Cargo?

For handlebars, the 1.0.x versions should work with Rust 1.23+. And for 1.1.x and later, as you said, only works with 1.30+ IIRC. I was bumping minor version when dropping support for 1.23+ so semver range operator will work for this case. And I'm not sure i

[2019-01-05 09:17] sunng87 commented on #254
I'm sorry the doc was obsolete. I will fix it.

[2019-01-05 09:30] sunng87 commented on #254
Fixed in b9bb1fdf0a77f91813fa51612dbdbb4871df9915

[2019-01-05 09:30] #254 closed

[2019-04-03 21:40] robinvd opened #258 "stripping lines that are "standalone" helpers"
In the handlebars.js docs the following is described (https://handlebarsjs.com/expressions.html):
[code]
They give the example:
[code]
That will render as
[code]

Thus rendering the line `{{#if test}}` as nothing. Currenly on handlebars.rs:
[code]
renders as
[code]
(notice the newline between '---' and 'body here'.) Is it possible to ignore those lines?

[2019-04-04 02:09] sunng87 commented on #258
Good catch. This is what we should support.

[2019-04-22 02:59] thegedge opened #260 "Block parameters can't be used as context for partials"
This test case fails:

[code]

I've verified on http://tryhandlebarsjs.com/ that this is the right output.

[2019-04-22 03:01] thegedge commented on #260
This is impacting me right now on 2.0.0-beta.2. I'd be happy to pick up the work, but I wanted to first log it as an issue :)

[2019-04-22 05:25] sunng87 commented on #260
Thanks! If it works on handlebars.js, it's something we expected to support.

The context issue is usually quite complex. I'm here to offer help if you need.

[2019-04-23 15:31] sunng87 commented on #260
The issue is how I visit context value here:

https://github.com/sunng87/handlebars-rust/blob/master/src/partial.rs#L22

I'm using the local variable name to concat with current path root, for the json path. And here `z` is a local alias so it won't work. This may require a re-implementation of block context through handlebars-rust. Do you have any progress on this? Otherwise I will take on this a

[2019-04-23 17:12] thegedge commented on #260
No progress, @sunng87. I usually only find a few hours on the weekend, so progress would likely be slow. You have more context here, so if you're interested in taking on the effort, go ahead (and thanks!)

[2019-04-24 09:03] matthiasbeyer opened #261 "#each does not work with top-level list"
Hi,

as far as I can see, `#each` cannot be used if my JSON file looks like this:

[code]

or is there a way?

[2019-04-24 09:07] matthiasbeyer commented on #261
TIL:

[code]

[2019-04-24 09:07] #261 closed

[2019-04-26 12:15] surajpayu opened #262 "How do i call a member function of impl of a struct in rust from hbs file?"
For example
Lets say i have simple struct

[code]

Is it possible to call raise_event from hbs file?  Any example to understand it?

[2019-04-26 13:40] sunng87 commented on #262
You can impl `HelperDef` trait for `EventLogger` and in the `call` function, you actually call `raise_event`.

An example can be found here: https://github.com/sunng87/handlebars-rust/blob/master/src/lib.rs#L243

[2019-04-26 15:54] #262 closed

[2019-04-27 18:10] thegedge opened #264 "Templates break root lookup"
Verified in http://tryhandlebarsjs.com/:

[code]

[code]

[2019-04-27 18:15] thegedge commented on #264
Actually, this works fine in `master`, but is broken only in https://github.com/sunng87/handlebars-rust/pull/263

[2019-04-27 20:15] thegedge commented on #260
Possibly related:

[code]

[code]

[2019-04-30 06:05] surajpayu commented on #262
Ok I will try that. Thanks for the information.

[2019-05-01 05:23] sunng87 commented on #264
For issues with PRs in review, you can leave comment under the PR 😀. This defeat is caused by changes in partial context. Together with #263 I will look into block param handling to correct all these behaviours.

[2019-05-01 13:17] thegedge commented on #264
Haha, next time I will. I posted this issue before realizing I was working from your PR branch.

Thanks so much for taking on this work!

[2019-05-07 08:35] Keruspe opened #267 "Milestone for 2.0?"
Hi,

I see the milestone for 2.0 only has one (closed) issue.
What do you think will be the timeline for the final 2.0 release?

[2019-05-07 14:44] #246 closed

[2019-05-07 15:09] sunng87 commented on #267
Sorry the milestone was just out of sync.

In 2.0 release, I plan to:

* shipping break changes that included in yanked 1.2.0 (mostly API refinements)
* refactoring `Output` API to support procedural macro based compile-time template engine, with most of current foundation #252 (no actually progress for now)
* revamping block params support #260
* use hashbrown to speed up map access (already ship

[2019-05-09 09:01] Keruspe commented on #267
So, the first and the last points are already shipped in beta, and #252 and #260 are left to do, right?

[2019-05-09 10:29] sunng87 commented on #267
Yes. If you were interested in picking up #252, I can offer help.

[2019-05-09 10:31] Keruspe commented on #267
I don’t really understand what it is about.
 (Fwiw, I use handlebars in some build.rs to generate rust code)

On Thu 9 May 2019 at 12:29, Ning Sun <notifications@github.com> wrote:

[2019-05-09 10:57] sunng87 commented on #267
The main goal is to seek to support compile time template, the API can be like:

[code]

[2019-05-09 11:04] Keruspe commented on #267
Can't the StringOutput be used for implementing such a proc macro? Or maybe I'm totally missing the point?

[2019-05-09 11:11] sunng87 commented on #267
this is to expand template logic in compile time and generate a render function. For example, helper `#each` is to be expanded as `for` loop in rust code.

[2019-05-09 15:56] snawaz opened #268 "Infer the schema of the data required to render a given template."
Handlebars is awesome. We're using it to generate services and mock services from service-model. However, generating code interactively requires a feature which seems to be missing in the library. In short, it'd be great to have a feature like the following:

[code]

Output:

[code]
which can be interpreted as: the schema that is required to render the given `template`, must be a `map` with (at le

[2019-05-10 16:10] sunng87 commented on #268
Sounds interesting. I understand your need is to extract the minimal required data structure for rendering a given template.  This probably can be done in a library, by analysing handlebars' `Template` data structure. It's provided through `getTemplate` from `Handlebars` and you can iterate over its `elements` for data you are instrested in.

However, for data types, the handlebars template langua

[2019-05-10 16:11] sunng87 commented on #268
I can offer help if you need for understanding the template data structure.

[2019-05-10 16:36] snawaz commented on #268
Yes. Exactly.

Looks like you're referring to this struct: https://docs.rs/handlebars/2.0.0-beta.2/handlebars/template/struct.Template.html

I'll have a look at it. Maybe, using this, we can implement this feature.

I dont think it is impossible. We might not be able to distinguish between `string` and `number`, as in the template, we dont do anything number-specific, or string-specific. However,

[2019-05-10 16:38] snawaz commented on #268
Thanks for the offer. I'll surely ask you if I'm stuck or need help. I'll first go through the doc and code, will try to understand myself. :-)

[2019-05-19 02:29] sunng87 opened #269 "Index access support for String"
At the moment, we only support index access for Array. String is also accessible via number index. Given `s = "hello"`, the expression `s.[0]` should output `h`.

[2019-05-20 19:44] tones111 opened #270 "Unable to iterate over helper output"
I'd like to write a helper that can output a list to be iterated by each.

example:
{{#each (values_helper values)}}
value: {{.}}
{{/each}}

where values is a vec and values_helper does some non-trivial operations like sorting and removing duplicates.

This seems to be currently not possible because the renderer's call_helper_for_value always puts the helper's output into a json string which the e

[2019-05-21 02:30] sunng87 commented on #270
You can define your helper to implement `call_inner`, that returns an `ScopedJson` for this case, and return a JSON instead of writing into `output`.

If needed, I can add a test case to demo its usage later today.

[2019-05-23 02:58] tones111 commented on #270
Thanks for the tip.  I was able to implement the functionality I was looking for!

[2019-05-23 02:58] #270 closed

[2019-05-23 03:30] sunng87 commented on #270
Nice! Let me know if you have any question with handlebars.

[2019-06-24 15:14] #260 closed

[2019-06-24 15:15] sunng87 commented on #264
Fixed in #263

[2019-06-24 15:15] #264 closed

[2019-06-25 18:21] oblique commented on #80
Do you plan to have this enhancement in 2.0?

[2019-06-26 13:58] sunng87 commented on #80
I didn't but I will look into in 2.0 code context if it's easier to fix.

[2019-06-27 16:09] sunng87 commented on #269
Attempted in #251 but for now it's not possible to get borrowed substring in serde.

I'm moving this out of 2.0's scope for now.

[2019-06-30 16:28] #80 closed

[2019-07-02 07:50] Keruspe opened #275 "Nested each broken in 2.0.0"
I have some template that look like this:

[code]

With data that look like this (passed as "protocol" to the template):

[code]

This works fine with handlebars 2.0.0-beta.2 but fails with 2.0.0

[2019-07-02 08:00] Keruspe commented on #275
You can pull https://github.com/Keruspe/handlebars-rust/commit/bdd58fb1d88fe4db589f1037220fd3500f886252 for a failing test reproducing it.
If you cherry-pick the test on top of 2.0 beta.2, it passes, on top of 2.0 final it doesn't

[2019-07-02 08:00] Keruspe commented on #275
2.0 beta.3 fails too, fwiw

[2019-07-02 10:53] sunng87 commented on #275
Seems to be a regression issue from #263, when block param used in  nested each. Thanks for reporting.

[2019-07-08 02:20] sunng87 commented on #275
@Keruspe just update I have been working on a fix these days. The root cause is when the parameter of `each` contains a reference starts with block parameter, there is an error in base path settings.

My initial fix is causing benchmark dropping a bit so I will be working on a new solution this week. Also this may bring in API changes for `context.rs` and probably to be released in `3.0.0`

[2019-07-08 02:21] sunng87 commented on #267
2.0 released and we deferred #252 for future release.

[2019-07-08 02:21] #267 closed

[2019-07-11 15:20] #275 closed

[2019-07-12 07:57] Keruspe commented on #275
Thanks !

Any chance of getting a release with this fix?

[2019-07-12 15:43] sunng87 commented on #275
The fix is released in 2.0.1

[2019-07-15 14:29] tarcieri opened #279 "Issues with hashbrown 0.4 -> 0.5 upgrade"
`hashbrown::HashMap` is part of the public API of this crate in several places, e.g.:

https://docs.rs/handlebars/2.0.1/handlebars/struct.Handlebars.html#method.get_templates

Between Handlebars 2.0.0 and 2.0.1, `hashbrown` was updated from 0.4 to 0.5. This broke installation of my crate (`cargo install abscissa`), since it was using `hashbrown` v0.4.

Some options I can think of:

- Re-export eit

[2019-07-16 14:20] sunng87 commented on #279
I see. That was a common issue in rust ecosystem. To be practical I will be reexport those types used in public APIs, that was your 1 solution.

And I will be releasing the change in a patch version, do you think it works for you?

[2019-07-16 14:26] tarcieri commented on #279
@sunng87 I think the best option is probably to switch back to `std::collections::HashMap` since `std` will be incorporating it anyway.

That said, whatever works: I'd be happy for a 2.0.2 that re-exports the `hashbrown` type as a solution too

[2019-07-16 15:36] sunng87 commented on #279
That was annoying because either reexporting or switching to std `HashMap` is actually a breaking change, that requires a major version bump if we are strict on semver. I have to prevent it from breaking more applications if they depend on that API.

I will benchmark performance between current hashbrown and the one in std to decide if I will switch in future.

[2019-07-20 06:49] jagt opened #281 "Attach custom data to Helper."
Hi!

I'm new to both rust and handlebar-rust, so I'm not quite sure if this is even possible.
Say I want to create a helper that references something else:

[code]

This won't work as `register_helper` needs the helper to have `'static` lifetime. Does this mean that I can not attach a reference to the helper? Or maybe this is how it is intended to avoid some behaviors?

Thanks in advance!

[2019-07-20 13:57] sunng87 commented on #281
Yes, the `'static` lifetime we were using doesn't allow borrowed runtime data in helper. I will look into if it's possible to use a proper lifetime for this case. Ideally we should be able to use borrowed data with lifetime equals to the registry.

[2019-07-20 14:13] sunng87 commented on #281
@jagt could you please check the case in #282 if it works for you

[2019-07-25 14:54] crone123 opened #283 "Lifetime problem"
Hello,
I want to do a condition with handlebars as an helper, like the second post of this thread, but in rust:
https://stackoverflow.com/questions/8853396/logical-operator-in-a-handlebars-js-if-conditional

[code]

I have checked the examples, but I always go the same lifetime problem, there is my code:
[code]

I always got this error:
[code]

I don't understand because I don't see any difference

[2019-07-25 15:40] sunng87 commented on #283
@crone123 In this case you will need to explicit lifetime on function arguments. Check this case for solution:

https://github.com/sunng87/handlebars-rust/blob/master/tests/helper_function_lifetime.rs

[2019-07-25 15:44] #283 closed

[2019-07-26 07:52] crone123 commented on #283
Ok, it works !!!
Really, a very big thanks to you !!! :D

[2019-07-26 08:11] sunng87 commented on #283
Thanks! Helper API is at its relatively early stage and may receive aggressive changes in future. Just let me know if you have questions using the API.

[2019-07-26 08:24] crone123 commented on #283
Ok, I think, a full example like the file you create for me will be welcome on the doc page for helpers, because we found people who make code like this on internet, but it was for an older version of this lib who doesn't work anymore.

But, really, good job, I discovered handlebars with rocket.rs and with your library, and except for one or two things not clear directly, you made it really easy t

[2019-08-03 08:47] DerMolly opened #284 "crates.io badge problem"
On the crates.io page for this project (https://crates.io/crates/handlebars) everything is served via https, except the crates.io badge (http://meritbadge.herokuapp.com/handlebars). This link can simply be updated to use https instead (https://meritbadge.herokuapp.com/handlebars).

Then Firefox and Chrome would not mark the crates.io page as not secure.

[2019-08-04 01:38] #284 closed

[2019-08-17 11:31] Relrin opened #288 "Macro resolution for serdje_json::json"
Hello,

I've faced with the issue when trying to prepare template parameters before actually rendering them in appropriate context.

The used code is pretty straitforward:
[code]
This piece of code leads to the following compilation errors:
[code]

Used `rustc` version is `1.36` and `handlebars = "2.0.1"` in Cargo.toml.
Do you have any ideas how it can be fixed?

[2019-08-17 14:55] sunng87 commented on #288
hi @Relrin , I just refresh [my example](https://github.com/sunng87/handlebars-rust/blob/master/examples/quick.rs) but cannot reproduce your issue.

Do you have `serde_json` declared in Cargo.toml ?

[2019-08-17 15:04] Relrin commented on #288
I haven't specified some specific version for `serde_json` first of all because it's installing as the part of this package.
If you want so, you can get the master branch of my project from [here](https://github.com/Relrin/terraform-sage) and rebuild it from the actual state as is.

[2019-08-17 15:18] sunng87 commented on #288
Yes. Simply adding `serde_json = "1"` to you Cargo.toml dependencies will fix this.

Handlebars actually reexported `Value` from serde_json but I didn't do it for the `json` macro.

[2019-08-17 15:18] #288 closed

[2019-08-17 15:19] Relrin commented on #288
Thank you so much for the help! Now it works fine.

[2019-09-26 00:39] Nukesor opened #291 "Function for accessing template variables"
Hey!

I'm currently trying to build a mechanism, which allows to dynamically parse templates and furthermore accepts arbitrary parameters with arbitrary names.

My goal is to get a list of all parameters in the template and check whether these are satisified by the incoming parameters.

E.g. `"This is a {{ test }}"` would result in a simple array with the name `['test']`.
With this I could check,

[2019-09-26 13:50] sunng87 commented on #291
Hi, it's actually possible in current release of handlebars. You can get a template struct from `Handlebars.get_template(name)` and access the template elements in `elements` field. The variable is of type `Expression`, together other types you might be interested in.

[2019-09-28 16:55] Nukesor commented on #291
Nice! Thanks for the hint!
This will definitely do the job, but it's quite hard to find, though ;).

[2019-09-28 16:55] #291 closed

[2019-10-22 22:02] sqwishy commented on #247
Personally, I find new behaviour very surprising. Having a helper that maps an error to a null/undefined as originally proposed seemed like a really sensible idea. At the very least, it would have been nice if the documentation made it clear that strict mode isn't enforced reliably.

[2019-10-29 06:30] #279 closed

[2019-10-29 06:31] #281 closed

[2019-11-19 08:54] ignatenkobrain opened #292 "criterion 0.3.x?"
it would be very cool if you could update criterion dependency to 0.3.x, thanks!

[2019-11-19 10:07] sunng87 commented on #292
Fixed in 04abd57, Thanks!

[2019-11-19 10:07] #292 closed

[2019-11-21 16:03] Relrin opened #293 "Skipping unknown variables while rendering template"
I'm writing an application that handles user's templates and initializes the new project based on the specified templates via CLI commands. However, sometime developers could specify their own templates which could contain their own definitions with variables in curly bracers (e.g. Helm charts use the Mustache template engine for handling user's input).

So, based on this I have a question related

[2019-11-21 19:14] sunng87 commented on #293
Hi @Relrin , can you use the [raw block](https://handlebars-draft.knappi.org/guide/block-helpers.html#raw-blocks) to wrap the content which may have raw bracers that were not intended to be parsed?

For handlebars, the dot in bracers are parsed as helper name, so the renderer cannot deal with it.

[2019-11-21 22:13] Relrin commented on #293
In general its possible to wrap each unused manually (and in code as well). However this trick will require to use regular expressions for each pass through the template that could contain unexpected/missing context data.
Will it work for the case if the template contains more than 2 curly bracers from both sides? (e.g. `{{{{ Helm-Chart-Variable }}}`?

Does handlebars have any hooks/callbacks for

[2019-11-22 14:11] Relrin commented on #293
Any ideas how to avoid panics for the cases, when the handlebars faces with shell variables in files like this: `DOCKER_IMAGE:=$(shell echo $(SOME_VARIABLE)`?

[2019-11-22 19:37] sunng87 commented on #293
Actually there is meta helpers called `helperMissing` for undefined inline helper and `helperBlockMissing` for block helper. You just define these two helpers and it should work for you .

Could you please show me the backtrace for this panic?

[2019-11-25 08:05] Relrin commented on #293
Sure. I'm getting panic in the case, when I do unwrap the result, but Handlebars can't handle some symbols in the template.

[code]
The backtrace:
[code]

[2019-11-27 12:28] #293 closed

[2019-12-08 08:09] sunng87 opened #294 "Addressing performance issue in large loop"
As from https://www.vincentprouillet.com/blog/tera-v1-is-here/ handlebars had an unreasonable performance loss in large loop.

Before looking into very detail of this, there are some know reason may affect the perf:

* Json path are parsed several times when accessing data
* ~~Local variable like `@index` can be generated lazily~~
* Parameter can be parsed during template parsing instead of render

[2019-12-30 09:32] sunng87 opened #299 "Warnings in error module on nightly"
[code]

[2019-12-31 16:25] #299 closed

[2020-01-02 10:18] sunng87 commented on #294
With #295 and #298 we are now significantly faster than 3.0.0-beta.1

![image](https://user-images.githubusercontent.com/221942/71662387-4be21300-2d8c-11ea-810c-ad3e9815e09b.png)

[2020-01-02 10:22] sunng87 opened #301 "Dynamic helper with rhai"
In addition to templates, we should allow dynamic helper and directive definition by a scripting language. Fortunately we have [rhai](https://github.com/jonathandturner/rhai), a JavaScript like scripting language with great interop-bility with Rust.

[2020-01-04 18:38] leudz opened #304 "Compile error with the 2.0.3 update"
Hi! I use the mdbook crate and it stopped compiling today, very likely due to handlebars' update.

I don't know much about both projects but here's the error:

<details>
<summary>Error</summary>

    Compiling mdbook v0.3.5
    error[E0277]: `(dyn std::error::Error + 'static)` cannot be sent between threads safely
    --> /home/runner/.cargo/registry/src/github.com-1ecc6299db9ec823/mdbook-0.3.5/sr

[2020-01-04 19:50] wez commented on #304
I'm also here because mdbook no longer compiles.
I believe that https://github.com/sunng87/handlebars-rust/commit/cc26933f0f9aa8f30a9f2983a546ae19ef845e76 should have bumped the version of the package to `2.1` because it changed the interface of the crate in a backwards incompatible way.
I'd suggest:

1. Yank 2.0.3 ASAP
2. Either:
    * publish the 2.x branch as 2.1
    * Restore the `Send`-abilit

[2020-01-05 00:43] udoprog commented on #304
Upgrade broke for me as well, 2.0.3 should definitely be yanked.

In case anyone is curious:
`Send` and `Sync`: https://docs.rs/handlebars/2.0.2/handlebars/struct.RenderError.html#impl-Send
`!Send` and `!Sync`: https://docs.rs/handlebars/2.0.3/handlebars/struct.RenderError.html#impl-Send

[2020-01-05 00:49] sunng87 commented on #304
Sorry, 2.0.3 has been yanked.

[2020-01-05 00:51] udoprog commented on #304
Thanks for the quick action @sunng87 ❤️

[2020-01-05 02:23] sunng87 commented on #304
@udoprog @wez by the way, are you using handlebars with any web framework?

[2020-01-05 02:28] udoprog commented on #304
No, just for internal templating here:
https://github.com/udoprog/OxidizeBot/blob/master/bot/src/template.rs
It's used for all kinds of things though.

[2020-01-05 02:52] wez commented on #304
Not directly: I use mdBook to build the docs for http://wezfurlong.org/wezterm/.
Thanks for yanking :-)

[2020-01-05 06:29] sunng87 commented on #304
Thanks you guys so much for quick reporting!

@udoprog It seems you have extensive usage of the template API. Always let me know your questions or suggestions of it. By the way, in order to improve render performance, there will be minor changes about the template API.

[2020-01-05 06:29] #304 closed

[2020-01-05 09:54] Dylan-DPC commented on #304
Thanks for the quick response, Since 2.0.3 is yanked, it would be better to release a new patch version (2.0.4) :)

[2020-01-06 14:34] sunng87 commented on #304
The fix has been released in `2.0.4`. I have tested on mdbook, OxidizeBot and my own handlebars-iron.

[2020-01-06 15:41] ctron opened #305 "Issue creating helper with macro"
Using the default example for registering a custom helper:

[code]

Results in the following error for handlebars version `3.0.0-beta.5` and `3.0.0-beta.4` for me:

[code]

[2020-01-07 14:07] sunng87 commented on #305
This is weird. I actually has a test for this macro at https://github.com/sunng87/handlebars-rust/blob/master/tests/helper_macro.rs#L10

And `cargo test` says it work for me. Can you check if there is difference between the test and your code?

[2020-01-24 03:03] sunng87 commented on #294
As of #307 , we have performance improvement for nearly 5x to 2.x. I'm closing this for now.

[2020-01-24 03:03] #294 closed

[2020-01-24 10:39] Keruspe opened #311 "Problems porting custom helper from 2.0 to 3.0"
In a custom `each` helper, I had this snippet:

[code]

where path was `local_rc.get_path().to_owned() + ".Foo"` (Foo being an enum variant, and having several possible values).

With 3.0 I now have

[code]

But I'm not sure how to property construct the relative path to replace the `Vec::with_capacity(0)`.
Any pointers?

Also, alongside `@index`, `@last`, etc, I'm adding another "local" variable.

[2020-01-24 13:32] sunng87 commented on #311
Have you checked my current `each` implementation?

For block parameter, the path is now relative to current block's base path. If your block parameter path was base path + `.Foo`, you just put `[".Foo".to_owned()].to_vec()` as parameter value.

For custom local variable, it's still possible to put `argument_is_value` into the context.

Do you have a link to your implementation? I can help you to

[2020-01-24 13:52] Keruspe commented on #311
Here is my current work for porting to 3.0 https://github.com/sozu-proxy/amq-protocol/commit/56e6bbc548689f4a1669cb9a695bd7f0e5cf6f01

`cargo test` inside of the `codegen` directory should pass once the issue is fixed.

I used your each implementation as the base for mine, yes. With current code, if I insert {{@argument_is_value}} in a template, it renders as either true or false. If I sed away th

[2020-01-24 14:42] Keruspe commented on #311
Hmm, looks like actually just `Foo` instead of `.Foo` works

[2020-01-24 14:44] Keruspe commented on #311
`@argument_is_value` still needs its `@` though, otherwise it doesn't work

[2020-01-24 14:49] sunng87 commented on #311
@Keruspe Sorry it was my mistake. You don't need the `.` in `.Foo` for the parameter. The path vector is already segmented and separators like `/` or `.` is not needed here.

[2020-01-24 14:54] sunng87 commented on #311
Yes, when you set it as a local variable you will need `@` to reference it. That was defined in handlebars syntax and the behaviour was corrected in 3.0.

[2020-01-24 14:56] sunng87 commented on #311
Actually if you want maintain backward compatibility, you can define `argument_is_value` as a block parameter, so it will always have a value in the block scope without need for `@` to reference it.

[2020-01-24 15:18] sunng87 commented on #305
I will close this for now. If you can reproduce this issue feel free to reopen.

[2020-01-24 15:18] #305 closed

[2020-01-24 15:19] sunng87 commented on #268
Close for inactive.

[2020-01-24 15:19] #268 closed

[2020-01-24 15:19] #229 closed

[2020-01-24 15:20] #208 closed

[2020-01-24 18:41] Keruspe commented on #311
Thanks for the clarification !
I guess we can close this then as everything seems to be working now

On Fri 24 Jan 2020 at 15:59, Ning Sun <notifications@github.com> wrote:

[2020-01-24 21:32] ctron opened #312 "Syntax error calling partial in 3.0.0"
I was using the following syntax in 3.0.0-beta4:

[code]

Now it seems in 3.0.0 it causes a syntax error:

[code]

From looking at the handlebars documentation, this should work.

[2020-01-25 03:35] sunng87 commented on #312
Fixed in #313

[2020-01-25 03:35] #312 closed

[2020-01-25 03:53] #311 closed

[2020-02-01 06:47] zuobaoquan commented on #258
Any plan on this? It is very annoying, especially when generating code.
P.S. Partial templates should be supported either.

[2020-02-01 10:04] sunng87 commented on #258
This is blocked by an issue with pest parser. I'm waiting for pest 3.0 to see if it will be resolved.

[2020-02-01 14:32] zuobaoquan commented on #258
Any issue reference? or could you create the issue on that repository? Thanks

[2020-02-04 06:48] sunng87 commented on #258
IIRC this was the issue:

https://github.com/pest-parser/pest/issues/396

[2020-02-29 13:21] mardiros opened #318 "[question] Issue sith set_local_var for creating a filter in 3.0"
I used the (RenderContact.set_local_var)[https://docs.rs/handlebars/2.0.0/handlebars/struct.RenderContext.html#method.set_local_var] which has been drop in the 3.x version
in favor of `BlockContext`.

`BlockContext` is really a great things to scope variable properly, I have no doubt with that,
but I have created and use a lot a `set` filter using the  `register_helper`.

https://github.com/mardir

[2020-03-01 03:42] sunng87 commented on #318
Actually local var in handlebars is designed to carry some contextual data, like index in an iterator. To access local var, you will need to prefix it with `@`. There was an implementation issue prior to 3 that allows you to access it without `@`. This has been fixed in 3.0.

So you should be able to fix it by changing `{{ username }}` to `{{ @username }}`. But note that local var is only availabl

[2020-03-01 04:11] sunng87 commented on #318
The example: https://github.com/sunng87/handlebars-rust/commit/1f78c8edb1385469c909387cb61ba8a29bba6ca3

Let me know if you have any question with it.

[2020-03-01 12:56] mardiros commented on #318
Thank you for your quick feedback.

It is actually what I was looking for. Thanks!

[2020-03-01 12:56] #318 closed

[2020-03-15 10:48] davidB opened #320 "A wiki page to list extensions"
Hi,

I would like to start a section on the wiki to list handlebars-rust "extentions and tools", maybe as a section of the adopter page or as a new wiki page. WDYT ?

I'm the creator of [davidB/handlebars_misc_helpers: A collection of helpers for handlebars (rust) to manage string, json, yaml, toml, path, file, http request.](https://github.com/davidB/handlebars_misc_helpers)

[2020-03-16 02:41] sunng87 commented on #320
Yes! Currently there is a *Related Projects* section in README that linked to your project. I have started a new wiki page you can fill in: https://github.com/sunng87/handlebars-rust/wiki/Extensions

By the way, as helper developer, your thoughts on helper API is always welcomed. Feel free to give suggestions on it.

[2020-03-16 08:52] davidB commented on #320
The documentation (samples) was good enough for me to be able do what I want (I had to go into the source sometimes to understand better). Currently I don't understand every elements of the helper's API.

Thanks for your hard work and support.

[2020-03-16 08:52] #320 closed

[2020-04-11 14:25] joshleeb opened #321 "Using path as partial block identifier causes incorrect parse error"
I believe I have encountered an incorrect parse error when using paths as identifiers for partial blocks.

The use case that brought this up was with the `Handlebars::register_templates_directory` which registers templates and partials with the name set to the relative path from the root of the templates directory.

[code]

Here we have the partial `foo.hbs`. When we setup the `Handlebars` registr

[2020-04-12 04:11] #321 closed

[2020-04-21 13:20] rousan commented on #12
Hey @sunng87, any progress on this issue?

[2020-04-21 14:31] sunng87 commented on #12
@rousan sorry, there is no progress for now.

[2020-04-21 16:49] rousan commented on #12
so, is there any way to add some patches like adding a block helper? It would very helpful then.

[2020-04-22 02:13] sunng87 commented on #12
@rousan the helper system is totally open. You can register you own block/inline helpers with our API. Checkout examples if you like.

For this chained else, some work needs to be done on the parser and our template structure to support chained inverse template segment. I will probably add support in future releases.

[2020-05-05 04:27] #252 closed

[2020-05-21 07:19] #301 closed

[2020-05-26 01:18] josh-kean opened #324 "In the Getting Started sample code, you need a return statement"
I was able to get the "Getting Started" code to compile by adding the following line to the bottom of the main function;

std::result::Resut::Ok(())

I think this should be added to the docs so more people can compile this on their first go. I don't mind doing a PR to make this change =)

[2020-05-26 13:29] sunng87 commented on #324
Good catch. Feel free to create a PR for this. It's always welcomed.

[2020-05-26 14:01] sunng87 opened #326 "Consider to remove Send + Sync constraint for helper definition"
Currently `Send + Sync` is required for a `HelperDef`. We need to investigate if that's necessary for any case.

[2020-05-26 14:03] sunng87 opened #327 "Removing Send on RenderError causing issue with mdbook"
It seems mdbook requires Error to be `Send` when rendering handlebars template. This is an incompatible change in 3.1.

[2020-05-26 14:18] sunng87 commented on #327
fixed in a458ce2

[2020-05-26 14:18] #327 closed

[2020-05-27 02:35] volfco opened #328 "Support multi word arguments"
I have a custom handler which we can call `lookup`. The behavior is the 1st argument is a key to lookup, and the 2nd is a default value.

This code works:
`{{ lookup TESTING default_value }}`

This does not:
`{{ lookup TESTING "Default Value" }}`
In this case, the 2nd param is empty

This is my code:
[code]

I could get all the params and combine every one past 1, but that seems less ideal then be

[2020-05-27 07:24] sunng87 commented on #326
Since registry has to be `Send + Sync` to work with various web framework, we cannot do this at the moment.

[2020-05-27 07:24] #326 closed

[2020-05-27 07:27] sunng87 commented on #328
Thank you for reporting. This seems to be an issue with our parser. I will investigate later.

[2020-05-28 05:45] sunng87 commented on #328
@volfco I was not able to reproduce your issue with a minimal test case as in #329. Are you using latest handlebars 3.0? And could you please provide a test to reproduce that? Thank you !

[2020-05-29 06:19] volfco commented on #328
@sunng87 Here you go.

This example outputs the following, which is expected:
[code]

[code]

If I change "default" to a quoted string, I get this error:
[code]

[2020-05-29 06:24] volfco commented on #328
[code]

[2020-05-30 07:24] sunng87 commented on #328
OK. You are using the `relative_path` for `default` in your helper, that means it takes the json path instead of its value. So your first template `{{ lookup KEY "yes" }}` you provided a string literal and its path is None (Only json expression like `yes` has a path).

I think in your case you should use `v.value()` for your default value. If you provide a json expression it automatically resolve

[2020-05-31 02:04] sunng87 commented on #324
Fixed in 5f624152

[2020-05-31 02:04] #324 closed

[2020-05-31 23:46] volfco commented on #328
Thanks @sunng87. That was my issue!

[2020-05-31 23:46] #328 closed

[2020-06-09 10:30] Boscop opened #334 "What to use instead of Context::navigate now?"
I want to upgrade from v1 to v3 of this crate.
Inside a datetime helper, I have the following code:
[code]
Is this the recommended way to do this now, or is there a more convenient way (not having to match `Value::Object`)?
[code]

---

2: Why does `Handlebars` need a lifetime now?

[2020-06-09 10:44] Boscop opened #335 "Support for named args in `handlebars_helper` macro?"
It seems it's currently not possible to use the `handlebars_helper` macro for defining helpers with optional named args.
Could support be added by using `hash_get`? :)

The syntax for these args could be `arg: Option<Type>` or `arg=Option<Type>`.

[2020-06-09 11:07] Boscop commented on #334
I'm now using this function:
[code]
But it would be nice if `Context` had a convenience method for that.

[2020-06-09 11:37] sunng87 commented on #335
Good idea! Are you interested in proposing a pull request for this feature?

[2020-06-09 11:54] sunng87 commented on #334
For `navigate`, it now has deep involvement with internal stuff so I choose to hide it from user.

Do you think  `{{helper_name timezone}}` work for you? I will resolve `timezone` from current context for you. And you will be able to retrieve its value by `h.param(0).value()`

For the second question, it was discussed in #281 in case you have borrowed data in your helper.

[2020-06-09 11:58] Boscop commented on #335
@sunng87 Probably not unfortunately, as I am currently very busy..

[2020-06-09 12:00] Boscop opened #336 "Which handlebars version does it implement?"
Which handlebars.js version does this crate implement?
(The current version of handlebars.js is 4.7.6)

It would be useful to have a table in the Readme that shows which version of this crate matches which version of handlebars.js.

[2020-06-09 12:23] sunng87 commented on #335
No problem. I will add it to my backlog.

[2020-06-09 12:26] sunng87 commented on #336
My version doesn't attempt to implement a particular version of handlebars. The version number of this crate has no relation with js one.

There are some feature this crate doesn't implement and a few implemented in a different way.

[2020-06-09 12:35] Boscop commented on #336
Where are the differences documented? :)

[2020-06-09 14:41] sunng87 commented on #336
There is a section in doc. https://docs.rs/handlebars/3.1.0/handlebars/#compatibility-with-original-javascript-version

But I believe it didn't cover all cases. If you have compatibility issue you can post here.

[2020-06-09 20:06] Boscop commented on #336
Thanks!

[2020-06-09 20:06] #336 closed

[2020-06-09 20:08] Boscop commented on #336
@sunng87 Btw, what do you meant by "mustache blocks" in that section?

[2020-06-10 02:14] sunng87 commented on #336
@Boscop see https://github.com/janl/mustache.js handlebars was derived from this syntax. And they use `{{#people}}`, given `people` is an array, to iterate over it. While in handlebars, we mostly use `{{#each}}` helper to do that.

However, `{{#people}}` was supported  by handlebars.js but not by handlebars-rust

[2020-06-10 02:17] sunng87 opened #337 "Support for & in expression"
In handlebars.js and mustache.js, `{{&var}}` works as `{{{var}}}`, that renders `var` without escaping html tags.

[2020-06-12 18:40] #337 closed

[2020-06-13 16:41] #335 closed

[2020-06-15 09:16] Boscop opened #340 "Suggestion: Buffered file reading in `register_template_file`"
Currently it reads the file unbuffered:
https://docs.rs/handlebars/3.1.0/src/handlebars/registry.rs.html#207

For buffered reading, it could either wrap the `File` in a `BufReader` or just call [`std::fs::read_to_string`](https://doc.rust-lang.org/std/fs/fn.read_to_string.html) followed by `register_template_string`.

[2020-06-18 03:49] #340 closed

[2020-06-23 03:42] chaserhkj opened #343 "built-in helper `each` could not work with derived JSON value as parameters"
Running the following code snippet

[code]

Produces output `444` instead of `012`

[2020-06-23 07:10] sunng87 commented on #343
Bug confirmed. Thanks for reporting

[2020-06-23 13:44] sunng87 commented on #343
It seems literal param with `each` doesn't work in handlebars.js either.

[2020-06-23 17:17] chaserhkj commented on #343
Oh, I was not expecting that from handlebars.js...

But putting literals aside, if a small helper is used, the inconsistency with handlebars.js is then confirm-able.

In handlebars.js:

With
[code]

Rendering  `{{#each (range 3) as |i|}}{{i}}{{/each}}` from data `4` could produce `012`

But another code snippet using handlebars-rust:

[code]

Would still produce `444` instead of `012`.

So I suppo

[2020-06-23 21:52] chaserhkj commented on #343
I just dig a little deeper into this and realized that the problem is `each` helper is not handling arguments with derived JSON values (as in `ScopedJson` ) correctly. Changing the argument in the helper from a derived value to a value from the data model would workaround this.

And for `with` it would work without any problem. So probably you need to copy the logic dealing with block parameters f

[2020-06-24 05:53] sunng87 commented on #343
Thank you! Agreed that producing `444` is not a correct behaviour.

Your PR is welcomed. I'd love to see more patches from contributors.  So I will leave this issue open for you. Always let me know if you need any help with the internals of handlebars-rust.

[2020-06-25 20:07] Aeledfyr opened #344 "Expressions in {{else}} blocks fail with "invalid digit found in string""
Whenever an expression is used after `{{else}}` in an `{{#each}}` loop, an error is returned with "invalid digit found in string".  I'm not experience with handlebars, but this appears to work in handlebars js playground, so I would expect it to work here as well, or at least have a better error message.

Here is a minimal example:
[code]

After looking at more handlebars documentation, I see that

[2020-06-25 20:57] duckman opened #345 "Partial Parameters Not Working"
I'm trying to get parameters working with partials as described in https://handlebarsjs.com/guide/partials.html#partial-parameters.
[code]
I'm expecting `This is a test. Lets test fred` but am getting `This is a test. Lets test`

Sorry if I am missing something simple, but I've been fighting this for hours.

[2020-06-26 09:34] sunng87 commented on #344
Thanks for reporting. This happens when accessing an array with string as key. However, there is an issue with the context path in else block.

[2020-06-26 10:23] #344 closed

[2020-06-26 14:14] sunng87 commented on #345
You need to use `name="fred"` to assign `name` as a string. Otherwise handlebars-rust will try to resolve `fred` as a reference in current context.

[2020-06-26 14:51] duckman commented on #345
That makes total sense... Sorry for the silly question. :)

[2020-06-26 14:51] #345 closed

[2020-06-26 15:29] sunng87 commented on #345
Never mind. I'll think about how to improve debug experience for cases like this.

[2020-06-28 07:27] Keruspe opened #348 "handlebars 3.2.0 breaks existing code"
Presumably because of #346 but haven't confirmed yet.

This custom helper https://github.com/CleverCloud/amq-protocol/blob/011ed7a80d4448b03ca2db48b50e73c03104b98d/codegen/src/templating.rs#L283-L343 now hits this assertion with 3.2.0 while it works fine with 3.1.0 https://github.com/CleverCloud/amq-protocol/blob/011ed7a80d4448b03ca2db48b50e73c03104b98d/codegen/src/templating.rs#L307

[2020-06-28 07:39] Keruspe commented on #348
Confirmed using bisect:

[code]

That's not the first time that a minor semver bump breaks custom helpers

[2020-06-28 07:49] Keruspe commented on #348
It seems that it's not actually the custom helper which is broken, but it's called with a param which is in some nested each blocks, so nested each seem to be somehow broken?

I'm trying to understand what this commit is supposed to fix and how

[2020-06-28 07:58] sunng87 commented on #348
Just realized it's a bug introduced in #346  with nested `each` block when there is empty array/object. The block context was leaked. I will create a fix soon.

[2020-06-28 08:16] sunng87 commented on #348
@Keruspe could you please help me to verify if the branch in #349 fixes the issue for you?

[2020-06-28 08:17] Keruspe commented on #348
Sure !

I was just trying to make a minimal reproducer, will continue this way if it doesn't

[2020-06-28 08:19] Keruspe commented on #348
Awesome, #349 seems to fix my issue!

Thanks a lot for fixing this so quickly :)

[2020-06-28 08:21] sunng87 commented on #348
Thank you! Sorry for inconvenience. This was actually a bug instead of compatibility issue. I will create a patch release asap.

[2020-06-28 08:23] Keruspe commented on #348
@sunng87 Fwiw, in lapin I have a pretty complex template with custom helpers added on top: https://github.com/CleverCloud/lapin/blob/master/templates/channel.rs

It's pretty good at spotting this kind of stuff, feel free to ping me to do some testing (or just run ./regen-code.sh in the lapin repository) when some changes might have tricky side effects like this

[2020-06-28 08:29] sunng87 commented on #348
Nice. I have been thinking about to have CI for compatibility test against major users of handlebars-rust. I will add lapin to that system once it's ready.

[2020-06-28 08:30] sunng87 commented on #348
Fixed in #349

[2020-06-28 08:30] #348 closed

[2020-06-28 08:36] sunng87 commented on #348
Released in 3.2.1

[2020-06-29 14:13] sunng87 opened #350 "Improve debug expierence"
For cases like #345, it's difficult to see what value or json path handlebars is attempting to resolve. It would be helpful to provide some information by a debug toggle, or just logging.

[2020-07-01 21:41] shchemelevev commented on #12
+1 to this request

[2020-07-06 08:17] dynaxis opened #351 "Reusing everying but Templates when rendering them"
Is `'ref` required in `&'ref self` in `render` method of `Renderable` trait?

I was trying to reuse everything but the templates. So I put a `Registry`, a `Context`, and a `RenderContext` into a struct and compiled template strings each followed by a call to its `renders` method.

But due to the `'reg` lifetime in `&'reg self` in the method, I ended up just reusing `Context` for all of the templat

[2020-07-06 13:37] sunng87 commented on #351
@dynaxis could you please provide me some of your code? Actually `Renderable` was designed to be an internal API so the compatibility might not be guaranteed. Also it would be nice if you describe your design and the issue you were trying to resolve.

[2020-07-07 03:11] dynaxis commented on #351
@sunng87 oh, that's unfortunate to hear that the relevant APIs are not intended for public use.

[code]

In the above code, I actually wanted to move both `Registry` and `RenderContext` into `Merger` together with `Context`. I parse YAML files and want to interpret only some of the values as possible Handlebars templates. As you see, I have no choice but to compile templates from strings, render t

[2020-07-07 12:40] sunng87 commented on #351
Well, you are using a few internal APIs. I would suggest to make `Registry`(`Handlebars`) shared because if you don't register any template, it will be completely stateless. You don't need to recreate it.

Second, I would not suggest to use `RenderContext` and `Template` because it's mostly internal. Why not just use `registry.render_string`?

It seems I can add a API for registry to render from a

[2020-07-07 14:47] dynaxis commented on #351
@sunng87 Thank you for your insightful comments and the time spent.

First, I was a bit confused. If I leave out the `RenderContext`, then my code works. So except for the fact that it's using some internal APIs, I'm more or less satisfied.

Second, I don't have any benchmark yet. I know the `data` is directly converted into a `Value` via a special `Serializer` by `serde_json`, but wanted to avoid

[2020-07-07 14:50] sunng87 commented on #351
I agree. I'm going to add at least one  variant of the render methods that accepts `Context` to avoid the copy.

[2020-07-08 03:38] sunng87 commented on #351
After the benchmark it turns out I was wrong. The `Context::wraps` operation takes up to 50% time for our benchmark.

[2020-07-09 07:15] tmpfs opened #353 "With and lookup subexpression"
Thanks for this handlebars implementation I have been enjoying using it very much. I think I *might* have hit a bug...

Not sure if this is related to #343 but it appears that there is a bug using lookup in a sub-expression in conjunction with a with block helper.

This code does not work:

[code]

Note that `json` is just a helper that serializes and prints as JSON for  debugging. In this case th

[2020-07-09 07:23] tmpfs commented on #353
So here is minimum viable program:

[code]

Prints `[object]`, I expected it to print `d`.

[2020-07-12 02:41] sunng87 commented on #353
This might be related to #343 that `with` and `each` doesn't handle derived value well.

[2020-07-13 03:36] #351 closed

[2020-07-17 00:23] No9 opened #357 "Serialized Mongodb documents can't reference _id property"
Hi Again
I've been looking at building on the the tide support by integrating it with mongodb and have come across an issue.

When objects have been inserted with no identifier Mongodb defaults a `bson::oid::ObjectId`

However when this type is serialized as JSON it has a `$` in the object name.
e.g.
[code]
Apparently this is valid JSON but when I try to use it in a template with `this._id.$oid`
T

[2020-07-17 02:09] sunng87 commented on #357
It should be caused by our parser that doesn't accept `$` as symbol char. This can be fixed soon.

[2020-07-17 02:22] sunng87 commented on #357
For now, you can use `this._id.[$oid]` to  skip this issue.

After some investigation, support for $ in property name slightly conflicts with the dollar expression. I need some time to get into the original mustach spec for detail.

[2020-07-17 07:01] No9 commented on #357
Thanks for `this._id.[$oid]` - That's unblocked me
Looking at the spec https://handlebarsjs.com/guide/expressions.html#literal-segments it would seem as though the current behavior is expected.
Maybe just a bit more detail in the error message is required.

[2020-07-17 07:06] sunng87 commented on #357
Actually handlebarsjs 4.0 has support for `$` in key. Thanks for the spec and I will add support for `@` and more chars.

The error message was directly generated by our parser. But it seems we can probably add more information for the rule it breaks.

[2020-07-17 08:05] sunng87 opened #358 "Remove decorator from public API"
Handlebarsjs has deprecated decorator API from public and will only use for internal features (partial/inline).

[2020-07-17 12:37] sunng87 commented on #357
It seems I misunderstood the spec, that `@` is not allowed as symbol char while `$` should be supported  by native. #359 fixes this issue and also an error in mustache syntax implementation.

[2020-07-17 12:41] sunng87 opened #360 "More html espace chars"
In addition to `<`, `>`, `&`, `"`, handlebars spec also mentioned more characters should be escaped.

[2020-07-18 01:03] #357 closed

[2020-07-18 03:34] tnak opened #361 "compatibility: escape functions are not applied to template tags with helper function"
For example, using this helper function
[code]
render this template
[code]
with value `tag = "br"` and registering `html_escape`, you will get output `<br>` instead of  `&lt;br&gt;` that original handlebars.js does. Using "unescaped" tag (`{{{to-tag tag}}}`) results in `TemplateError`.

FYI: I accidentally found workaround. Using parentheses like `{{(to-tag tag)}}` solved my problem. `{{(to-tag ta

[2020-07-19 07:26] sunng87 commented on #361
Thanks for reporting. This is because of the issue we deal with `{{` style helper call and `{{{`. This has to be fixed and I will add to my backlog.

Actually the workaround should not work if the implement was correct. We should use the out of `(to-tag tag)` as reference to resolve in current context.

[2020-07-20 02:14] chaserhkj commented on #343
PR submitted, PTAL

[2020-07-20 02:29] chaserhkj commented on #353
I took a bit more time looking into this one, it's very similar to #343, but it's actually not the same issue.

In #343 the primary issue is with block parameters. In `BlockParams`  we could bind a param by binding a name to a path into the data model (`add_path`) or bind a param by binding a name to an actual JSON value (`add_value`). And #343 showed that when trying to bind a derived value to bl

[2020-07-20 09:40] sunng87 commented on #353
Thank you @chaserhkj ! In #355 I have been working on `base_value` support for derived value.

[2020-07-20 09:41] #334 closed

[2020-07-20 09:44] #343 closed

[2020-07-23 01:26] #353 closed

[2020-07-23 01:44] tmpfs commented on #353
Thank you @suung87 - I look forward to getting this patch in the next release, much appreciated :+1:

[2020-07-26 22:51] quantimnot opened #367 ". no longer works in partial names"
Hello,

I've been using you software for some time with partials that contain a `.`

The breaking change came from #362.

P.S.
Thank you for this wonderful piece of software.

[2020-07-27 11:28] #360 closed

[2020-07-27 13:56] sunng87 commented on #367
Thank you for reporting. Just verified `.` is allowed in partial name. I will fix this soon.

[2020-07-27 14:16] sunng87 commented on #367
Fixed in 5abfb19

It will be released in 3.4. You can stick with 3.2 for now.

[2020-07-27 14:16] #367 closed

[2020-07-31 14:39] sunng87 opened #368 "Handlebars book"
Add doc book to explain every corner of this library.

[2020-08-06 15:37] #350 closed

[2020-08-09 08:20] sunng87 opened #371 "Local variable API refinement"
1. Keep the get/set API consistent with `@` prefix
2. Use `&str` where possible

[2020-08-11 15:40] Armiixteryx opened #374 "Skip unhandled expressions"
Hello. First, I want to thank you for your work in this library!

Actually when handlebars-rust founds an unknow expression it skips the whole expression. For instance:

[code]

Will render: `I got: hello`

I want to know if it is possible to skip unknow expressions to render this output instead: `I got: hello {{mundo}}`

Putting `{{mundo}}` inside raw blocks (e.g. `{{{{raw}}}}{{mundo}}{{{{/raw}}}

[2020-08-12 01:12] #361 closed

[2020-08-12 05:37] tmpfs opened #377 "Helper and variable precedence"
Hi @sunng87 , I just ran into a small issue where it seems like a variable is taking precedence over a helper with the same name. I have a workaround by just renaming the helper however I checked the [docs](https://handlebarsjs.com/guide/block-helpers.html#basic-blocks) and it appears that helpers should always take precedence and I can disambiguate to a variable using `./` notation. From the docs

[2020-08-12 05:55] tmpfs commented on #377
My bad, I tried to create an MVP failed to reproduce the problem and then realized that I needed to upgrade handlebars in my project.

Upgrading to `3.3` fixed the issue for me. Apologies for the bother, closing as not an issue.

[2020-08-12 05:55] #377 closed

[2020-08-12 06:16] sunng87 commented on #377
Yes. This issue was addressed in 3.3. Thanks for reporting. Feel free to ask any question when using this library.

[2020-08-12 07:05] sunng87 commented on #374
I see. Not sure if handlebars.js has solution for this. If we really want to support this, maybe some meta resolver like `valueMissing` can help.

[2020-08-14 09:05] sunng87 commented on #374
After checking handlebarjs docs, this behaviour should be covered by `helperMissing` hook. I will add support for this in next release.

[2020-08-15 05:05] sunng87 commented on #374
@Armiixteryx Just realized this is already supported in handlebars-rust. There is a testcase to describe this: https://github.com/sunng87/handlebars-rust/blob/master/src/render.rs#L1094

[2020-08-15 05:11] #374 closed

[2020-08-16 03:09] tmpfs commented on #371
I just noticed this and a couple of times would have liked to set custom local variables using the `@` prefix but have been unable to do it. Would you consider exposing an API specifically for this purpose? It would be useful to prevent potential naming collisions when iterating in helpers and accepting user-defined arbitrary fields.

If this is already possible would love to know how to do it, th

[2020-08-16 03:13] tmpfs opened #378 "Processing instructions being removed?"
I just started using handlebars in the context of XML documents and noticed that it is stripping the leading XML declaration processing instruction `<?xml version="1.0" encoding="UTF-8"?>`. Is this expected behavior? Is there a way to disable this?

My output file(s) just have an empty line so I know the line break is being preserved. Will put together an MVP to reproduce it.

Thanks :+1:

[2020-08-16 03:18] tmpfs commented on #378
My bad again! Failed to reproduce this in an MVP, I think this is an error with other code in my project!

Sorry.

[2020-08-16 03:18] #378 closed

[2020-08-16 03:50] sunng87 commented on #371
This is possible. The local variable is associated with current block (for example, `#each` and `#with` yields a block) . To access local variable in parent block you can use `@../name`.

Check the source of `each` block for detail. By the way, this API is going to change in #372 and 4.0. The `@` is no longer needed.

[2020-08-16 04:05] tmpfs commented on #371
Ah, thanks! My mistake was not creating a block for my helper iterator. If i create the block i can use `set_local_var()`, awesome 👍

[2020-08-16 04:07] sunng87 commented on #371
Yes. I suggest you to check the implementation of `each` block for your custom block. Let me know if you have any question for it.

The handlebars book #368 was in my backlog. I will cover more detail of helper development in the doc.

[2020-08-28 19:01] Jupp56 opened #379 "Examples do not compile under windows 10"
On Windows, several dependencies are broken when trying to run the examples (tried it with partials, script and render_file)

Tried it on two different machines with Windows 10 and Windows 7 under rustc 1.46.0 (stable).

Not a problem on Ubuntu in a VM though.

I dont say that that is necessarily a problem (solvable) here, but i think it should at least maybe be mentioned.

Compile errors:
[code]

[2020-08-31 00:36] sunng87 commented on #379
Thank you for reporting. It seems our profiling library `pprof` doesn't work on windows. I will try to disable it by default during test.

[2020-09-04 22:48] sunng87 commented on #379
`pprof` removed for now in 3d845e2

[2020-09-14 04:51] tmpfs commented on #371
Thanks so much for the advice @sunng87, after some study I found `set_base_value()` in conjunction with `set_local_var()` to be what I needed :+1:

[2020-09-14 12:28] matsu7874 opened #381 "Condition statement `{{#if null}}` is interpreted as false"
I found strange behavior.

Object key that started "null" is interpreted as false in spite of it's value is true.
Is that a specification?

[code]

[code]

The result is here.
[code]

[2020-09-14 13:47] sunng87 commented on #381
This seems to be a bug with our parser. Let me look into it.

[2020-09-21 14:03] #381 closed

[2020-10-08 13:20] ThouCheese opened #384 "Strict mode does not fail on missing iterable"
Hi! I'm using strict mode to validate whether templates are correct. This works great, since it makes the rendering fail when the template does not match the provided context. However, when a context is used with `#each`, the rendering does not fail. This can be reproduced as follows:

[code]
The output is `hello`, but the expected output would but what I expect would be a `RenderError` saying som

[2020-10-09 07:25] sunng87 commented on #384
Currently the strict enforcement was only applied when we are rendering something.

I think you are right. It makes sense to throw a `RenderError` when

- the value is not iterable
- and there is no `{{else}}` block defined

[2020-10-09 07:26] #371 closed

[2020-10-14 14:21] sunng87 commented on #379
@Jupp56 I just added conditional compilation flags for pprof. Could you please help me to verify if it's fixed on Windows?

[2020-10-15 10:59] #384 closed

[2020-10-18 04:54] tmpfs opened #386 "Detecting stack overflows?"
Hi @sunng87 , I saw [this issue](https://github.com/sunng87/handlebars-rust/issues/44) from a long time ago but it seems I am still able to create stack overflows pretty easily.

I can certainly create them with helpers that call out to `render_template_with_context()`. I think what would be useful would be to be able to pass an existing `RenderContext` into `render_template_with_context()` in ord

[2020-10-18 09:54] vojtechkral opened #387 "Alternative TeX-friendly delimiters"
Hi,
   I am looking to using handlebars-rust in my [project](https://github.com/vojtechkral/bard/tree/doc).
So far I've been using Tera, however, Tera has no dynamic dispatch mechanism, which I'm soon going to need as the structure of the input data gets richer. And handlerbars has the inline partials facility which looks like exactly what I need.

However I also need to generate LaTeX (as well as

[2020-10-19 06:35] sunng87 commented on #387
If feature flag is allowed in pest grammar, it is possible (and also relatively elegant) to use feature flag to control the delimiter.

I'm not going to add runtime switch support because it means to create separated rules which will make this library a little bit bloated.

[2020-10-19 06:39] sunng87 commented on #386
hi @tmpfs , because `RenderContext` is an internal mutable data to maintain the state during rendering. Exposing it in a render method is breaking my design. Could you please show me your code that produces stack overflows maybe I can offer some help.

[2020-10-19 17:59] andrewhickman opened #388 "`Handlebars::register_templates_directory` doesn't handle trailing backslash in path correctly on Windows"
Minimal repo program:
[code]
Run against the following directory structure
[code]
With the path `.\test\`, outputs:
[code]

Note the first letter of the filename has been lost.

[2020-10-20 06:33] tmpfs commented on #386
Hi @sunng87 thanks for taking the time to look into this. Here is a trivial program that will create a stack overflow, it is annotated with some notes of other avenues I have explored for solving the problem:

[code]

From my point of view the logical place to store this *private* call stack information would be on the `RenderContext` but only if I can pass it into the render for the dynamic templ

[2020-10-20 06:48] tmpfs commented on #386
Furthermore while I was researching this I read that issue and noticed how you went about detecting stack overflows can easily be defeated with a single indirection. So I think we need to review how stack overflows are detected. Here is an example that will cause a stack overflow:

[code]

[code]

But your stack overflow check will work correctly without the extra indirection:

[code]

Yields:

[c

[2020-10-20 14:19] sunng87 commented on #386
Hello @tmpfs

For your first example, I will suggest you to render the dynamic template outside the helper if possible:

[code]

For the second case, a fix is welcomed!

[2020-10-22 03:41] sunng87 commented on #388
Thank you for reporting @andrewhickman. I will look into this later

[2020-10-24 03:27] sunng87 commented on #388
@andrewhickman since I don't have a window machine, could you please help me to verify if #389 fixed this?

[2020-10-24 09:40] andrewhickman commented on #388
Yep, that's fixed it, thanks!

[2020-10-25 14:18] sunng87 commented on #387
@vojtechkral how about adding a preprocessor API to transform any template string into another. For your case, you can write your template with `<<`/`>>` but use the preprocessing feature to transform them into standard handlebars delimiters.

[2020-10-25 22:34] vojtechkral commented on #387
@sunng87 That sounds like a very neat idea indeed.

Do you think a TeX-friendly preprocessor function could be part of the library as well, or just the preprocessor API? (I'm asking to know how to scope a possible PR.)

[2020-10-26 03:55] sunng87 commented on #387
I think it's just preprocessor API to be included in the library. The TeX-friendly transform function should stay in your application for now. It will be flexible for you to make changes in the transformation.

[2020-10-26 08:39] vojtechkral commented on #387
Okay, makes sense...

[2020-10-27 11:08] shawntabrizi commented on #258
+1 for running into this issue

[2020-10-28 00:01] Jupp56 commented on #379
It works perfectly now!

Thank you for the consideration, I`m glad I could help.

It seems I found a bug in Gmail however, as it delivered the notification of your message sent by github exactly 14 days late (got the notification a just few minutes ago) :-D.

[2020-10-28 03:13] sunng87 commented on #379
Never mind! Thank you for reporting this. I have added Windows CI on travis to keep the library work on Windows.

Also feel free to let me know if you have any question with using this library.

[2020-10-28 23:20] luke-titley opened #392 "dont url encode"
Is there an option to disable url encoding.
I'm using handlebars to generate c++ code and it's turning:
[code]

into
[code]

[2020-10-29 11:29] empijei opened #393 "Security issue: escaping is not contextual, potential XSS"
Handlerbars currently escapes only based on one function and allows users to specify a custom one, but within a certain template execution it only uses **one** escaping mechanism.

This means that values interpolated in different contexts (html attributes, html text, script, style, urls) are all escaped in the same way, which is known to be a cause for XSS.

**This makes tera inherently unsafe**.

[2020-10-29 13:59] sunng87 commented on #392
@luke-titley you can use following code to disable html escaping:

[code]

You can also use handlebars html expression syntax  `{{{ ... }}}` to disable escaping for particular expression.

[2020-10-29 13:59] #392 closed

[2020-10-29 14:08] sunng87 commented on #393
Thanks for the great insight.

Soy template seems to have the [contextautoesc module](https://github.com/google/closure-templates/tree/master/java/src/com/google/template/soy/parsepasses/contextautoesc) as an example. I will definitely look into this.

[2020-10-29 14:57] sunng87 commented on #258
I'm adding `helper wanted` label for this so anyone interested in could pick this up. I can offer help as much as I can.

[2020-10-29 23:55] luke-titley commented on #392
k, thanks

[2020-11-01 18:24] vojtechkral commented on #387
@sunng87 Ah, I see you started implementing this as well.

Hold your horses please! I'm having second thoughts.

I tried implementing and using this and it turns out the actual preprocess function implementing alternative delimiters would need to be quite complex. Mostly because of correct escaping. It would need to implement detection of escaping of the new delimiters as well as escaping the regu

[2020-11-02 02:42] sunng87 commented on #387
@vojtechkral I see. An alternative idea is to have a macro system similar to `#DEFINE` in C, where you can define the delimiter on the header of your template file. We can use it as a declarative api interface to control the behaviour of the parser. But it needs some design.

I will hold this for future ideas and possible scenarios.

[2020-11-02 16:26] vojtechkral commented on #387
@sunng87 I agree. Sorry for causing you trouble, I only realized the complexity of the preprocess function pretty late...

[2020-11-03 21:02] cedeber commented on #126
Hi, would be nice to have some doc somewhere regarding these helpers. Maybe just copy the previous comment to the README? Thanks.

[2020-11-11 20:02] SuperCuber commented on #258
Currently, in my usage of handlebars, I use the rule of thumb of appending `~` to every part of conditional syntax.
For example:
[code]
Will render as either
[code]
Or
[code]

If I do want an empty line after the if-else block, I put it in both branches, and this of course works with no `else` block as well.

[2020-11-12 01:06] shawntabrizi commented on #258
Yeah I was able to work around this too by actually prepending `~` everywhere:

https://github.com/paritytech/substrate/pull/7447/files

None the less, I still believe (although not 100% sure now) that the handlebars rendering by default would not need such stuff.

[2020-11-25 18:15] rakshith-ravi opened #396 "Registry impl Clone?"
Is it possible for the registry to implement clone so that we can clone it easily and pass it around?

[2020-11-27 16:05] SuperCuber opened #398 "Errors from render_template have themselves as source"
Code:
[code]

Expected output:
[code]

Actual output:
[code]

I haven't tested, but this could also be the case for other functions.

[2020-11-29 13:11] sunng87 commented on #398
This is expected. The `Error` returned from `render_template` is a wrapped type `TemplateRenderError` which has two branch `TemplateError` and `RenderErorr`.  This is going to change in #395 in which I made `TemplateError` a source of `RenderError`

[2020-12-01 14:43] matthiasbeyer opened #399 "Documentation on {{#each}} syntax missing"
The documentation for handlebars is generally really good, but I miss the documentation how to write `{{#each}}` blocks.
Would be lovely to get an update for the docs, I had to read the source to understand how it works, which is unfortunate, IMO.