[2020-12-01 15:27] sunng87 commented on #399
hi @matthiasbeyer , for the syntax part, handlebars-rust tries best to align with the [original javascript version](https://handlebarsjs.com/guide/) so in most case I didn't write my own version of the document.

However, questions about the language are always welcomed. Feel free to raise questions here and I can help with anything inside or outside this library. It also help me to identify  ergo

[2020-12-01 15:27] sunng87 commented on #399
Link for the `each` helper https://handlebarsjs.com/guide/builtin-helpers.html#each

[2020-12-01 19:01] matthiasbeyer commented on #399
I already found out how to do it.
Maybe it would be a good idea to just link the individual handlebarsjs sites from the documentation, for better discoverability?

[2020-12-04 14:09] matthiasbeyer commented on #399
Fixed as of 3e3de3261d422172431b8c0cd0f612bbd5ce94e9

[2020-12-04 14:09] #399 closed

[2020-12-09 15:28] #398 closed

[2020-12-12 23:53] rplopes opened #400 "Segmentation fault with multiple block partials"
I'm getting segmentation fault when working with more than one partial using the block notation.

I've managed to isolate the issue into the following code:

[code]

Running this code, what I expected:

[code]

However, this is what I'm getting instead:

[code]

[2020-12-13 13:41] sunng87 commented on #400
It seems stack overflow happened for `@partial-block`. Thank you for reporting and I will look into this.

[2020-12-14 10:26] SuperCuber commented on #398
#395 is merged but it doesn't look like the behavior changed in master

[2020-12-21 18:18] SuperCuber opened #402 "Errors from render_template have themselves as source - reopen #398"
Opened this since I cannot reopen issue #398 .

Tested on commit 996ada2aed6aa80277b2c4d6bb2008fd1c353083 and the bug is still there.

[2020-12-24 14:51] sunng87 commented on #400
@rplopes could you please try fix in #401 if it works for your case?

[2020-12-24 17:39] rplopes commented on #400
I can confirm it works great indeed, awesome work 👍

[2020-12-25 01:03] mkantor commented on #398
It does look like other errors have duplication between the main message and the `source()`. For example if you do `{{array.[not a number]}}` you'll get an error like `Error on accessing array/vector with string index.: invalid digit found in string` with the `source()` message being `invalid digit found in string`. It's like that for all errors that go through [`RenderError::from_error`](https://

[2020-12-25 01:10] mkantor commented on #398
I also noticed that since #395 these errors have weird punctuation (`Error blah.: whatever`). I opened #403 to fix that.

[2020-12-25 02:38] #400 closed

[2020-12-25 09:56] SuperCuber commented on #398
I think either the outer message should be less detailed with elaboration in `source()`, or have it combined (probably on a case by case basis, for example for messages that have only one option for `source()` it perhaps makes sense to combine them)

I also think this doesn't matter much, because string-based errors basically cannot be caught, only displayed to the user (usually in a stack of `sou

[2020-12-25 10:17] Nemo157 commented on #398
Errors should also not start with the word "Error"

Error reporters such as `anyhow` will add an `Error: ` prefix when printing the error chain, resulting in duplication in the first line (along with the duplication from the error printing its source itself):

[code]

[2020-12-25 13:52] sunng87 commented on #400
@rplopes Thank you again for verifying and your test case has been super helpful.

[2020-12-27 06:01] nathan-osman commented on #388
I'm still seeing this with 3.5.1 on Windows 10 (20H2) :

[code]

Assuming I have the following directory tree:

    templates
      ├── index.hbs
      └── about.hbs

...the code prints:

    Templates:
     - ndex
     - bout

[2020-12-27 06:26] nathan-osman commented on #388
Peering through the source code, I found this:

https://github.com/sunng87/handlebars-rust/blob/e7036051c8d01a51f2fd86360c0dbb9f151d860c/src/registry.rs#L247-L251

Out of curiosity, why is `prefix_len` incremented by 1 if the native path separator isn't present? The function seems to exhibit the expected behavior if I replace it with the following line:

[code]

[2020-12-27 08:52] sunng87 commented on #388
@nathan-osman this is to get the relative path of templates. We don't want the relative path to start with separator, so if given path doesn't end with it, we count it into prefix_len.

The issue seems to be you are using `/` on Windows, which is not the `MAIN_SEPARATOR` on Windows. I can fix this by checking either `/` or `\`.

[2020-12-29 14:43] sunng87 opened #406 "Disable docs for logging macros"
These items should not be visible to user.

[2020-12-30 13:55] sunng87 commented on #406
fixed in 995f65b

[2020-12-30 13:56] #406 closed

[2020-12-30 14:44] sunng87 commented on #388
@nathan-osman 3.5.2 should fix this issue

[2020-12-30 14:44] #388 closed

[2020-12-31 13:57] sunng87 commented on #402
@SuperCuber  I've updated [the error example](https://github.com/sunng87/handlebars-rust/blob/master/examples/error.rs#L30) but still cannot reproduce your issue, the output for `render_template`:

[code]

[2020-12-31 14:04] SuperCuber commented on #402
Seems like this is fixed in https://github.com/sunng87/handlebars-rust/commit/4c667c78cdbdeeb56ec1cf26650950a61e4928fc (it wasn't on `=3.5.2`)

[2020-12-31 14:04] #402 closed

[2021-01-01 05:37] sunng87 commented on #402
Yes, since it is break change I won't port it to 3.x branch.

[2021-01-03 02:28] Lykos94 opened #407 "Register partials directory method request"
Since there is the ```register_templates_directory``` method, it would be useful if there was also a method to register the partials inside a directory. I could help on this feature if help is needed

[2021-01-03 03:38] sunng87 commented on #407
You should be able to templates from `register_templates_directory` as
partials. Let me know if you have any issue with that.

On 03/01/2021 10:28, Lukasz Moskwa wrote:

[2021-01-03 05:00] Lykos94 commented on #407
Yes, it looks like it's working! Thank you :+1:

[2021-01-03 05:00] #407 closed

[2021-01-04 15:51] #258 closed

[2021-01-14 12:17] avnerbarr opened #410 "question - can i register a helper to resolve multiple templates/data on demand instead of pre calculating all data which might not be necessary"
I don't know all of the templates to be rendered ahead of time so i'd like a function which will resolve for any value on the fly - (especially for some which are expensive to calculate and are not necessary for many templates.)
currently I just add all values to the data, even those which are unused.

cheap to create
`"hello {{user_name}}" `

more expensive:
`"hello {{user_name}}, {{some_expensiv

[2021-01-20 13:59] sunng87 commented on #410
Yes. Actually you can access the `Handlebars` registry from helper function, where you can access and render any template that registered.

[2021-01-21 09:45] matthiasbeyer opened #411 "Recursive helper?"
Hi,

would it be possible to build a recursive helper for recursing on a tree-like structure?

E.G.:

[code]

For a tree structure where

[code]

For example? The first argument of the `recurse_with` helper would be a selector that gets the list of children nodes from a node.

---

To expand on that, I would like to implement depth-first and breadth-first recursion, but that shouldn't be too compl

[2021-01-21 09:58] matthiasbeyer commented on #411
Argh,... my problem is actually not a tree structure, but a `BTreeMap<Key, Value>` where each value holds a list of `Key`s that are also in the map.
So, I actually do not need a recursive tree helper, but something different.

I'll leave this open anyways, it might be interesting for others.

[2021-01-27 05:00] wzhsh90 opened #412 "how to change the delimiter"
Hi:

I want to change the delimiter , the delimiter conflict with other js lib.

Is there a way to solve it ?

[2021-01-27 05:26] #412 closed

[2021-02-13 00:22] jknight commented on #392
hbs.**register_escape_function**(handlebars::no_escape);

[2021-02-14 09:45] rnhurt opened #414 "Can you render a template to a JSON structure instead of a string?"
I'm very new to Rust so I'm sorry if this is a silly question.  My application is a AWS CloudFormation template generator and I'm running into an issue with rendering templates to JSON instead of string.

The general flow of my application is:
1. render a GLOBALS template to set global things (AWS account number, IP addresses, AWS region information, etc.)
2. apply that GLOBALS context to each .hb

[2021-02-14 12:08] sunng87 commented on #414
You are doing it right. The conversion is needed because template engine can only deal with text.

But you may want to generate this `GLOBALS` JSON data by set values into a Rust data structure instead of a template. But if the data structure is complex enough, it's OK to doing it your way. There are a lot of applications using this library to generate rust code.

[2021-02-14 19:48] rnhurt commented on #414
@sunng87,

Thank you for the feedback!  The JSON data structure is quite complicated and able to change at any time so it's probably not a good idea to convert it into a Rust data structure.  :thinking:

BTW: Thank you so much for making this library.  I really like it so far and am looking forward to using more Rust in the future!  :heart:

[2021-02-14 19:48] #414 closed

[2021-02-17 17:24] cryarchy opened #416 "Can't access template's hash parameters' values from #each block within template"
I am not sure if this is supported by the handlebars spec or it is achievable in a different way. I am trying to access a variable passed in as a template's hash parameter within an #each block contained by the template. I can access the variable outside of the #each block but cannot seem to find a way to access it within the #each block.

The following code:

[code]

fails with:

[code]

Should t

[2021-02-18 04:22] cryarchy opened #417 "The default implementation of the JsonRender trait does not seem to deliver on its promise"
Rendering a serde_json::Value does not see to retain its default format.

The following code:

[code]

fails with:

[code]

[2021-02-18 13:51] sunng87 commented on #416
Verified [here](https://handlebarsjs.com/playground.html#format=1&currentExample=%7B%22template%22%3A%22%7B%7B%3Einner%20name%3D%5C%22fruit%3A%5C%22%20vegetables%3Dfruits%7D%7D%22%2C%22partials%22%3A%5B%7B%22name%22%3A%22inner%22%2C%22content%22%3A%22%7B%7B%23each%20vegetables%7D%7D%5Cn%20%20%20%7B%7B..%2Fname%7D%7D%20%7B%7Bthis%7D%7D%2C%5Cn%7B%7B%2Feach%7D%7D%22%7D%5D%2C%22input%22%3A%22%7B%20%5C

[2021-02-18 13:53] #410 closed

[2021-02-18 13:58] sunng87 commented on #417
Yes, because the value was rendered as string so there is no way to get its original type. To workaround this issue, there is a typed helper function in `HelperDef`: https://docs.rs/handlebars/3.5.2/handlebars/trait.HelperDef.html#method.call_inner

But for your case, I will recommend our helper macro:

[code]

[2021-02-18 17:16] cryarchy commented on #417
Thanks, @sunng87. The helper macro definitely will be of great help. I will look into the `HelperDef` some more as I cannot figure out at first glance how it would serve as a workaround for the issue above. If you have some free time on your hands I would appreciate an example. In the meantime, I'll soldier on and post an example here for future visitors of this thread if I manage to figure it out

[2021-02-18 20:28] cryarchy commented on #371
I have tried understanding and reproducing in part the implementations for both `#each` and `#with` to implement my own block helper. I am, however, unable to access the parent scope from within my block helper using either `@../parentVariable` and `../parentVariable`. Do I have to explicitly pass in the parent blocks? If yes, how is that achieved. Please help.

[2021-02-19 14:02] sunng87 commented on #371
@cryarchy `@../parentVariable` is the right syntax. Please make sure you have created a block for your current helper.

Do you have a link for your current implementation?

[2021-02-20 00:28] #416 closed

[2021-02-20 05:57] sunng87 commented on #416
@cryarchy this should be fixed in #419 . I will back port this fix to 3.x branch and create a release later today.

[2021-02-20 05:58] sunng87 commented on #417
Thank you! You may also create a pull request for some documentation or example.

[2021-02-20 09:35] cryarchy commented on #416
Awesome. Thank you @sunng87

[2021-02-20 09:46] cryarchy commented on #371
I have tried the `@../parentVariable` with no success. Here is my helper's implementation.

[code]

Sample usage:

[code]

where:

exampleMap = `HashMap<serde_json::Value::String, serde_json::Value>`

[2021-02-23 03:20] cryarchy commented on #371
@sunng87 I was investigating this earlier today and I realized that it now works. I think it is possible that the latest version fixed this. If that is not the case... dunno! Anyways, thank you. For this great project and for the quick and helpful responses.

[2021-03-03 04:39] wzhsh90 opened #420 "how to get each helper length?"
{{#each list}}

{{/each}}

how to get list's length ?

the follow code is wrong
{{#if (gte list.len() 0)}}

{{/if}}

[2021-03-04 08:55] 123shang60 commented on #420
The `length` in handlerbars-rust syntax is not supported

example:

[code]

Compile and run the application, and you can get the response：

[code]

[2021-03-04 14:41] sunng87 commented on #420
Yes. You will need a helper for this. I will create a built-in helper to fill the gap.

[2021-03-07 03:06] #420 closed

[2021-03-09 11:45] YannikSc opened #422 "Invalid syntax if (even an escaped) \ is the last character in quotes"
When defining a string in a template, which contains a `\` as last character (even escaped as `"\\"`) the renderer fails with an `InvalidSyntax` error.

Not sure if this is an intended behaviour, but it definitly feels like a bug and is also not the case in other parsers (like handlebars.js). Sorry if there is already another topic describing this, I have'nt found it.

here is an example which rep

[2021-03-10 15:20] sunng87 commented on #422
These seems to be affected by how we deal with escape in json. It works with [the original javascript version](https://handlebarsjs.com/playground.html#format=1&currentExample=%7B%22template%22%3A%22%3Cp%3E%7B%7Bfirstname%7D%7D%20%7B%7Blastname%7D%7D%20%7B%7Bloud%20%5C%22yes%20%5C%5C%5C%22%7D%7D%3C%2Fp%3E%20%5Cn%22%2C%22partials%22%3A%5B%5D%2C%22input%22%3A%22%7B%5Cn%20%20firstname%3A%20%5C%22Yehu

[2021-03-10 15:21] #417 closed

[2021-03-26 16:09] #422 closed

[2021-03-27 08:18] sunng87 commented on #422
@YannikSc the fix is available in 3.5.4

[2021-04-02 17:05] elmiko opened #426 "Request: "#if" helper blocks on empty lines should consume newlines for block in render"
When using an `#if` helper where the opening (`{{#if condition}}`) and closing (`{{/if}}`) tags are on lines by themselves, the rendered output should consume the newlines for the tags. For example, the [Handlebars documentation on the "if" helper](https://handlebarsjs.com/guide/builtin-helpers.html#if) shows the newlines being consumed around the tags.

A [similar example](https://gist.github.com

[2021-04-03 06:07] sunng87 commented on #426
@elmiko This should have been fixed on upcoming 4.0 release. You can use `4.0.0-beta.2` to verify it.

[2021-04-03 13:51] elmiko commented on #426
i will give that a try, thanks @sunng87 !

[2021-04-03 20:11] elmiko commented on #426
i ran the same program against the 4.0.0-beta.2 version and it definitely looks better.

[code]

there is still a minor difference with the example from the handlebars docs, but i'm happy to close this issue. thanks again!

[2021-04-03 20:11] #426 closed

[2021-05-01 09:23] 5225225 opened #427 "Panic when generating error object for malformed template"
Reproduction code:

[code]

Looks like the actual value of what is in `X` there doesn't matter (and they don't need to be the same character, but can be).

The rest I couldn't remove without the panic not happening.

Stack trace (when testing the above on the latest version, commit 39589d9):

This happens on both the crates.io version as well as the latest version from git.

https://github.com/sun

[2021-05-01 19:06] dscottboggs opened #428 "Get array/string/object length through helper for branching"
For example, I want to do

[code]
but helpers only support writing to output, not returning a value for comparison. Is there a way to write a helper which assists in branching like this?

[2021-05-01 19:11] dscottboggs commented on #428
Never mind, this is resolved by #421. Could this be documented?

[2021-05-01 19:11] #428 closed

[2021-05-02 11:45] sunng87 commented on #427
Good catch. I will create a fix to address this soon.

[2021-05-02 11:51] sunng87 commented on #428
I will. Thanks!

[2021-05-03 08:56] #427 closed

[2021-05-05 10:05] waldreiter opened #432 "Auto-reload for Partials"
Hello,

in `dev_mode` auto-reload works for the main template. But for partials it does not work for me. Am I missing something or is this a bug?

I have version 4.0.0-beta.2 installed.

By the way, I use *handlebars-rust* together with *browser-sync* and *tailwindcss*. That is a very nice and modern way of front-end development. But for making large websites it needs auto-reload for partials.

[2021-05-06 06:59] sunng87 commented on #432
Good catch. Partials seem to be a missing part from dev_mode. Because we loads the main template from disk but use the cached partials. This will be supported before 4.0 and needs some work to refactor the partials system.

It's really nice to hear about your workflow. If you have a repo of your setup please kindly let me know.

[2021-05-07 06:55] cody commented on #432
[Browsersync](https://www.browsersync.io) reloads the website in the browser every time a template changes or the rust server restarts.

[Tailwind](https://tailwindcss.com) is a popular css framework. It works great with handlebars, because[ it just looks for strings](https://tailwindcss.com/docs/optimizing-for-production#writing-purgeable-html).

This is my *package.json*:
[code]

[2021-05-14 07:26] ilyazzz opened #433 "Accessing fields of a ScopedJson returned by helper"
Maybe I'm misunderstanding how objects returned by helpers are supposed to be used, but I was unable to access the fields of an object that my custom handler returns.

I have a helper that looks like this:
[code]
I'm not sure what would be the proper way to access "a" and "b" from it. I have tried using `{{ myhelper["a"] }}`, but it seems to always return `[object]`, regardless of accessing the en

[2021-05-16 13:36] sunng87 commented on #433
@ilyazzz I'm afraid `{{myhelper["a"]}}` is not valid handlebars expression. You can test it on the playground from javascript version: http://tryhandlebarsjs.com/

To implement your scenario, you can try `lookup` with subexpression, like:
[code]

[2021-05-16 15:35] ilyazzz commented on #433
I have tried using lookup, but it doesn't seem to work.

Here's a minimal example. It doesn't print out anything, and I'm not sure why:
[code]
This is a working basic helper in javascript, where the same template syntax does work:
[code]

[2021-05-19 09:42] sunng87 commented on #433
Let me look into this. It seems to be a bug with `lookup` helper

[2021-05-19 14:57] sunng87 commented on #433
Confirmed there is a bug with parser that it cannot recognize subexpression with no parameters. For now, you can workaround this with `{{lookup (myhelper 0) "a" }}`

[2021-05-19 20:13] ilyazzz commented on #433
`if` also seems to be affected, where `{{ #if (myhelper) }}` doesn't work and `{{ #if (myhelper 0) }}` does

[2021-05-20 15:09] sunng87 commented on #433
@ilyazzz could you please verify this behaviour with our latest `master`?

[2021-05-20 18:11] ilyazzz commented on #433
@sunng87 yes, it seems to work properly within my `with` expression now. Thank you.

[2021-05-20 18:11] #433 closed

[2021-05-21 12:47] ilyazzz opened #435 "Helper gets called twice if it returns "false" as a subexpression in with/if"
When using a custom helper in a subexpression and it returns "false" (as interpreted by the `with` and `if` helpers, such as when the helper returns an empty object), it gets called twice.

Here's a reproducible example of this behaviour:
[code]
In this scenario, the helper returns an object when a parameter is passed to it, and nothing otherwise.

When the helper returns an object (so it's unders

[2021-05-22 02:11] #432 closed

[2021-05-22 02:13] sunng87 commented on #432
@waldreiter this should be fixed on our latest master. Let me know if you have any issue with it

[2021-05-22 06:42] DrSloth opened #436 "Async Io / Tokio Support"
Hi,
I am currently working on an async IoT web app and use this crate. I often have changes in templates / user defined templates
and often have to reload them. Currently, all io, such as reading and writing to disk, can only be implemented blocking from what I have seen.
Is async IO / support for Tokio planned, would you accept a PR for simple async IO if it is behind a feature flag?
Or is there

[2021-05-22 12:17] sunng87 commented on #435
This happens when `call_inner` returns `Ok(None)` we treated it as default implementation. To workaround this, you can return `Ok(Some(json!(null)))` for your case.

I will think about to fix this via API change or documentation.

[2021-05-22 12:19] sunng87 commented on #436
Yes, a PR for async is welcomed. Please create it against our latest master branch because 4.0 has a new concept called `TemplateSource`. Let me know if you need help with the PR.

[2021-05-23 03:06] sunng87 commented on #435
@ilyazzz In #437 I will change the return type of `call_inner` and remove the `Option` to avoid misleading of `None` returns. I wish this is the latest breaking change before 4.0 release.

[2021-05-23 05:59] ilyazzz commented on #435
@sunng87 thanks. Could it be documented that it's possible to return a `json!(null)` value from the helper?

[2021-05-25 05:48] sunng87 commented on #435
docstring has been updated on master

[2021-05-25 05:48] #435 closed

[2021-05-25 14:29] DrSloth commented on #436
Sorry for the late answer. I am going to work on this as soon as i have time. I am going to comment here again if any questions arise.

[2021-05-26 02:59] sunng87 opened #438 "Provide additional features for terminal output"
A few cli applications are using handlebars for terminal text output.

The idea is to provide features that benefit scenario of this, like:

* text escape settings
* colored output via helper https://github.com/mackwic/colored
* terminal specific components:
  * progress bar
  * table

This can be implemented within the library as a feature, or a separated one

[2021-05-26 04:06] sunng87 opened #439 "Add len to built-in helpers doc"

[2021-05-26 15:16] #439 closed

[2021-05-29 04:10] sunng87 opened #440 "Valuable as the type system"
Introduction to valuable

* https://tokio.rs/blog/2021-05-valuable
* https://github.com/tokio-rs/valuable

Valuable solve the problem of our data container. Currently by converting data into `serde_json::Value`, it has to be fully copied. According to our `large_loop_helper` benchmark, it takes 50% of time in that case.

[2021-05-29 22:27] SergioBenitez opened #441 "Undocumented (silent!) breaking change"
It seems that https://github.com/sunng87/handlebars-rust/commit/b3f6c3883a28780a3d5dda1e21b9cd64a0346b0f means that using `~` to strip whitespace for what used to be non-helpers now converts them into helpers. This seems like a bug, but I can't be sure; is there a normative description of the syntax somewhere? (The handlebarsjs syntax and the syntax here clearly diverge.)

In any case, this change

[2021-05-30 13:51] sunng87 commented on #441
Thanks for reporting. The 4.0 fixed issue with subexpression resolution and the behaviour should be aligned with handlebarsjs.

For now, you can use `{{> (lookup this "parent")}}` to fix it. This is still minor parser issues for me to support:

* `{{> (lookup . "parent")}}`
* `{{> (lookup this 'parent')}}`

The complete fix will be coming soon.

[2021-05-31 23:31] jeremychone opened #442 "Enhancement - Simplify rendering unregistered precompiled Templates (i.e. export handlebars::StringOutput)"
## Problem

Today only `handlebars::output::StringOuput` is private and not exported as `Output` is. This probably makes sense, but it does make rendering precompiled unregistered `Template`a a little bit cumbersom.

The good news is that `handlebars::Output` is exported and the Context/RenderedContext APIs are simple to use, so duplicating the StringOutput's few lines was not too much work to wor

[2021-06-04 15:36] sunng87 commented on #442
@jeremychone sorry for late response. While it's ok to export `StringOutput`, I'm a little curious about the scenario for skipping registration of a template. Could you describe your use case for that?

[2021-06-07 14:32] yaa110 commented on #441
another undocumented breaking change:

[code]

[2021-06-15 10:06] matthiasbeyer opened #446 "Empty Vector results in "variable not found" error in 4.0.0"
Hi,

my code broke with the update to 4.0.0 and I don't know why this is happening. It _seems_ that handlebars fails to find a variable in the input of my `Handlebars::render()`, but the variable is clearly there (I debug-print the whole datastructure before passing it to handlebars).

I tried to file an PR which tests this in #445 but CI told me I was wrong... I don't see why it breaks in my code

[2021-06-15 10:29] matthiasbeyer commented on #446
So it seems that I have found the issue:

https://github.com/sunng87/handlebars-rust/runs/2828438291?check_suite_focus=true
This workflow run shows that in strict mode, an empty vec is reported as "not found" if there is no `else` block in the template.

I am preparing a patch right now to fix this. I hope I can manage to make it work properly - I hope we agree that a template without `else` shoul

[2021-06-18 00:43] tjkirch opened #447 "Unexpected newline removal"
After https://github.com/sunng87/handlebars-rust/pull/404, it seems lines are being removed a bit too aggressively.  If I have a template like this:

[code]

I would expect it to render like this, if the data is `{"a": true}`:

[code]

This is what happens in handlebars.js, which I tested on [tryhandlebarsjs.com](http://tryhandlebarsjs.com/).

In handlebars-rust 4, this renders as:

[code]

[2021-06-18 13:59] sunng87 commented on #446
Fixed in 445

[2021-06-18 13:59] #446 closed

[2021-06-18 14:01] sunng87 commented on #447
This seems like a bug of empty stripping feature. Let me look into it.

[2021-06-21 21:15] jeremychone commented on #442
@sunng87 very sorry for late answer, I thought I responded but I did not.

So, I do not have this need anymore because I am doing it in another way, but I still think there is a valid use case for it.

Sometimes, we may have some more complex documents that have multiple sub template parts that can be used independently. So, the document is "string addressable", but not necessarily handlebars one,

[2021-06-25 09:46] twittner opened #449 "Strict mode and boolean helpers"
Would it make sense to error if parameter values of boolean helpers are missing in strict mode? For example I would like this test to pass:

[code]

where `z` is unbound. Would something like the following be a sensible solution? It may break existing templates.

[code]

[2021-06-26 03:58] sunng87 commented on #449
@twittner good catch. This make sense with our definition to strict mode, and its implementation in helpers like `each`.  Could you please make this a pull request?

[2021-06-28 14:50] sunng87 commented on #447
@tjkirch could you please help me to verify the fix in #448 has your use case covered?

[2021-06-29 14:14] sunng87 commented on #442
Understood. The reason we hold a strong opinion to cache template is to support features like partial inclusion and template inheritance. These features lookup template from the registry and include them into render process. If templates are not managed by a central registry, it may cause troubles to find them.

I'm closing this for now. Feel free to rise any other questions about the library.

[2021-06-29 14:14] #442 closed

[2021-06-29 15:34] jeremychone commented on #442
@sunng87 I understand and value the partial and template inheritance, I am not sure it's mutually exclusive and I actually see the two mode rather additive. Sometime, you might have a model where you do not need the "leaf" templates to be referred/used in anyway.

Anyway, as long as we can create our own StringOutput, that's fine.

[2021-06-29 23:26] tjkirch commented on #447
@sunng87 I can confirm it fixes the issues I had in unit tests.  I'm having a hard time testing it in a larger context because of the licensing changes of dependencies in v4, but I could raise separate issues if I find anything else after that's worked through.

[2021-06-30 08:28] sunng87 commented on #447
@tjkirch could you be more specific on the licensing changes of dependencies? Perhaps we can find workaround for that

[2021-06-30 14:38] sunng87 commented on #442
No problem. I will export `StringOutput` in next release.

[2021-06-30 17:44] jdesgats opened #450 "Helper arguments starting with a number are split in two parts"
When a helper parameter starts with a number, but contain something else after, it will be split at the first non-digit character.

For example `{{helper 100_000}}` will result in an agument sequence of `[PathAndJson { relative_path: None, value: Constant(Number(100)) }, PathAndJson { relative_path: Some("_000"), value: Missing }]`

I would expect one of:
* String `"100_000"`
* Number `100000`
* S

[2021-06-30 23:40] #447 closed

[2021-07-02 14:33] sunng87 commented on #449
Fixed in #451

[2021-07-02 14:33] #449 closed

[2021-07-02 14:37] sunng87 commented on #450
it seems the underscore separator in number literal is a new feature introduced recently and is not supported by some json parsers and handlebarsjs language. We will hold the support for now.

However as you found out, there is issue with our parser when parsing parameters of helpers. This is also related to #443 . I will attempt to fix it in future.

[2021-07-02 21:42] tjkirch commented on #447
I think I've narrowed it down:
* The new rhai dependency depends on smartstring, which has an MPL-2.0+ license.
* The new pprof dev-dependency:
  * depends on inferno, which has a CDDL-1.0 license.
  * and depends on symbolic-demangle (MIT license) which vendors a subset of swift (slightly modified Apache-2.0 license, for most things) which includes some LLVM components (as far as I can tell, only

[2021-07-03 02:38] sunng87 commented on #447
I see. Thank you for getting back to me.

These issues could happen on 3.x with regular `cargo update`, since semver may not guarantee license compatibility.

I will release 4.1.0 soon to include this fix. Let me know if I could help.

[2021-07-03 13:58] sunng87 commented on #440
changes to adopt Valuable:

- [ ] Update `Context` API to hold a borrowed reference of any `T: Valuable`, currently it owns a converted `serde_json::Value`
- [ ] Update `Registry` render apis to accept `T: Valuable` instead of `serde::Serialize`
- [ ] Update internal type system from `serde_json::Value` to `valuable::Value`, since valuable has more types than JSON, we may need to map between these

[2021-07-05 10:52] jdesgats commented on #450
Thank yo for your reply. To be clear, I am not expecting the number to be parsed correctly (although in my case of rendering TOML, it would make my life easier :smiley:). I managed to work around the problem by passing a constant string `{{helper "1_000"}}` and checking in the helper I have a string parameter (to catch cases where I forget quotes), it works well and I'm happy keeping it that way.

[2021-07-12 07:25] sunng87 opened #453 "rhai 1.0"
Update rhai to its latest stable release

[2021-07-14 01:35] #453 closed

[2021-07-19 21:43] jareddlc opened #456 "How to use .template() for helpers"
I have the following code and i was wondering if there is an example of how to use template().
Obviously this is not how id imagine it works, but i want to write the output of the html code passed (`<hr class="jareddlc-project-hr">`)

[code]

[code]
Any help would be greatly appreciated.

[2021-07-22 09:32] vojtechkral opened #457 "Vanishing newlines"
I think the change at #404 might've been too aggressive, given a template like this:
[code]
~~I get no newline between `bar` and `baz` anymore. I believe there should be one. A workaround is to add a comment right after the closing if, ie. `{{/if}}{{!}}`.~~
But for now I think I'll hold the update to 4.x ...

This is probably tricky to solve correctly.

[2021-07-22 09:37] vojtechkral commented on #457
S imilar issue is with inline partials.
This:
[code]
Should render the foos with newlines inbetween (currently that is not the case).

[2021-07-22 15:01] #387 closed

[2021-07-22 15:08] sunng87 commented on #456
I think you may want to change `NotLastElement` to `{{#unless @last}}` . `@last` is a built-in variable for  `each` to track if it's the last iteration.

[2021-07-22 19:42] jareddlc commented on #456
@sunng87  thanks i didn't see that in the documentation. although i did dig into the macro and was very nice to use.

This is what i ended up writing, but im switching over to your solution thanks.
[code]

[2021-07-22 19:42] #456 closed

[2021-07-25 02:20] sunng87 commented on #457
@vojtechkral for case

[code]

I cannot reproduce the issue as you described for newline between bar and baz. You can check [the commit](https://github.com/sunng87/handlebars-rust/commit/745148da7974e5c87103654d6e92247b14ad83d9) to see if it matches your scenario. However there is a bug with additional newline added ahead of foo and it's fixed in #458

I will be digging into your second case soon

[2021-07-25 07:44] sunng87 commented on #457
@vojtechkral could you help to verify it's handlebars 4.1 on which these issues happened? Changes in #404 could have affected your cases but should have been fixed in 4.1 with #448 . Although I managed to fix some corner cases in #458 but none of them are related to your scenario.

[2021-07-26 20:17] vojtechkral commented on #457
@sunng87 I'll try

[2021-07-26 20:33] vojtechkral commented on #457
@sunng87 Yeah, it looks like the `if` case is gone or wasn't there in the first place, I think I might've relied on pre- #458 behvaiour. Sorry about that.

The `inline` case is still there it seems, in [this file](https://github.com/vojtechkral/bard/blob/main/example/templates/hovorka.hbs#L35) the inline `i-break` doesn't work anymore on 4.1

[2021-07-26 20:42] vojtechkral commented on #457
Hm... however, it looks like the behavior is the same now as in JS handlebars. So, looks like I was relying on nonstandard thing there as well.
Ok, I'll close the bug and update my code.

[2021-07-26 20:42] #457 closed

[2021-07-27 19:01] upachler opened #459 "dev mode activation needs to go before registration"
Hello,

I'm not sure if this is a bug or me overlooking something in the docs, or an undocumented feature:

When trying to wire dev mode into my app, I discovered that `hb.set_dev_mode()` needs to go before `hb.register_templates_directory()`. If `register_templates_directory()` comes first, you're in for a surprise (spoiler: it won't work; changed templates won't reload).

I suggest that either:

[2021-08-03 19:52] bugadani opened #460 "Generic parameter in `handlebars_helper` does not compile."
Because the `handlebars_helper` macro uses `$tt`, the macro fails to compile in the following case:

[code]

[code]

[2021-08-04 14:37] sunng87 commented on #459
Thank you for reporting. This is actually a missing part in our docs.

[2021-08-04 14:38] sunng87 commented on #460
Right. Can you open a pull request for this?

I haven't look into the macro system, is there a replacement for `$tt` to support this?

[2021-08-04 14:54] bugadani commented on #460
Normally, `$ty` should be able to match a type but handlebars supports some interesting syntax using `$tt` so this isn't a simple search and replace problem. I'm not comfortable with handlebars to try and fix it just yet.

[2021-08-05 14:35] #460 closed

[2021-08-06 07:32] paulzhang5511 commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2021-08-06 08:10] Eric-Guo commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2021-08-06 10:46] eliovir commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2021-08-06 11:17] hugoduncan commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2021-08-07 04:04] sunng87 commented on #459
Fixed in 3d495f8

[2021-08-07 04:04] #459 closed

[2021-08-08 09:38] AlongWY opened #462 "Rhai engine should can be extend !"
Can't get the rhai engine so that i can't extent the script system.

[2021-08-08 13:08] sunng87 commented on #462
Let me add `engine()` and `engine_mut()` on `Registry` for `Engine` access

[2021-08-10 02:15] #462 closed

[2021-08-22 11:29] Anonyfox opened #464 "HowTo: Embed JS in HTML?"
I currently want to build a standalone HTML file that is self-contained, eg.:

[code]

should be replaced with

[code]

so, i downloaded the file, used it in my code with `include_str!` but had no luck so far embedding it within my html template without breaking the code. Something in this file seems broken when trying to embed it.

On another project, I successfully embedded bootstrap with a help

[2021-08-22 13:36] sunng87 commented on #464
Can you post the error you have with `remark-latest.min.js`?

[2021-08-23 14:36] Anonyfox commented on #464
[code]

[2021-08-24 02:10] sunng87 commented on #464
That was because the javascript source may contains characters that handlebars treated as statements. You can inject these javascript files when rendering data. A helper can be handy for this:

template:

[code]

helper:

[code]

[2021-08-24 08:51] Anonyfox commented on #464
alright, thank you, this works in principle. Indeed it looks like there is something wrong with the specific remark.js file, maybe some delimiter.

![Screenshot](https://user-images.githubusercontent.com/1140758/130587236-6178f41c-900d-4b0b-a46f-23a9b53c3e31.png)

anyways, this is out of the scope of this crate I'd guess, so thanks for your support (and making my other embeddings (like bootstrap)

[2021-08-24 08:51] #464 closed

[2021-09-07 10:50] ppentchev opened #467 "Disappearing whitespace after an expression?"
Hi,

Thanks a lot for writing and maintaining handlebars-rust!

To be honest, I am not even sure if this is really an issue or if this is how Handlebars is supposed to work. I am not using it for rendering HTML, so whitespace could be significant, although in this particular case I have a usable workaround.

In short, could you take a look at https://gitlab.com/ppentchev/test-whitebars and specifi

[2021-09-08 14:33] sunng87 commented on #467
I managed to reproduce this issue with your case. It seems to be a bug with our template parser. The whitespaces behind `}}` was ignored.

[2021-09-09 15:19] sunng87 commented on #467
Fixed in #468

[2021-09-09 15:19] #467 closed

[2021-09-10 14:55] #396 closed

[2021-09-29 10:44] theowenyoung opened #470 "signle quote not working"
Test:

[code]

Throw,
[code]

[2021-09-29 14:29] sunng87 commented on #470
Single quote is not supported for now. Is there any workaround for your scenario?

[2021-09-29 15:14] theowenyoung commented on #470
Thanks for your replay!

I want use a helper: like `<html lang="{{first_non_empty lang 'en'}}">`

but I tried `<html lang="{{first_non_empty lang 'en'}}">`, `<html lang="{{first_non_empty lang [en]}}">`, `<html lang="{{first_non_empty lang \"en\"}}">`, neither of them can work.

Am I missed anything?

[2021-09-29 15:16] theowenyoung commented on #470
Here is the first_non_empty helper code: https://github.com/davidB/handlebars_misc_helpers/blob/master/src/string_helpers.rs#L20

[2021-09-29 15:59] sunng87 commented on #470
@theowenyoung have you checked if `<html lang="{{first_non_empty lang "en"}}">` works for you?

[2021-10-05 14:17] madelaney opened #471 "Unable to include html in handlebars_helper"
I'd like to write a `handlebars_helper` in which takes a `str` and replaces all new lines (`\n`) with an HTML line break (`<br />`). However, it appears that the HTML is getting escaped into `&lt;` and `&gt;` (respectively).

The help code that I'm using looks like this:
[code]

Is there a way to not have the `<` and `>` escaped out?

- Mike D.

[2021-10-05 14:22] sunng87 commented on #471
A quick fix for this is to call the helper with `{{{nl_to_br text}}}`.

You can also define the helper by implementing `HelperDef` trait by yourself, which you can use the `Output` API to skip html escape.

[2021-10-05 14:28] madelaney commented on #471
@sunng87  Thanks for the quick reply. However, when I try to invoke the helper with triple brackets, I get a syntax error:

[code]

[2021-10-05 15:11] madelaney commented on #471
I believe I have something working but I'm new to handlebars within Rust so I'm not sure if it's the most elegant approach, any feedback would be appricated:

[code]

[2021-10-05 15:23] sunng87 commented on #471
@madelaney the helper looks good.

I just created a test to demo the helper call within a triple brackets expression: https://github.com/sunng87/handlebars-rust/commit/dd6dcdd84f78a12f97893dc58aa6ea14a792ec1f . Also please make sure you are using the latest version of handlebars-rust library.

[2021-10-05 16:25] madelaney commented on #471
Thanks @sunng87 , I think there are enough alternative paths that we can close this out.

[2021-10-05 16:25] #471 closed

[2021-10-18 09:33] AlexTalker commented on #55
Feel like I've missed the party but anyway:
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option

[2021-11-04 09:44] mlafeldt opened #472 "Unexpected trimming of whitespace after loop"
Given a template like this:

[code]

handlebars 4.1.3 will remove the empty line after the loop (in fact, it will remove all empty lines if there are any):

[code]

I'm wondering why that happens though? I don't use `~` or anything else that controls whitespace. My understanding is that rendering should not change any non-templating bits.

[2021-11-04 09:53] mlafeldt commented on #472
Might be related to #468

[2021-11-04 14:04] sunng87 commented on #472
I can reproduce this issue. Thanks for reporting.

It has something to do with our empty line trimming strategy. We should trim at most one line. I will create a fix in days.

[2021-11-05 02:40] sunng87 opened #474 "Add clippy check to Github actions"

[2021-11-05 14:16] #472 closed

[2021-11-06 09:50] #474 closed

[2021-11-06 09:51] sunng87 commented on #472
Released in 4.1.4

[2021-11-15 16:11] beltram commented on #470
Hi,

using single quotes actually works up to version `3.5.3`. It starts failing with [this commit](https://github.com/sunng87/handlebars-rust/commit/f9290a68b30fbc213662cea9e68133f1ee01d5cc) introduced in `3.5.4`.

With my usage of handlebars, I must cope with a specification enforcing the usage of single quotes e.g. `{{now offset='3 days'}}`. It would be awesome to have single quote support back

[2021-11-16 10:21] sunng87 commented on #470
@beltram Thank you for investigation and we can reopen this.

[2021-11-16 14:53] #470 closed

[2021-11-16 14:55] sunng87 commented on #470
@beltram It should be fixed in #475. Could you please verify if the current master branch work you? I can create a release tomorrow if it's ok

[2021-11-16 15:24] beltram commented on #470
@sunng87 indeed #475 works and fixes the issue. Thank you very much !

[2021-11-18 11:12] sunng87 commented on #470
@beltram the fix was released in 4.1.5

[2021-11-28 15:08] pchampin opened #477 "Context should implement From<serde_json::Value>"
I have a `serde_json::Value` that I would like to use directly as the data of a template.
Using `render` is possible (since value implements `Serialize`) but my understanding is that the Value will be serialized, and deserialized again, which is a waste of CPU time...
I would like to convert my `Value` into a `Context` so I can use `render_with_context`, but that does not seem to be possible...

A

[2021-11-29 03:00] sunng87 commented on #477
You can use `Context::wraps` to convert `Value` into a reusable `Context`.

[2021-11-29 06:03] pchampin commented on #477
But that will suffer from thé same problem as `render`: `wraps` expects any `Serialze` soi t will serialize and deserialize it again... That's precisely thé kind of useless roundtrip that I want to avoid...

[2021-11-30 11:02] shujaatak commented on #12
Anxiously waiting for this feature!
Any updates?

[2021-11-30 11:23] sunng87 commented on #12
@shujaatak Unfortunately there is no progress for this feature. Contributions are welcomed for this.

[2021-11-30 11:33] sunng87 opened #478 "rust-embed integration"
https://github.com/pyros2097/rust-embed

Rust-embed embeds external resources into rust binary. It would be nice to provide first-class citizen support for the library so that we can `register_embedded_template` like we did with directory.

[2021-12-01 12:05] pchampin commented on #477
Not sure why you need to change `Context` with a `Cow`...
An impl of `From<serde_json::value::Value>` would be as simple as
[code]

[2021-12-01 13:14] pchampin commented on #477
Maybe I'll explain my use-case more clearly.
My web application is retrieving data from a (local) REST API, which produces `application/json` responses. I parse these responses as a `serde_json::Value`, and I would like to pass that value *as is* (or cheaply wrapped in a `Context`)  to Handlebars, without the useless cost of a serialize-deserialize round-trip.

I do not intend to reuse the corresp

[2021-12-02 15:06] sunng87 commented on #477
You are right. I missed the point. It's reasonable to have the conversion trait for Context.

[2021-12-03 15:37] sunng87 commented on #477
released in 4.1.6

[2021-12-03 15:37] #477 closed

[2021-12-06 03:43] #450 closed

[2021-12-14 17:21] notdanilo opened #480 "I can't get partials recursion working"
I am not sure if I am doing it correctly but here is the code:

[code]

`project.template`
[code]

`module.template`
[code]

[2021-12-20 17:39] wpd opened #481 "Question: What does it mean to "register" a template?"
The documentation for `register_template()` states:
Register a Template

The documentation for `register_template_string()` states:
Register a template string
etc..

But I am unclear as to what it means to "register" a template and as to the purpose of the `name` parameter.

Where could I learn more?  Is this something that is specific to Handlebars for Rust?  Or is it described in more detail in

[2021-12-20 20:39] wpd commented on #481
Never mind... I found the documentation.  Sorry for the spam.

--wpd

[2021-12-20 20:39] #481 closed

[2021-12-22 07:34] DrSloth commented on #436
Hello. I am sorry i forgot about this for some while and revisited it last weekend.
I couldn't find a way where async is really benficial here, as far as i can see the compiler is not really made for "streaming" parsing and compiling. Compiling a template is obviously cpu bound and for some benefit the compiler would need to handle "steams" of data rather than directly parsing a string.
The read c

[2021-12-27 16:45] nswarm opened #482 "Partials do not respect the indentation from source content"
Partial calls only use indentation defined in the partial template itself.

### Example

inner.hbs
[code]

outer.hbs
[code]

main.rs
[code]

Result:
[code]

### Handlebars JS Handling
Handlebars js by default uses the indentation of the partial call itself, but has a compiler flag to disable this functionality, see `preventIndent` in the [Handlebars.compile options.](https://handlebarsjs.com/api-r

[2021-12-27 18:33] nswarm commented on #482
I've worked around my use case for with a custom block helper that explicitly injects indentation into its rendered content.

[2021-12-27 18:36] piscespieces opened #483 "How can I use CSS or JS files in my HTML <head> tag?"
- I have a simple server (actix-web) that uses handlebars to render a single HTML page (index.html).
- My `static/templates/index.html` gets rendered with the expected data.

[code]

- If I were to add a `<link>` tag pointing to a CSS (or a `<script>` tag pointing to a JS file or CDN) file in the same directory, it wouldn't read it. **Why?**

Here's an excerpt of my `main.rs` file

[code]

[2021-12-28 07:23] sunng87 commented on #483
This is weird. Handlebars has no knowledge with your html structure (at least for current version). Can you show me your error message?

[2021-12-28 14:08] sunng87 commented on #482
Thank you for reporting! I will look into my template parser to see if `preventIndent` can be supported.

[2021-12-29 01:45] #478 closed

[2022-01-02 21:12] piscespieces commented on #483
It was just matter of specifying a path to where to serve the static files

[code]

[2022-01-02 21:12] #483 closed

[2022-01-04 16:21] #482 closed

[2022-01-05 13:43] emi2k01 opened #487 "Nested partials cause stack overflow"
[code]

The infinite recursion seems to be something like (top-down/outer-inner order):

- `Template::render` (1)
    - `TemplateElement::render`
        - `partial::expand_partial`
            - `partial::find_partial`
                - `Registry::get_or_load_template_optional`
            - Back to (1)

[2022-01-05 14:25] sunng87 commented on #487
handlebarsjs renders this as

[code]

This could have something to do with how we store `@partial-block`

[2022-01-05 14:58] emi2k01 commented on #487
I thought it only crashed if the partial was the same but it also crashes with:

[code]

My project's blocked on this so I'll try to fix it asap. Do you have any suggestions for where I should look at? I'll try to make sense of the call-stack I posted in the issue.

[2022-01-05 15:44] emi2k01 commented on #487
It seems that when the inner partial is rendering, the code that gets the template from `@partial-block` returns the `@partial-block` of the outer partial which makes it start rendering the outer partial again.

[2022-01-05 16:25] emi2k01 commented on #487
I think I found it.

`push_partial_block` prepends the partial block to the stack but `get_partial` always gets the partial block at the end of the queue.

So with:

[code]

nested partials the stack looks like `[partial 3, partial2, partial1]` and `get_partial` always gets `partial1`

[2022-01-05 17:11] emi2k01 commented on #487
I'm not sure what would be the best way to fix this.

[2022-01-08 03:57] sunng87 commented on #487
it seems `partial_block_depth` is not correctly maintained so `get_partial` failed to return its current one. investigating...

[2022-01-09 02:22] sunng87 commented on #487
@emi2k01 can you please check the fix in #488 if it works for your cases?

[2022-01-09 02:41] emi2k01 commented on #487
I think it does. Thank you so much

[2022-01-09 02:41] #487 closed

[2022-01-11 07:03] xuzn opened #489 "Vanishing newlines"
Cargo.toml
[code]

tests.rs
[code]
cargo test
[code]

[2022-01-11 11:57] sunng87 commented on #489
@xuzn it seems the behaviour is consistent with [the original javascript version](https://handlebarsjs.com/playground.html#format=1&currentExample=%7B%22template%22%3A%22%5B%5Cn%20%20%20%20%7B%7B~%23each%20items%20as%20%7Citem%7C%7D%7D%5Cn%20%20%20%20%7B%7Bitem%7D%7D%2C%5Cn%20%20%20%20%7B%7B~%2Feach%7D%7D%5Cn%5D%5Cn%22%2C%22partials%22%3A%5B%5D%2C%22input%22%3A%22%7B%5Cn%20%20items%3A%20%5B1%2C2%2

[2022-01-12 09:39] sunng87 opened #490 "New optional features not showing up in rustdoc"
Functions behind `rust-embed` feature flag are not showing up in docs.rs. We are using the default feature name `rust-embed` generated by cargo, but it seems rustdoc does not recognize it.

[2022-01-12 13:46] #489 closed

[2022-01-17 14:49] sunng87 commented on #490
Fixed by add `rust-embed` to `package.metadata.docs.rs`

[2022-01-17 14:49] #490 closed

[2022-01-21 22:08] mladedav opened #491 "How to create a block helper with a macro?"
The README says we can also create block helpers but I couldn't find an example, the documentation just mentions which arguments can be passed to the closure, but I can't find anything about evaluating the block inside.

Can an example be provided? I haven't even found any tests concerning this, all tests use just simple parameters and implement functions like "is less than 10".

[2022-01-22 08:47] sunng87 commented on #491
hi @mladedav , creating block helper with macro is not supported because block helpers contains more logic than just operating with parameters. You can find example by checking the implementation of [`if`](https://github.com/sunng87/handlebars-rust/blob/master/src/helpers/helper_if.rs) and [`each`](https://github.com/sunng87/handlebars-rust/blob/master/src/helpers/helper_each.rs).

[2022-01-22 12:02] mladedav commented on #491
Sorry, I seem to have misread the README, it just says that we can create block helpers, but doesn't mention the macro at that point.

Thank you for the pointer.

[2022-01-22 12:02] #491 closed

[2022-02-02 13:22] github-actions[bot] opened #492 "RUSTSEC-2020-0077: memmap is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `memmap`                      |
| Version             | `0.7.0`                   |
| URL                 | [https://github.com/danburkert/memmap-rs/issues/90](https://github.c

[2022-02-02 13:22] github-actions[bot] opened #493 "RUSTSEC-2021-0127: serde_cbor is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `serde_cbor`                      |
| Version             | `0.11.2`                   |
| URL                 | [https://github.com/pyfisch/cbor](https://github.com/pyfisch/cb

[2022-02-21 14:13] #492 closed

[2022-03-01 12:52] njust opened #495 "Partial parameters should have precedence over parent context"
With a template like this
[code]
And the data

[code]
The expected output is:
[code]

But with version 4.2.1 the output is:
[code]

[2022-03-05 01:57] sunng87 commented on #495
@njust could you test if the fix in #496 works for your full scenario?

[2022-03-07 11:08] njust commented on #495
Unit test works and the full scenario as well. Thanks for the fix!

[2022-03-07 11:08] #495 closed

[2022-04-03 21:52] Diegovsky commented on #436
You would have to rewrite the parser to work with streams. Maybe using a buffer so it can go back a few bytes or forwards while parsing. I unfortunately don't have much time (and expertise) otherwise I would open a PR :(

[2022-04-27 10:37] KalitaAlexey commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2022-04-29 23:03] TheButlah commented on #482
#486 does not appear to have actually solved this. If the next put into the partial spans multiple lines, the next line does not keep the same indentation as the first line.

Also, it appears as though none of the tests for indentation in partials test what happens if the string that is going to be used for the render spans multiple lines.

[2022-05-10 06:18] sunng87 opened #502 "Add example for helper macro"

[2022-05-11 20:19] TheButlah commented on #482
Can this please be reopened? Or should I file a new issue?

[2022-05-12 01:59] sunng87 commented on #482
@TheButlah could you please provide me a demo template for reproducing this?

[2022-05-14 07:27] sunng87 opened #504 "Partial indent should apply to every line of partial string"
[Case](https://handlebarsjs.com/playground.html#format=1&currentExample=%7B%22template%22%3A%22%7B%7B%23*inline%20%5C%22thepartial%5C%22%7D%7D%5Cn%20%20inner%20first%20line%5Cn%20%20inner%20second%20line%5Cn%7B%7B%2Finline%7D%7D%5Cn%20%20%7B%7B%3E%20thepartial%7D%7D%22%2C%22partials%22%3A%5B%5D%2C%22input%22%3A%22%7B%5Cn%20%20firstname%3A%20%5C%22Yehuda%5C%22%2C%5Cn%20%20lastname%3A%20%5C%22Katz%5

[2022-05-14 07:28] sunng87 commented on #482
I've created #504 to track this.

[2022-05-14 07:57] #502 closed

[2022-05-16 17:41] #504 closed

[2022-05-20 19:25] TheButlah commented on #482
Sorry, I just saw this! It looks like you solved it though :)
I'll post in #504  if I have any further bugs

[2022-05-31 13:18] oersted commented on #72
@ghotiphud Did you end up publishing your helpers to implement this? Is there an alternative nowadays?

[2022-06-01 02:58] kitwon commented on #208
In recent days I have tried to wrap `register_helper` using WASM. I have found two apis `Function::new_no_args` and `Function::from` in `js-sys` package. It is mostly like javascript eval function, so we can save javascript function template and call it like `eval` when calling rust helper. 🤔

Here is the code:
[code]

And we can hack the js callback param `options` like the struct `HelperOptions`

[2022-06-01 06:38] sunng87 commented on #208
Perhaps we can use `HelperOptions` to hold enough information(`render_context`, `registry` and etc) and make `template()` and `inverse()` call that actually renders the template with that information.

[2022-06-01 07:20] kitwon commented on #208
🤔 Ah, I have tried but it does not work, because the `wasm_bindgen` cannot have **lifetime** parameters.

Maybe we can use a static to hold **that information**, but for me it is another complicated workaround. Is it possible to ask you to provide more details about it?

[2022-06-01 09:49] sunng87 commented on #208
Thank you! This feature is welcomed. Do you have a full example of your current usage of this library via wasm and javascript? I'm just wondering the scenario of defining helpers via javascript.

[2022-06-02 02:12] kitwon commented on #208
Not yet.
I was using **handlebars.js** and doing some surveys about other more efficient template engines.

But I think the first step is to do some performance test for the `js_helper`, because the data exchange cost here is a black box. But I need to start doing this after 4 days and will comment here again if any questions arise.

[2022-06-06 11:25] vojtechkral opened #509 "Handlebars.js incompatibilities"
I've ran into two subtle incompatibilities with the reference implementation

1. I was accidentally using expression in the shape `{{ (helper variable) }}`. This syntax is rejected by hbs.js, with hbs-rust it's not rejected and somehow the (string) result of that `helper variable` expression gets interpreted - when the string contains names of helpers, it will try to evaluate them.
   I found out

[2022-06-06 15:25] vojtechkral commented on #509
@sunng87 thank you!

TBH I don't remember, but I think it was a mistake...

[2022-06-09 09:42] vojtechkral commented on #509
Awesome, thank you!

[2022-07-01 08:04] RoCry opened #512 "Supports `Result` for helper function"
In production code the helpers may returns error, we could returns the underlying error from helper when `render_template`.

Below are some pseudo-code:

[code]

[2022-07-02 10:02] sunng87 commented on #512
This is possible by down-casting `error.source()` to your own error type. I've made an example to demo this:

1. Create `RenderError` from your own error type via `RenderError::from_error`: https://github.com/sunng87/handlebars-rust/blob/master/examples/error.rs#L20
2. Down-casting the cause of render error for your own type: https://github.com/sunng87/handlebars-rust/blob/master/examples/error.rs

[2022-07-05 02:20] RoCry commented on #512
The example solved my question. But it may be easier for me if:

1. Change the `handlebars_helper!` to `handlebars_helper_returns_result!`
2. Add a new `handlebars_helper!` based on 1 and keep the api exactly same with previous versions.

Is this make sense for you as well?

[2022-07-13 07:31] samuelpilz opened #514 "Add `render[_template]_with_context_to_write`"
There are `render_template_with_context` and `render_template_to_write` functions, but the combination seems to be currently not supported.
Can this be added?

[2022-07-14 03:09] #514 closed

[2022-07-14 03:10] sunng87 commented on #514
I will create a release soon.

[2022-07-14 11:13] samuelpilz opened #516 "Is it possible to define expression-helper?"
The [handlebars documentation](https://handlebarsjs.com/guide/builtin-helpers.html#sub-expressions) allows something along the lines of:

[code]
[code]

Is this possible with this library?

[2022-07-14 12:42] Nutomic opened #517 "Unable to access full array inside of #each"
I need to do something like this in my template:
[code]

This fails with error `find_comment_position helper: Couldn't read parameter comments`. If i remove the helper invocation and just use the variable, the error changes to `Variable "../comments" not found in strict mode.` Using post.comments instead of ../comments results in the same errors.

Using handlebars 4.3.0

[2022-07-14 14:28] Nutomic commented on #517
Sorry it seems i just misunderstood how handlebars works. Instead of `../comments`, i had to use `../post.comments`.

[2022-07-14 14:28] #517 closed

[2022-07-14 16:43] #516 closed

[2022-07-15 00:26] sunng87 commented on #516
Never mind. Let me improve the docs of the custom helper support.

[2022-07-16 23:07] forbjok opened #519 "Passing variables to partial does not work when model is specified in 4.0.0 and later"
The following worked fine in 3.x:

[code]

Expected result, as seen in 3.x:
[code]

However, starting with 4.0.0, the variable "something" becomes blank if a model is specified.

[code]

I don't know whether this is a bug, or some obscure change in the syntax that requires a change in templates, but either way it's a breaking change and I can't seem to find a way to make this work if I need to pas

[2022-07-17 02:20] sunng87 commented on #519
The feature for using both hash and param context was broken during the refactoring in 4.x. This could be added back and I will be looking into this soon.

[2022-07-18 02:20] #519 closed

[2022-07-18 06:59] sunng87 commented on #512
For helper returning `Result` I would recommend to use `impl HelperDef ` and implement `call_inner` directly: https://docs.rs/handlebars/latest/handlebars/trait.HelperDef.html#method.call_inner

I will add an example for this use case.

[2022-07-18 07:31] sunng87 commented on #512
You can still reuse this as an example of defining helper with API that exposes the `Result`: https://github.com/sunng87/handlebars-rust/blob/master/examples/error.rs#L20

[2022-07-18 15:07] mainrs opened #521 "Whitespace in content removed completely."
My template looks like this:

[code]

I create my `ParsedEntityStruct` like this:

[code]

The whitespace at the start gets removed. `parsed.content` contains `MyName(MyNamePrompt)` only.

[2022-07-19 00:43] mkantor commented on #521
What library are you using to parse out front matter (where does `matter.parse_with_struct` come from)? I imagine that's eating the whitespace, not this library. You can confirm by inspecting the contents of `rendered`.

[2022-07-19 02:53] sunng87 commented on #521
@mainrs like @mkantor said, could please verify if `rendered` is as you expected?

[2022-07-19 10:38] #521 closed

[2022-07-20 06:28] sunng87 commented on #519
Fixed in 4.3.3

[2022-08-02 20:18] darnuria opened #524 "Improve stability of the benchmark"
Some benches were not totally stable on my computer (it's really hot these days, maybe I hit the temp freq switch of my cpu in the benches)

But on some case maybe black boxing and increasing the measurement (now 100 by default) is a start:

doc of criterion black_box: https://docs.rs/criterion/latest/criterion/fn.black_box.html

[2022-08-03 01:20] sunng87 commented on #524
Our benchmark is highly CPU-intensive, so the condition of your system and CPU throttle matters. Could you please verify if `block_box` really help?

[2022-08-22 21:21] DogsCodesStudio opened #526 "Css files not loading with actix"
I have

[code]
[dependencies]
actix-web = "4"
actix-files = "0.6.2"
handlebars = { version = "4.2.1", features = ["dir_source"] }
serde = { version = "1.0.143", features = ["derive"] }
serde_json = "1.0.72"
[code]

[2022-08-23 02:12] sunng87 commented on #526
Typically template engine is not responsible for css loading. Could you please check your generated content to see if it has correct css file path?

[2022-08-23 21:15] DogsCodesStudio commented on #526
![image](https://user-images.githubusercontent.com/98062743/186267029-143cf1cc-ae31-4431-9434-73faa92847bd.png)
had link ref as 404.css and that didn't work but that did kinda weird but alright

[2022-08-23 21:47] darnuria commented on #524
Hi, thanks for the reply, it passed under the radar, may have some time to do some tests this week with/without black-bloc on personnal and work computers.

[2022-08-24 02:07] sunng87 commented on #526
You are using the file system absolute path for the css file. Just remove the path `/var/www/templates/`  from html and see if it works.

[2022-09-11 23:54] lovasoa commented on #157
Support for asynchronous helpers would help me a lot in [sqlpage](https://github.com/lovasoa/sqlpage)

Currently I hand-roll my own template-splitting solution to be able to call rennder across await points, but this is less than ideal.

[2022-09-12 00:04] lovasoa opened #529 "Rendering a template requires it to live for as long as the registry"
Currently the types in this crate allow Template objects to live outside of the registry, but the lifetime annotations of the render method make it very hard to actually implement a system like that.

Is there a reason why a template that lives shorter than the registry where partials are stored couldn't be rendered?

I would need that for [sqlpage](https://github.com/lovasoa/sqlpage)

[2022-09-12 03:45] sunng87 commented on #529
IIRC there is no particular reason for that just because it was assumed that all templates are managed by the registry. Do you have an example that I can work on to verify?

For now you can use `render_template` to render it directly from string with a little cost of parsing. Actually in `render_template`'s implementation, template lives short than the registry.

[2022-09-12 14:01] lovasoa commented on #529
I need this because I am handling my own customized template cache, so re-parsing the templates every time would make the whole thing useless. Would it be hard to remove the `'reg` lifetime on self in `Renderable::render` ?

[2022-09-13 01:46] sunng87 commented on #493
Fixed with criterion 0.4 update.

[2022-09-13 01:46] #493 closed

[2022-09-13 18:39] lovasoa commented on #529
Thank you very much ! Don't hesitate to share your progress so that I can test it in [SQLPage](https://github.com/lovasoa/SQLpage).
And do we need to add a new lifetime ? Couldn't we have a simpler signature like

[code]

[2022-09-15 14:25] sunng87 commented on #529
Removing lifetime won't work because some constants from template are passed within rendering call chain, which requires explicit lifetime. The currently design assumes all templates are stored within registry so data in templates shares same lifetime of registry.

An alternative approach for your problem is to create multiple registries and manage them with your strategy.

[2022-09-15 20:07] lovasoa commented on #529
I do need a single registry, but need to store templates in my own data structure. Unsafely transmuting the lifetimes just works and doesn't cause any memory issue, which seems to indicate that it is indeed possible to relax the lifetime requirements, at least in my case. Does the registry actually store borrowed information from the template being rendered ? If not, the lifetime requirement is to

[2022-09-15 20:11] lovasoa commented on #529
Would it be possible to at least have the requirement that the template lives longer than the context `'rc`, but not the registry `'reg` ?

[2022-09-16 16:41] franklinblanco opened #531 "Why is registry private?"
<img width="815" alt="Screen Shot 2022-09-16 at 12 40 47 PM" src="https://user-images.githubusercontent.com/72827992/190688141-da1cdacc-e8a9-4783-b9ce-6ba6466f3507.png">
I want to register all my templates on server start. I made this method but realized I can't return Registry from a method because even though it is public the base package registry is private. Why is this the case? Are we suppose

[2022-09-17 00:58] sunng87 commented on #531
`Registry` is exposed with name `Handlebars`. Just use `handlebars::Handlebars` for registry.

[2022-09-17 00:58] #531 closed

[2022-09-24 10:45] #529 closed

[2022-09-27 14:17] mojindri opened #534 "Issue with dynamic template?"
in my project, i have a couple of templates that are registered at run time and on the other hand, in my main render, i simply render the, the issue is , the rendering working correctly, since i had an update from verion 3.5 to 4.3.

Js structure
`modules {
     module: "my  template name registred by register_partial"
}`

`{{#each modules}}
    {{> (module) content  df_style=true }}
   {{/each}}`

[2022-10-03 16:48] manunio opened #535 "Integration with oss-fuzz fuzzing service"
Hi @sunng87, I would like to help integrate this project into [OSS-Fuzz](https://github.com/google/oss-fuzz).

- As an initial step for integration I have created this PR: https://github.com/google/oss-fuzz/pull/8649, it contains necessary logic from an OSS-Fuzz perspective to integrate handlebars-rust.

- OSS-Fuzz is a free service run by Google that performs continuous fuzzing of important open

[2022-10-04 07:18] sunng87 commented on #535
@manunio Thank you for your proposal! Although we had some fuzz test config but we did not pass the test. As a template engine our input is typically something looks like a handlebars template. At least for now, I think fuzz test does little help to improve the library.

[2022-10-04 07:21] sunng87 commented on #535
I just moved our unmaintained fuzz tests.

Anyway, thank you very much for investigating oss-fuzz for handlebars-rust.

[2022-10-04 07:21] #535 closed

[2022-10-04 07:25] sunng87 commented on #534
@mojindri sorry for late response. This behaviour is changed in 4.x to align with original javascript version.

The new way to do that is like what documented in javascript docs: https://handlebarsjs.com/guide/partials.html#dynamic-partials

[code]

[2022-10-04 08:13] mojindri commented on #534
hi @sunng87 ,
thanks for the info,
but one question after trying this code, i have noticed, inside of my modules,  this pieace of code doesnt work as before:

 `                  <table role="presentation" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            {{ to_title_case title }}
                        </tr>
                    </table>`

it rai

[2022-10-04 08:50] sunng87 commented on #534
By the way in handlebars-rust you need to change my previous example to:

[code]

And the case that requires `content.title` here seems like a bug. I have created a testcase to reproduce it.

[2022-10-04 10:45] mojindri commented on #534
thanks again for the quick fix ,
will there be any release in this month?

[2022-10-04 13:09] sunng87 opened #537 "Web playground"
We need a web playground to demo and verify template or data. The playground should allow user to provide:

- a base template
- several partials with names
- data as json string
- helper defined as rhai script

The data gathered from user input is passed to web assembly module. The the result or error message is given back to user.

Web playground can be deployed to github pages via github action.

[2022-10-11 09:01] sunng87 commented on #514
Yes. I will add functions for this soon.

On 13/07/2022 15:31, Samuel Pilz wrote:

[2022-10-17 13:38] doowonee opened #539 "Can I use Handlebars struct in async move tokio spawn?"
Hello I'm struggling about anonymous lifetime of `Registry`

Here is the code.

[code]

Rust compiler said

[code]

Even I removed wrapping Arc and it's shows me error too. I have to use `tokio::spwan`

Help me please

[2022-10-17 15:05] doowonee commented on #539
Thank for your answer! I used lazy_static to solve my problem. I posted the code for someone who is same with my case. It works like a charm thank you.

[code]

[2022-10-17 15:05] #539 closed

[2022-10-18 09:28] mojindri opened #540 "Issue with handlebars-rust 4"
Hi,
i have this code {{eq image.link null}} in a partial template,  image.link: is an object that i pass through as JSON object, and whenever is null, this expression should output true, this code used to work with handlebars 3.5.5 well, but with latest version of handlebars, i face this issue  : [..helper: Couldn't read parameter x],  same issue i see also for
{{ someHelper "15px" (not image.disa

[2022-10-19 09:32] sunng87 commented on #540
There are some changes for partial context in 4.0. It seems you have strict_mode turned on and `image.link` is null. Could you please provide me some more context about your partial and how you pass data into partial?

[2022-10-19 10:26] Nutomic opened #541 "If lookup with parenthesis causes error"
I was surprised by the following code throwing an error:
[code]

There are two ways to fix it. Either disable strict mode, or replace template string with the following (note removed parenthesis inside if).
[code]

I would expect the original code to work, based on [handlebars docs](https://handlebarsjs.com/guide/expressions.html#subexpressions).

[2022-10-20 09:33] mojindri commented on #540
hi @sunng87 ,
sure!,
i pass data(serialisable serde) using .render function as part of its argument,  and handlebars-rust kinda iterate the data and binds it to corresponding partial template,
----
one question is it possible somehow to tell handlebars to ignore null variables in strict_mode?
thanks for support :)
moji

[2022-10-22 08:08] sunng87 commented on #541
I believe `{{#if lookup my_vec 1}}` is not what you want because it checks if `lookup` is a valid value and ignores `my_vec` and `1`.

The error is thrown by strict check because your second element in `my_vec` is `None`. But I agree that in this case, strict mode should not throw error. Let me improve this behaviour in our upcoming 5.0 beta releases.

[2022-10-22 08:08] sunng87 commented on #540
Do you have a minimal example to reproduce this?

[2022-10-25 13:33] #541 closed